{% extends "scout/base.html" %}

{% load staticfiles %}

{% block title %}Page not found{% endblock %}

{% block web_content %}

<div id="page_404" class="scout-content">
    <div class="scout-card" style="margin:0;">
        <h2 class="visually-hidden">404 error</h2>
        <p style="color:red;">404 Error. The page or file you requested, cannot be found.</p>
    </div>
</div>

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}
