{% extends "scout/base.html" %}
{% load staticfiles %}

{% block title %}Scout{% endblock %}

{% block web_content %}

<div id="page_404" class="scout-content">
    <div class="scout-card scout-error" style="margin:0;">
        <h2 class="visually-hidden">Error Header</h2>
        <!--<p class="scout-error-msg">Placeholder error message</p>-->

        <div class="scout-error-body">
            <p>Due to the number of campus buildings and services moving to reduced hours or closing completely due to COVID-19, Scout's browsing features are offline until further notice.  The web sites below have up-to-date information on generally available spaces and services.</p>
            <p>The Scout team hopes that you stay safe and healthy.</p>
            <h3>UW Seattle</h3>
            <ul>
                <li>Libraries: <a target="_blank" rel="noopener noreferrer" href="https://www.lib.washington.edu/coronavirus/">https://www.lib.washington.edu/coronavirus</a></li>
                <li>The HUB: <a target="_blank" rel="noopener noreferrer" href="https://hub.washington.edu/home/hub-hours/">https://hub.washington.edu/home/hub-hours</a></li>
                <li>UW Seattle HFS (dorm) restaurants and other amenities: <a target="_blank" rel="noopener noreferrer" href="https://hfs.uw.edu/Suspended-Operations/">https://hfs.uw.edu/Suspended-Operations</a></li>
                <li>Student Technology Loan Program: <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/uwstlp/">https://www.facebook.com/uwstlp</a></li>
            </ul>
            <h3>UW Tacoma</h3>
            <ul>
                <li>Library: <a target="_blank" rel="noopener noreferrer" href="https://www.tacoma.uw.edu/library/covid-19-updates">https://www.tacoma.uw.edu/library/covid-19-updates</a></li>
                <li>General campus information: <a target="_blank" rel="noopener noreferrer" href="https://www.tacoma.uw.edu/about-uw-tacoma/coronavirus-central-information-resource">https://www.tacoma.uw.edu/about-uw-tacoma/coronavirus-central-information-resource</a></li>
            </ul>
            <h3>UW Bothell</h3>
            <ul>
                <li>Library: <a target="_blank" rel="noopener noreferrer" href="https://guides.lib.uw.edu/bothell/onlinesupport">https://guides.lib.uw.edu/bothell/onlinesupport</a></li>
                <li>General campus information: <a target="_blank" rel="noopener noreferrer" href="https://www.uwb.edu/safety/coronavirus/student-services">https://www.uwb.edu/safety/coronavirus/student-services</a></li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/seattle/WinterCampus_1-X3.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}
