{% extends "scout/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}{{spot.name}}{% endblock %}

{% block web_content %}

<div id="page_{{spot.spot_id}}" class="scout-content">

    <div class="scout-details-container" role="main" aria-labelledby="spot_header">

        <h2 class="visually-hidden" id="spot_header">{{spot.name}}</h2>

        <div class="scout-card scout-details-card" data-latitude="{{ spot.latitude }}" data-longitude="{{ spot.longitude }}" data-spotname="{{ spot.name }}" data-building="{{ spot.building_name }}">

            <h3 class="visually-hidden">Overview</h3>

            {% if spot.images %}
            <div class="scout-spot-image spot-detail-main-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}/?width=500');"></div>
            {% else %}
            {% endif %}
            <div>
                <div class="scout-spot-meta clearfix">

                    <div class="scout-spot-name">{{spot.name}}</div>

                    <!--
                    <div class="scout-spot-food-served hidden" aria-hidden="true">
                        <span>Food served</span>
                        {% if spot.foodtype_names %}
                            {% for foodtype in spot.foodtype_names %}
                                <span>{{ foodtype }}</span>
                            {% endfor %}
                        {% else %} <span style="color:red;">missing foodtype</span> {% endif %}
                    </div>
                    -->

                    <div class="scout-spot-status" role="status" aria-live="polite">{% if spot.is_open %}<span class="open">Open now</span>{% else %}<span class="closed">Closed</span>{% endif %}</div>

                    {% if spot.open_periods %}
                    <div class="scout-spot-open-period">
                        <span>Today's Open periods</span><ol>
                        {% if spot.open_periods.morning %}
                            <li>Morning</li>
                        {% endif %}
                        {% if spot.open_periods.afternoon %}
                            <li>Afternoon</li>
                        {% endif %}
                        {% if spot.open_periods.evening %}
                            <li>Evening</li>
                        {% endif %}
                        {% if spot.open_periods.late_night %}
                            <li>Late Night</li>
                        {% endif %}</ol>
                    </div>
                    {% endif %}

                </div>

                {% if spot.has_alert %}
                <div class="scout-spot-alert" role="alert">
                    <i class="fa fa-exclamation-triangle"></i> {{ spot.alert_notes }}
                </div>
                {% endif %}
            </div>

            <div class="scout-spot-info">

                <h4 class="visually-hidden">Contact information</h4>

                {% if spot.website_url %}
                <div class="scout-spot-info-item">
                    <a href="{{spot.website_url}}" target="_blank">
                        <span class="visually-hidden">Website:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">View website</span>
                    </a>
                </div>
                {% endif %}

                {% if spot.menu_url %}
                <h4 class="visually-hidden">Menu information</h4>
                <div class="scout-spot-info-item">
                    <a href="{{spot.menu_url}}" target="_blank">
                        <span class="visually-hidden">Restaurant menu URL:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">View menu</span>
                    </a>
                </div>
                {% endif %}

                {% if spot.phone %}
                <div class="scout-spot-info-item">
                    <a href="tel:+1{{ spot.phone }}">
                        <span class="visually-hidden">Restaurant phone:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">{{ spot.phone | format_phone }}</span>
                    </a>
                </div>
                {% endif %}

            </div>

        </div>

        <div class="scout-spot-content">
        {% if spot.location_description %}
        <div class="scout-card">

            <h3>Type</h3>
            <div style="font-size:14px;text-transform:capitalize;margin-bottom:20px;">
                {% for type in spot.spot_types %}<span>{{ type.name|remove_underscores }}{% if not forloop.last %}, {% endif %}</span>{% endfor %}
            </div>

            <h3>Description</h3>
            <div class="scout-spot-description">{{spot.location_description}}</div>

        </div>
        {% endif %}

            <div class="scout-card">
                <div class="scout-spot-hours">
                    <h3>Hours</h3>
                    <ul style="margin-bottom: 15px;">
                        <li><span class="day">Monday:</span> {% for hours in spot.hours.monday %}{% if not forloop.first %}, {% endif %} {{ hours.0|time:"P"|upper|remove_periods }} - {{ hours.1|time:"P"|upper|display_midnight|remove_periods }}{% empty %}<span class="closed">Closed</span>{% endfor %}</li>
                        <li><span class="day">Tuesday:</span> {% for hours in spot.hours.tuesday %}{% if not forloop.first %}, {% endif %} {{ hours.0|time:"P"|upper|remove_periods }} - {{ hours.1|time:"P"|upper|display_midnight|remove_periods }}{% empty %}<span class="closed">Closed</span>{% endfor %}</li>
                        <li><span class="day">Wednesday:</span> {% for hours in spot.hours.wednesday %}{% if not forloop.first %}, {% endif %} {{ hours.0|time:"P"|upper|remove_periods }} - {{ hours.1|time:"P"|upper|display_midnight|remove_periods }}{% empty %}<span class="closed">Closed</span>{% endfor %}</li>
                        <li><span class="day">Thursday:</span> {% for hours in spot.hours.thursday %}{% if not forloop.first %}, {% endif %} {{ hours.0|time:"P"|upper|remove_periods }} - {{ hours.1|time:"P"|upper|display_midnight|remove_periods }}{% empty %}<span class="closed">Closed</span>{% endfor %}</li>
                        <li><span class="day">Friday:</span> {% for hours in spot.hours.friday %}{% if not forloop.first %}, {% endif %} {{ hours.0|time:"P"|upper|remove_periods }} - {{ hours.1|time:"P"|upper|display_midnight|remove_periods }}{% empty %}<span class="closed">Closed</span>{% endfor %}</li>
                        <li><span class="day">Saturday:</span> {% for hours in spot.hours.saturday %}{% if not forloop.first %}, {% endif %} {{ hours.0|time:"P"|upper|remove_periods }} - {{ hours.1|time:"P"|upper|display_midnight|remove_periods }}{% empty %}<span class="closed">Closed</span>{% endfor %}</li>
                        <li><span class="day">Sunday:</span> {% for hours in spot.hours.sunday %}{% if not forloop.first %}, {% endif %} {{ hours.0|time:"P"|upper|remove_periods }} - {{ hours.1|time:"P"|upper|display_midnight|remove_periods }}{% empty %}<span class="closed">Closed</span>{% endfor %}</li>
                    </ul>

                    {% if spot.hours_notes %}
                    <h4><i class="fa fa-file-text"></i> Hours Notes</h4>
                    <div class="scout-spot-notes">{{spot.hours_notes|linebreaksbr}}</div>
                    {% endif %}

                    {% if spot.display_access_restrictions %}
                    <h4><i class="fa fa-file-text"></i> Access Notes</h4>
                    <div class="scout-spot-notes">{{spot.access_notes|linebreaksbr}}</div>
                    {% endif %}

                </div>

            </div>

            <div class="scout-card">

                <div class="scout-spot-location">
                    <h3>Location</h3>

                    <h4 class="visually-hidden">Building information</h4>
                    <div class="scout-spot-building-info">
                        <div><strong><span class="visually-hidden">Building:</span>{% if spot.building_name %}{{ spot.building_name }}</strong>{% endif %}</div>
                        {% if spot.floor %}<div>Floor: {{ spot.floor }}</div>{% endif %}
                        {% if spot.room_number %}<div>Room: {{ spot.room_number }}</div>{% endif %}
                    </div>

                </div>

                {% if request.is_mobile %}
                <h4 class="visually-hidden">Map</h4>
                <div class="scout-spot-map">
                    <div id="food_detail_map" data-mobile="true" style="height:100%;"></div>
                </div>
                {% endif %}

                <div class="scout-spot-map-link">
                    {% if request.is_ios %}
                    <a href="maps://maps.apple.com/maps?daddr={{ spot.latitude }},{{ spot.longitude }}&dirflg=w" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-map-action-text">Get Directions in Apple Maps</span>
                    </a>
                    {% else %}
                    <a href="//maps.google.com/maps?daddr={{ spot.latitude }},{{ spot.longitude }}&dirflg=w" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-map-action-text">Get Directions in Google Maps</span>
                    </a>
                    {% endif %}
                </div>

            </div>

            <div class="scout-card">
                <h3>Details</h3>

                {% if spot.has_reservation %}
                <h4><i class="fa fa-bookmark"></i> Reservations</h4>
                <div class="scout-spot-reservation">{{spot.reservation_notes}}</div>
                {% endif %}

                <h4><i class="fa fa-credit-card"></i> Payment accepted</h4>
                <div class="scout-spot-payment">
                    <ul>
                        {% for payment in spot.payment_names %}
                        <li>{{ payment }}</li>
                        {% endfor %}
                    </ul>
                </div>

                {% if spot.has_coupon %}
                <h4><i class="fa fa-ticket"></i> Coupon</h4>
                <div class="scout-spot-coupon">
                    <a href="{{ spot.coupon_url }}" target="_blank" style="margin: 10px 0;">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-coupon-action-text">View the coupon</span>
                    </a>
                    <div class="scout-spot-coupon-expire"><span>Expiration:</span> {% if spot.coupon_expiration %}{{ spot.coupon_expiration }}{% else %}No expiration specified{% endif %}</div>
                </div>
                {% endif %}

            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block secondary_content %}
<!-- show a map on the list page -->
<div id="food_detail_map" class="scout-spot-detail-map" style="height:100%;" aria-hidden="true"></div>
{% endblock %}
