<form>
    <div class="scout-card clearfix">
        <fieldset>
            <legend>Campus</legend>
            <div id="campus_select">
                <label><input type="checkbox" name="seattle" value="seattle" />Seattle</label>
                <label><input type="checkbox" name="bothell" value="bothell" />Bothell</label>
                <label><input type="checkbox" name="tacoma" value="tacoma" />Tacoma</label>
                <label><input type="checkbox" name="south_lake_union" value="south_lake_union" />South Lake Union</label>
            </div>
        </fieldset>
    </div>
    <div class="scout-card clearfix">
        <fieldset>
            <legend>Open period</legend>
            <div id="open_now">
                <label><input type="checkbox" name="open_now" value="open_now" />Open Now</label>
            </div>
            <div id="period_select">
                <label><input type="checkbox" name="breakfast" value="breakfast" />Breakfast <span>(5am - 11am)</span></label>
                <label><input type="checkbox" name="lunch" value="lunch" />Lunch <span>(11am - 3pm)</span></label>
                <label><input type="checkbox" name="dinner" value="dinner" />Dinner <span>(3pm - 10pm)</span></label>
                <label><input type="checkbox" name="late_night" value="late_night" />Late Night <span>(10pm - 5am following day)</span></label>
            </div>
        </fieldset>

    </div>

    <div class="scout-card clearfix">
        <fieldset>
            <legend>Type</legend>
            <div id="type_select">
                <label><input type="checkbox" value="cafe">Cafes</label>
                <label><input type="checkbox" value="cafeteria">Cafeteria</label>
                <label><input type="checkbox" value="food_court">Food Court</label>
                <label><input type="checkbox" value="food_truck">Food Truck</label>
                <label><input type="checkbox" value="market">Market</label>
                <label><input type="checkbox" value="restaurant">Restaurant</label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Payment Accepted</legend>
            <div id="payment_select">
                <label><input type="checkbox" value="s_pay_cash">Cash</label>
                <label><input type="checkbox" value="s_pay_husky">Husky Card</label>
                <label><input type="checkbox" value="s_pay_dining">Dining Card</label>
                <label><input type="checkbox" value="s_pay_visa">Visa</label>
                <label><input type="checkbox" value="s_pay_mastercard">Mastercard</label>
            </div>
        </fieldset>
    </div>

    <div class="scout-card clearfix">

        <p style="font-size:14px; color:#333;">Choose one or multiple of the following choices to narrow/expand your results.</p>

        <fieldset class="scout-filter-split">
            <legend>Cuisine</legend>
            <div id="cuisine_select">
                <label><input type="checkbox" value="s_cuisine_american">American</label>
                <label><input type="checkbox" value="s_cuisine_bbq">BBQ</label>
                <label><input type="checkbox" value="s_cuisine_chinese">Chinese</label>
                <label><input type="checkbox" value="s_cuisine_hawaiian">Hawaiian</label>
                <label><input type="checkbox" value="s_cuisine_indian">Indian</label>
                <label><input type="checkbox" value="s_cuisine_italian">Italian</label>
                <label><input type="checkbox" value="s_cuisine_korean">Korean</label>
                <label><input type="checkbox" value="s_cuisine_mexican">Mexican</label>
                <label><input type="checkbox" value="s_cuisine_vietnamese">Vietnamese</label>
            </div>
        </fieldset>
        <fieldset class="scout-filter-split">
            <legend>Food served</legend>
            <div id="food_select">
                <label><input type="checkbox" value="s_food_burgers">Burgers</label>
                <label><input type="checkbox" value="s_food_breakfast">Breakfast</label>
                <label><input type="checkbox" value="s_food_curry">Curry</label>
                <label><input type="checkbox" value="s_food_desserts">Desserts</label>
                <label><input type="checkbox" value="s_food_entrees">Entrees</label>
                <label><input type="checkbox" value="s_food_espresso">Espresso</label>
                <label><input type="checkbox" value="s_food_frozen_yogurt">Frozen Yogurt</label>
                <label><input type="checkbox" value="s_food_groceries">Groceries</label>
                <label><input type="checkbox" value="s_food_pasta">Pasta</label>
                <label><input type="checkbox" value="s_food_pastries">Pastries</label>
                <label><input type="checkbox" value="s_food_pho">Pho</label>
                <label><input type="checkbox" value="s_food_pizza">Pizza</label>
                <label><input type="checkbox" value="s_food_salads">Salads</label>
                <label><input type="checkbox" value="s_food_sandwiches">Sandwiches</label>
                <label><input type="checkbox" value="s_food_smoothies">Smoothies</label>
                <label><input type="checkbox" value="s_food_sushi_packaged">Sushi (packaged)</label>
                <label><input type="checkbox" value="s_food_tacos">Tacos</label>
            </div>
        </fieldset>
    </div>

    <div class="scout-filter-actions">
        <button id="reset_button" type="button" class="action-cancel"><i class="fa fa-refresh"></i>Reset</button>&nbsp;&nbsp;
        <button id="run_search" type="button"><i class="fa fa-list fa-inverse"></i>View Results</button>
    </div>

</form>
