{% extends "scout/base.html" %}
{% load staticfiles %}

{% block title %}Filter places{% endblock %}

{% block web_content %}
<div id="page_filter" class="scout-content">

    <h2 class="visually-hidden">Filter</h2>

    <div class="scout-filter-container">
        {% include "scout/include/filter.html" %}
    </div>

</div>
{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}
