{% extends "scout/base.html, scout/base-pjax.html"|pjax:request %}

{% block content %}
<div class="scout-list">
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 1</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a>  
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 2</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 3</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 4</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 5</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 6</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 7</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 8</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 9</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 10</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 11</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 12</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 13</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 14</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 15</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 16</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
    <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true{% endif %}" class="list-group-item">
        <h4>Food Spot 17</h4>
        <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
    </a> 
</div>
{% endblock %}
