/*** framework7 overrides ***/

.item-media {
    
    img { border-radius: 100%; }
}

.button .ripple-wave {
    background-color: #ff0000;
}  
/*** android styles  ***/

body { font-family: 'Roboto', sans-serif; }

.scout-list {
    a { background: red; margin-bottom: 10px; display: block; padding: 1em; text-decoration: none; }
}