# copy this file to .env and edit to set custom values.

# Port you wish to access Django's dev server on.
#PORT=8002

# Show the Covid-19 news splash instead of the map.
#SCOUT_SHOW_NEWSSPLASH=True

# Live spotseeker server settings.
#RESTCLIENTS_SPOTSEEKER_HOST=http://localhost:8001
#RESTCLIENTS_SPOTSEEKER_DAO_CLASS=Live

# Spotseeker oath variables
# Generate these with: ./manage.py create_consumer or
# docker exec -it bin/python manage.py create_consumer
#SPOTSEEKER_OAUTH_KEY=tempkey
#SPOTSEEKER_OAUTH_SECRET=tempsecret
