{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}

{% load staticfiles %}

{% block title %}404{% endblock %}

{% block web_content %}

<div id="page_404" class="scout-content" style="padding-top:10px;">
    <div class="scout-card">
        <h2 class="visually-hidden">404 error</h2>
        <p style="color:red;">404 Error. The page or file you requested, cannot be found.</p>
    </div>
</div>

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}

{% block hybrid_content %}
{% endblock %}
