{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}

{% load staticfiles %}

{% block title %}500{% endblock %}

{% block web_content %}

<div id="page_500" class="scout-content">
    <h2>500 error</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at viverra nulla. Morbi facilisis vulputate augue porta fringilla. Proin eget dignissim enim. Donec laoreet vulputate arcu non viverra. Nulla facilisi. Aenean convallis dolor eros, vitae hendrerit nibh dapibus vitae. Vivamus volutpat lacus dui, non commodo orci elementum non. Nulla neque nulla, eleifend nec aliquet sed, tristique sit amet lectus. Nam ac vestibulum dui. Praesent vehicula et erat quis finibus. Donec volutpat pretium ligula, ornare imperdiet lorem sagittis id. Donec enim est, tristique ut iaculis dapibus, ornare quis metus.</p>
</div>

{% endblock %}


{% block hybrid_content %}
{% endblock %}
