{% load staticfiles %}
{% load scout_filters %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        {% include "scout/include/app_head.html" %}
    </head>

    <body {% if request.is_mobile or request.is_tablet %}data-mobile="true"{% endif %}>

        <div class="scout-primary">

            <div id="header" class="scout-header">

                {% if request.is_mobile or request.is_tablet %}
                <h1 style="background: url('{% static "scout/img/scout.png" %}') no-repeat 5px; background-size:50px;">
                {% else %}
                <h1 style="background: url('{% static "scout/img/scout.png" %}') no-repeat 0px; background-size:13%;">
                {% endif %}
                <a id="link_home" href="/" title="List of food places on campus">FoodScout</a></h1>

                <div class="scout-navigation" role="navigation" aria-label="main navigation">
                    <ul class="scout-navigation-items">
                        <li><a id="link_discover" href="/" title="Discover places to eat on campus">Discover</a></li>
                        <li><a id="link_food" href="/food/" title="List of food places on campus">Places</a></li>
                    </ul>
                </div>

            </div>

            <div id="scroll" class="scout-scroll">
                <div id="content" class="scout-content">
                    {% block web_content %}{% endblock %}
                </div>
            </div>

            <div id="footer" class="scout-footer" role="contentinfo">
                <div style="padding-left:20px;">&copy; 2016 UW-IT, Academic &amp; Collaborative Appliations. <a href="http://www.washington.edu/online/privacy/">Privacy</a> <a href="http://www.washington.edu/online/terms/">Terms</a></div>
            </div>

        </div>

        {% if not request.is_mobile and not request.is_tablet %}
        <!-- desktop only extra container -->
        <div class="scout-secondary" aria-hidden="true">
            {% block secondary_content %}{% endblock %}
        </div>
        {% endif %}

    </body>
</html>
