{% extends "brand/brand.html" %}

{% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scout</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="cleartype" content="on">

    {% load staticfiles %}
    {% load compress %}

    <!-- favicon and mobile device icons-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "vendor/ico/apple-touch-icon-144x144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "vendor/ico/apple-touch-icon-114x114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "vendor/ico/apple-touch-icon-72x72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "vendor/ico/apple-touch-icon-57x57-precomposed.png" %}">
    <link rel="shortcut icon" href="{% static "vendor/ico/favicon.ico" %}">

    <!-- windows8 - tile icon  & color -->
    <meta name="msapplication-TileImage" content="{% static "vendor/ico/apple-touch-icon-144x144-precomposed.png" %}">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- ios webapps - delete if not needed -->
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">

    {% if request.is_mobile %}
        <!-- critical (above the fold styles) -->
        {% compress css inline %}
        <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
        <link rel="stylesheet" href="{% static "brand/css/brand.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
        {% endcompress %}
        <!-- async (mobile) -->
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.5.0.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
    {% endcompress %}
    {% endif %}

    {% if request.is_tablet %}
        <!-- critical (above the fold styles) -->
        {% compress css inline %}
        <!-- inline -->
        <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
        <link rel="stylesheet" href="{% static "brand/css/brand.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
        {% endcompress %}
        <!-- async (mobile + tablet) -->
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.5.0.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
        {% endcompress %}
    {% endif %}

    {% if is_desktop %}
        <!-- critical (above the fold styles) -->
        {% compress css inline %}
        <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
        <link rel="stylesheet" href="{% static "brand/css/brand.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.5.0.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/desktop.scss" %}" type="text/x-scss">
        {% endcompress %}

        <!-- async (mobile + tablet + desktop) -->
        {% compress css %}
        {% endcompress %}

    {% endif %}

    <!-- javascript -->
    {% compress js %}
    <script async="async" src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
    <script async="async" src="{% static "scout/js/web.js" %}"></script>
    <script async="async" src="{% static "scout/js/map.js" %}"></script>
    <script async="async" src="{% static "scout/js/filter.js" %}"></script>
    <script async="async" src="{% static "scout/js/navigation.js" %}"></script>
    <script async="async" src="{% static "scout/js/list.js" %}"></script>

    <!-- turbolinks must be last -->
    <script async="async" src="{% static "turbolinks/turbolinks.js" %}"></script>
    {% endcompress %}

    <link href='https://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css'>

    <!-- this script is penalized for being a render blocker... but the trade-off is better since it works best w/ turbolinks -->
    <script src="//maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js"></script>

    {% if google_analytics %}
    <!-- google analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ google_analytics }}', {% if devtools_bar %}{'cookieDomain': 'none'}{% else %}'auto'{% endif %});
        ga('send', 'pageview');
    </script>
    {% endif %}

{% endblock %}

{% block header %}
<a href="/">Scout</a>
{% endblock %}

{% block top-nav %}
<ul class="scout-navigation-items">
    <li><a id="link_discover" href="/discover/">Discover</a></li>
    <li><a id="link_all" href="/">Food</a></li>
    <!--<li><a id="link_filter" href="/filter/">Filter</a></li>-->
</ul>
{% endblock %}

{% block content %}
    <div id="scroll" class="scout-scroll">

        <div id="content" class="scout-content">

            {% block web_content %}{% endblock %}

        </div>
    </div>
{% endblock %}
