<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Scout{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta http-equiv="cleartype" content="on">
        
        {% load staticfiles %}
        {% load compress %}

        <!-- critical css (above the fold styles) -->
        {% compress css inline %}
        <!-- inline -->   
        <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/inline.scss" %}" type="text/x-scss">
        {% endcompress %}
        
        <!-- webfonts -->
        <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        
        {% if request.is_mobile %}
        {% compress css %}
        <!-- bootstrap & font awesome -->
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <!-- mobile -->   
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
        {% if request.is_tablet %}
        {% compress css %}
        <!-- bootstrap & font awesome -->
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <!-- mobile + table -->
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
    </head>
    <body>
                       
        <div id="content" class="scout-content">
        
            <!-- all pjax content will render inside of this id -->
            <div class="scout-pjax-content">
                {% block content %}{% endblock %}
            </div>
            
        </div>
       
        <script src='//maps.googleapis.com/maps/api/js?v=3&sensor=false&signed_in=true&callback=initializeMap' defer></script>
                
        {% compress js %}
        <!-- global javascript -->
        <script src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
        {% endcompress %}
        
    </body>
</html>
