{% load staticfiles %}
{% load scout_filters %}
{% load user_agents %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <title>{% block title %}{% endblock %} &middot; UW Scout</title>
        {% include "scout/include/head.html" %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body {% if request|is_mobile or request|is_tablet %}data-mobile="true"{% endif %}>

        <div class="scout-primary">

            <div id="header" class="scout-header">

                {% if request|is_mobile or request|is_tablet %}
                <h1 style="background: url('{% static "scout/img/scout-small.png" %}') no-repeat 12px; background-size:35px;">
                {% else %}
                <h1 style="background: url('{% static "scout/img/scout-small.png" %}') no-repeat 8px; background-size:38px;">
                {% endif %}
                <a id="link_home" href="/{{ campus }}/" title="Discover UW places and items">Scout</a>
                </h1>

                <div class="scout-campus-chooser">
                    <div>
                        <label id="location_select_heading" for="campus_select_base" class="visually-hidden">Select campus:</label>
                        <select id="campus_select_base">
                            <option value="seattle" {% if campus == 'seattle' %}selected{% endif %}>Seattle</option>
                            <option value="bothell" {% if campus == 'bothell' %}selected{% endif %}>Bothell</option>
                            <option value="tacoma" {% if campus == 'tacoma' %}selected{% endif %}>Tacoma</option>
                        </select>
                    </div>
                    <div class="scout-campus-display">
                        <i class="fa fa-chevron-circle-down"></i>
                    </div>
                </div>

                <div class="scout-navigation" role="navigation" aria-label="main navigation">
                    <ul class="scout-navigation-items" role="tablist">
                        <li role="tab" {% if app_type == 'food' %}aria-selected="true"{% endif %}><a id="link_food" href="/{{ campus }}/food/" {% if app_type == 'food' %}class="active"{% endif %} title="List of food places on campus"><i class="fa fa-cutlery" aria-hidden="true"></i> Food</a></li>
                        <li role="tab" {% if app_type == 'study' %}aria-selected="true"{% endif %}><a id="link_study" href="/{{ campus }}/study/" {% if app_type == 'study' %}class="active"{% endif %} title="List of study places on campus"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Study</a></li>
                        <li role="tab" {% if app_type == 'tech' %}aria-selected="true"{% endif %}><a id="link_tech" href="/{{ campus }}/tech/" {% if app_type == 'tech' %}class="active"{% endif %} title="List of technology resources on campus"><i class="fa fa-laptop" aria-hidden="true"></i> Tech</a></li>
                    </ul>
                </div>

            </div>

            <div id="scroll" class="scout-scroll">
                {% block web_content %}{% endblock %}
            </div>

            <div id="footer" class="scout-footer" role="contentinfo">
                <div style="margin-left:20px;float:left;">&copy; {% now "Y" %} UW-IT, AXDD <a id="link_privacy" href="http://www.washington.edu/online/privacy/" title="UW Privacy Policy">Privacy</a> <a id="link_terms" href="http://www.washington.edu/online/terms/" style="margin-left:5px;" title="UW Terms & Conditions of Use">Terms</a></div>
               
            
                <div style="float:right;margin-top:0px;"class="dropup">
        
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="https://itconnect.uw.edu/tools-services-support/teaching-learning/spacescout/faq/">About Scout</a>
                          <a class="dropdown-item" href="https://itconnect.uw.edu/tools-services-support/teaching-learning/spacescout/">Scout help</a>
                          <a class="dropdown-item" href="https://itconnect.uw.edu/tools-services-support/teaching-learning/spacescout/faq/">FAQ</a>
                          <hr class="dropdown-divider">
                          <!-- <a c lass="dropdown-item disabled" href="#">Report a Problem with a Space</a> -->
                          <a class="dropdown-item" href="https://uwconnect.uw.edu/sp?id=sc_cat_item&sys_id=dcf2fcac1bc2e5d0cc990dc0604bcb2a">Suggest a Space</a>
                        </ul>
                        </div>
                      </div>

              </div>        

</div>

        </div>

        {% if not request|is_mobile %}
        <!-- desktop only extra container -->
        <div class="scout-secondary" aria-hidden="true">
            {% block secondary_content %}{% endblock %}
        </div>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
<div>
