{% load staticfiles %}
{% load scout_filters %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <title>{% block title %}{% endblock %} &middot; UW Scout</title>
        {% include "scout/include/head.html" %}
    </head>

    <body {% if request.is_mobile or request.is_tablet %}data-mobile="true"{% endif %}>

        <div class="scout-primary">

            <div id="header" class="scout-header">

                {% if request.is_mobile or request.is_tablet %}
                <h1 style="background: url('{% static "scout/img/scout.png" %}') no-repeat 5px; background-size:50px;">
                {% else %}
                <h1 style="background: url('{% static "scout/img/scout.png" %}') no-repeat 0px; background-size:13%;">
                {% endif %}
                <a id="link_home" href="/{{ campus }}/" title="Discover UW places and items">Scout</a>
                </h1>

                <div class="scout-campus-chooser">
                    <div>
                        <label id="location_select_heading" for="campus_select_base" class="visually-hidden">Select campus:</label>
                        <select id="campus_select_base">
                            <option value="seattle" {% if campus == 'seattle' %}selected{% endif %}>Seattle</option>
                            <option value="bothell" {% if campus == 'bothell' %}selected{% endif %}>Bothell</option>
                            <option value="tacoma" {% if campus == 'tacoma' %}selected{% endif %}>Tacoma</option>
                        </select>
                    </div>
                    <div class="scout-campus-display">
                        <i class="fa fa-chevron-circle-down"></i>
                    </div>
                </div>

                <div class="scout-navigation" role="navigation" aria-label="main navigation">
                    <ul class="scout-navigation-items" role="tablist">
                        <li><a role="tab" id="link_food" href="/{{ campus }}/food/" {% if app_type == 'food' %}class="active" aria-selected="true"{% endif %} title="List of food places on campus"><i class="fa fa-cutlery" aria-hidden="true"></i> Food</a></li>
                        <li><a role="tab" id="link_study" href="/{{ campus }}/study/" {% if app_type == 'study' %}class="active" aria-selected="true"{% endif %} title="List of study places on campus"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Study</a></li>
                        <li><a role="tab" id="link_tech" href="/{{ campus }}/tech/" {% if app_type == 'tech' %}class="active" aria-selected="true"{% endif %} title="List of technology resources on campus"><i class="fa fa-laptop" aria-hidden="true"></i> Tech</a></li>
                    </ul>
                </div>

            </div>

            <div id="scroll" class="scout-scroll">
                {% block web_content %}{% endblock %}
            </div>

            <div id="footer" class="scout-footer" role="contentinfo">
                <div style="padding-left:20px;">&copy; 2016 UW-IT, {% if request.is_mobile or request.is_tablet %}AXDD{% else %}Academic Experience Design &amp; Delivery{% endif %} <a href="http://www.washington.edu/online/privacy/" title="UW Privacy Policy">Privacy</a> <a href="http://www.washington.edu/online/terms/" title="UW Terms & Conditions of Use">Terms</a></div>
            </div>

        </div>

        {% if not request.is_mobile %}
        <!-- desktop only extra container -->
        <div class="scout-secondary" aria-hidden="true">
            {% block secondary_content %}{% endblock %}
        </div>
        {% endif %}

    </body>
</html>
