<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Scout{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="cleartype" content="on">
        
        {% load staticfiles %}
        {% load compress %}

        <!-- critical css (above the fold styles) -->
        {% compress css inline %}
        <!-- inline -->   
        <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/inline-hybrid.scss" %}" type="text/x-scss">
        {% endcompress %}
    
    </head>
    <body>
                       
        <div id="content" class="scout-content">
        
            <!-- all pjax content will render inside of this id -->
            <div class="scout-pjax-content">
                {% block content %}{% endblock %}
            </div>
            
        </div>
       
        {% if request.is_mobile and request.is_and %}
        <!-- mobile + android -->  
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/android.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
        {% if request.is_mobile and request.is_ios %}
        <!-- mobile + ios -->   
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/ios.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
        {% if request.is_mobile and request.is_win %}
        <!-- mobile + windows -->   
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/windows.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
        {% if request.is_tablet and request.is_and %}
        <!-- mobile + tablet + android -->
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/android.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
        {% if request.is_tablet and request.is_ios %}
        <!-- mobile + tablet + ios -->
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/ios.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
        {% if request.is_tablet and request.is_win %}
        <!-- mobile + tablet + windows -->
        {% compress css %}
        <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
        <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "scout/css/windows.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
                
        {% compress js %}
        <!-- global javascript -->
        <script src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
        {% endcompress %}
        
    </body>
</html>
