<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Scout{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta http-equiv="cleartype" content="on">
        
        {% load staticfiles %}
        {% load compress %}
        
        <!-- favicon and mobile device icons-->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "vendor/ico/apple-touch-icon-144x144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "vendor/ico/apple-touch-icon-114x114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "vendor/ico/apple-touch-icon-72x72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "vendor/ico/apple-touch-icon-57x57-precomposed.png" %}"> 
        <link rel="shortcut icon" href="{% static "vendor/ico/favicon.ico" %}">
        
        <!-- windows8 - tile icon  & color -->
        <meta name="msapplication-TileImage" content="{% static "vendor/ico/apple-touch-icon-144x144-precomposed.png" %}">
        <meta name="msapplication-TileColor" content="#222222">
        
        <!-- ios webapps - delete if not needed -->
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
                 
        {% if request.is_mobile %}
            <!-- critical (above the fold styles) -->
            {% compress css inline %}
            <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
            <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
            {% endcompress %}
            <!-- async (mobile) -->   
            {% compress css %}
            <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
            <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
        {% endcompress %}
        {% endif %}
        
        {% if request.is_tablet %}
            <!-- critical (above the fold styles) -->
            {% compress css inline %}
            <!-- inline -->   
            <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
            <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
            {% endcompress %}
            <!-- async (mobile + tablet) -->
            {% compress css %}
            <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
            <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
            {% endcompress %}
        {% endif %}
        
        {% if is_desktop %}
            <!-- critical (above the fold styles) -->
            {% compress css inline %}
            <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
            <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
            <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "scout/css/desktop.scss" %}" type="text/x-scss">
            {% endcompress %}
            <!-- async (mobile + tablet + desktop) -->
            {% compress css %}
            {% endcompress %}
        {% endif %}
        
        <!-- javascript -->
        {% compress js %}
        <script src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
        <!--<script src="{% static "vendor/js/jquery-turbolinks.min.js" %}"></script>-->
		
		<!-- app js -->
        <script src="{% static "scout/js/web.js" %}"></script>
        <script src="{% static "scout/js/map.js" %}"></script>
        
        <!-- turbolinks must be last -->
        <script src="{% static "vendor/js/turbolinks.min.js" %}"></script>
        {% endcompress %}
        
        {% if is_desktop %}
        <!-- this script is penalized for being a render blocker... but the trade-off is better since it works best w/ turbolinks -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        {% endif %}
                
        {% if google_analytics %}
        <!-- google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ google_analytics }}', {% if devtools_bar %}{'cookieDomain': 'none'}{% else %}'auto'{% endif %});
            ga('send', 'pageview');
        </script>
        {% endif %}
        
    </head>
    <body>

        <div id="header" class="scout-header"> 
            
            <h1><a href="/">Scout</a></h1>
            
            <div class="scout-navigation">
                <div style="display:inline-block; line-height:40px; font-size:14px; text-transform:uppercase; margin-left:20px;">
                    <span><a  href="/discover/">Discover</a>&nbsp;&nbsp;&nbsp;&nbsp;<a  href="/filter/">Filter</a></span>
                </div>
            </div>

        </div>
         
        <div id="scroll" class="scout-scroll">    
                
            <div id="content" class="scout-content">
                                
                <div class="scout-pjax-content">
                    {% block web %}{% endblock %}
                </div>
                
                {% if not request.is_mobile and not request.is_tablet %}
                <!-- desktop only extra container -->
                <div class="scout-map">
	                {% block sidebar %}{% endblock %}
                </div>
                {% endif %} 
    
            </div>
            
            <div id="footer" class="scout-footer">
                <p class="text-muted credit">Courtesy of UW-IT ACA and HFS</p>
            </div>
            
        </div>
        
        
                
    </body>
</html>
