{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}

{% load staticfiles %}

{% block title %}Discover{% endblock %}

{% block web_content %}

<div class="scout-discover-container">

    <h2 class="visually-hidden">Discover</h2>

    <div style="padding: 10px 20px; color: #444; font-size: 14px; ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet libero rhoncus, porta nisi id, volutpat lorem. Nullam nec elementum tortor.
    </div>

    {% if open %}
    <div class="scout-card scout-discover-content">

        <!--<div style="background:url('{% static "scout/img/starbucks.jpg" %}') no-repeat center center; background-size:cover;height:150px;">&nbsp</div>-->
        <h3>Open now</h3>
        <ul>
            {% for spot in open %}
            <li><a href="/detail/{{ spot.spot_id }}"><i class="fa fa-map-marker"></i> {{spot.name}}</a></li>
            {% endfor %}
            <li><a href="/">More...</a></li>
        </ul>
    </div>
    {% endif %}

    {% if coffee %}
    <div class="scout-card scout-discover-content">

        <!--<div style="background:url('{% static "scout/img/coffee-shop-1200.jpg" %}') no-repeat center center; background-size:cover; height:150px;">&nbsp</div>-->
        <h3>Serves Coffee and Espresso</h3>
        <ul>
            {% for spot in coffee %}
            <li><a href="/detail/{{ spot.spot_id }}"><i class="fa fa-map-marker"></i> {{spot.name}}</a></li>
            {% endfor %}
            <li><a href="/">More...</a></li>
        </ul>
    </div>
    {% endif %}

    {% if breakfast %}
    <div class="scout-card scout-discover-content">

        <!--<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat center center; background-size:cover; height:150px;">&nbsp</div>-->
        <h3>Open for breakfast</h3>
        <ul>
            {% for spot in breakfast %}
            <li><a href="/detail/{{ spot.spot_id }}"><i class="fa fa-map-marker"></i> {{spot.name}}</a></li>
            {% endfor %}
            <li><a href="/">More...</a></li>
        </ul>
    </div>
    {% endif %}

    {% if late_night %}
    <div class="scout-card scout-discover-content">

        <!--<div style="background:url('{% static "scout/img/coffee-shop-1200.jpg" %}') no-repeat center center; background-size:cover; height:150px;">&nbsp</div>-->
        <h3>Open late night</h3>
        <ul>
                {% for spot in late_night %}
                <li><a href="/detail/{{ spot.spot_id }}"><i class="fa fa-map-marker"></i> {{spot.name}}</a></li>
                {% endfor %}
            <li><a href="/">More...</a></li>
        </ul>
    </div>
    {% endif %}

    {% if coupon %}
    <div class="scout-card scout-discover-content">

        <!--<div style="background:url('{% static "scout/img/starbucks.jpg" %}') no-repeat center center; background-size:cover;height:150px;">&nbsp</div>-->
        <h3>Dine with discounts</h3>
        <ul>
            {% for spot in coupon %}
            <li><a href="/detail/{{ spot.spot_id }}"><i class="fa fa-map-marker"></i> {{spot.name}}</a></li>
            {% endfor %}
            <li><a href="/">More...</a></li>
        </ul>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}

{% block hybrid_content %}

<div class="content">
    <div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; height:150px;" valign="bottom" class="content-header">Discover</div>
    <div class="content-content">
        <div class="content-content-inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna et lorem venenatis varius quis sit amet dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur a nisi odio.</p>
            <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
        </div>
    </div>
</div>

<div class="content-block-title">Most popular:</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Cultivate" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Cultivate</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+8" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The 8</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=By+George" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">By George</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+Rotunda" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The Rotunda</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Red+Square+BBQ" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Red Square BBQ</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="content-block-title">Coffee near you:</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Burke+Cafe" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Burke Cafe</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Husky+Grind" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Husky Grind</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Parnasus" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Parnassus</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Public+Grounds" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Public Grounds</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Overpass+Espresso" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Overpass Espresso</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="content-block-title">Breakfast before class:</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Cultivate" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Cultivate</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+8" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The 8</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=By+George" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">By George</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+Rotunda" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The Rotunda</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Red+Square+BBQ" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Red Square BBQ</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="content-block-title">Evening class munchies:</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Cultivate" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Cultivate</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+8" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The 8</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=By+George" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">By George</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+Rotunda" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The Rotunda</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Red+Square+BBQ" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Red Square BBQ</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="content-block-title">Dine with discounts:</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Cultivate" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Cultivate</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+8" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The 8</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=By+George" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">By George</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=The+Rotunda" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">The Rotunda</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56875/?hybrid=true&x_push_page=true&x_page_title=Red+Square+BBQ" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Red Square BBQ</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>



<div class="content-block-title">Hybrid stuff</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/components/?hybrid=true&x_push_page=true&x_page_title=Framework7+Forms" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Components Example</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
