{% load staticfiles %}

<div class="scout-card scout-discover-content">

    <h3>
        <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
        <span class="scout-card-title">Notice</span>
    </h3>

    <div style="background:url('{% static "scout/img/seattle/IMG_1758-X3.jpg" %}') no-repeat center bottom; background-size: cover !important; height:100px; text-transform:uppercase; font-size:14px; color:#fff; margin-top:15px;" valign="bottom" class="card-header color-white no-border">&nbsp;</div>
    <div class="card-content" style="background:#fff; padding: 10px 0;">
        <div class="card-content-inner">
            <!-- <p class="color-gray">My New Card</p> -->
                {% if campus == "seattle" %}
                <p>Due to the number of campus buildings and services operating under reduced hours or completely closed due to COVID-19, Scout's browsing features are offline until further notice.</p>
                <p>The web sites below have up-to-date information on generally available spaces and services. For information about your department's building(s), check your department's home page or contact your building's facilities staff.</p>
                <p>The Scout team hopes that you stay safe and healthy.</p>
                <h3>UW Seattle</h3>
                <ul>
                    <li><a style="color: #25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://www.lib.washington.edu/coronavirus/">UW Libraries updates and resources</a></li>
                    <li><a style="color: #25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://hub.washington.edu/home/hub-hours/">The HUB hours</a></li>
                    <li><a style="color: #25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://hfs.uw.edu/Suspended-Operations/">UW Seattle Housing (dorm) restaurants and other amenities</a></li>
                    <li><a style="color: #25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://www.washington.edu/studentlife/open/">Student Life's "What's Open"</a></li>
                    <li style="text-align: left;">Student Technology Loan Program: <a style="display: inline; color: #25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/uwstlp/">get updates via Facebook</a> or <a style="display: inline; color:#25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://stlp.uw.edu/">reserve equipment on their website</a>.</li>
                </ul>
                {% elif campus == "tacoma" %}
                <h3>UW Tacoma</h3>
                <ul>
                    <li><a style="color: #25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://www.tacoma.uw.edu/library/covid-19-updates">UW Tacoma Library updates and resources</a></li>
                    <li style="color: #25738F; text-decoration: underline; text-align: left;"><a target="_blank" rel="noopener noreferrer" href="https://www.tacoma.uw.edu/about-uw-tacoma/coronavirus-central-information-resource">COVID-19 facts and resources for UW Tacoma campus</a></li>
                </ul>
                {% elif campus = "bothell" %}
                <h3>UW Bothell</h3>
                <ul>
                    <li><a style="color: #25738F; text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://library.uwb.edu/covidupdates">UW Bothell Library updates and resources</a></li>
                    <li style="color: #25738F; text-decoration: underline; text-align: left;"><a target="_blank" rel="noopener noreferrer" href="https://www.uwb.edu/safety/coronavirus/student-services">Learn remotely at UW Bothell</a></li>
                </ul>
                {% endif %}
        </div>
    </div>
</div>
