{% extends "scout/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Discover places{% endblock %}

{% block web_content %}

<div id="page_discover" class="scout-content">

    {% include "scout/include/user_geolocation.html" %}

    <div class="scout-discover-container" style="position:relative;">

        <div id="card_loading_indicator" class="scout-discover-loading">
            <p class="visually-hidden">loading...</p>
            <div class="sk-fading-circle" aria-hidden="true">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>

        <h2 class="visually-hidden">Discover places to eat</h2>

        <div id="discover_cards">
            <div id="open"></div>
            <div id="coffee"></div>
            <div id="breakfast"></div>
            <div id="late"></div>
            <div id="coupon"></div>
        </div>

    </div>

</div>

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/uw-ob.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}
