{% load staticfiles %}

{% block content %}
<div class="scout-card scout-discover-content">
    <h3>
        <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa {% if spot_type == "food" %} fa-cutlery {% endif %} {% if spot_type == "study" %} fa-graduation-cap {% endif %}fa-stack-1x fa-inverse"></i></span>
        <span class="scout-card-title">{{ card_title }}</span>
    </h3>
    <ol>
        {% for spot in spots %}
        <li data-lat="{{ spot.latitude }}" data-lon="{{ spot.longitude }}">
            <a href="/{{campus}}/{{ spot_type }}/{{ spot.spot_id }}/" class="clearfix">
                {% if spot.images %}
                <span class="scout-spot-image" style="background-image: url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}/?width=100');">&nbsp;</span>
                {% else %}
                <span class="scout-spot-image" style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: contain;">&nbsp;</span>
                {% endif %}
                <span class="scout-spot-name" style="">{{spot.name}}</span>

                <div class="scout-spot-location" style=""><span class="scout-spot-distance" style=""></span>&nbsp;mi.&nbsp;&nbsp; {% if spot.building_name %}{{ spot.building_name }}{% else %}<span style="color:red;">missing building_name</span>{% endif %}</div>

                <span>{% if not spot.is_open %}<span class="closed">Currently closed</span>{% endif %}</span>
            </a>
        </li>
        {% endfor %}

        <li>
            <a href="/{{campus}}/{{ spot_type }}/?{{ card_filter_url }}" class="scout-spot-discover-action">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-share fa-stack-1x fa-inverse"></i>
                </span>
                <span class="scout-spot-action-text">View more...</span>
            </a>
        </li>

    </ol>
</div>
{% endblock %}
