{% load staticfiles %}

{% block content %}
<div class="scout-card scout-discover-content">
    <h3>{{ card_title }}</h3>
    <ol>
        {% for spot in spots %}
        <li class="scout-spot-list-discover" data-lat="{{ spot.latitude }}" data-lon="{{ spot.longitude }}">
            <a href="/detail/{{ spot.spot_id }}/" class="clearfix">
                {% if spot.images %}
                <span class="scout-spot-image" style="background-image: url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}?width=100');">&nbsp;</span>
                {% else %}
                <span class="scout-spot-image" style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: contain;">&nbsp;</span>
                {% endif %}
                <span class="scout-spot-name" style="">{{spot.name}}</span>
                <span class="scout-spot-distance" style=""></span>
                <span class="scout-spot-location" style="">
                    {% if spot.building_name %}{{ spot.building_name }}{% else %}<span style="color:red;">missing building_name</span>{% endif %}
                </span>
                <span>{% if not spot.is_open %}<span class="closed">Currently closed</span>{% endif %}</span>
            </a>
        </li>
        {% endfor %}

        <li style="text-align: right; margin-top: 15px;">
            <a href="/food/?{{ card_filter_url }}" class="scout-spot-discover-action">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-share fa-stack-1x fa-inverse"></i>
                </span>
                <span class="scout-spot-action-text">View more results...</span>
            </a>
        </li>
    </ol>
</div>
{% endblock %}
