{% extends is_hybrid|yesno:"hybridize/base.html,scout/base.html" %}

{% load staticfiles %}
{% load scout_filters %}

{% block title %}Discover places{% endblock %}

{% block web_content %}

<div id="page_discover" class="scout-content">

    {% include "scout/include/user_geolocation.html" %}

    <div class="scout-discover-container" style="position:relative;">

        <div id="card_loading_indicator" >
            <div class="loader" style="position:absolute; top: 50%; left: 50%; margin-left:-13px; margin-top: -13px;">Loading...</div>
        </div>

        <h2 class="visually-hidden">Discover places to eat</h2>

        <div id="discover_cards">
            <div id="open"></div>
            <div id="coffee"></div>
            <div id="breakfast"></div>
            <div id="late"></div>
            <div id="coupon"></div>
        </div>

    </div>

</div>

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}

{% block hybrid_content %}

<div class="content">
    <div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; height:150px;" valign="bottom" class="content-header">Discover</div>
    <div class="content-content">
        <div class="content-content-inner" style="padding:20px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna et lorem venenatis varius quis sit amet dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur a nisi odio.
        </div>
    </div>
</div>

{% if open %}
<div class="content-block-title">Open Now</div>
<div class="list-block">
    <ul>
        {% for spot in open %}
        <li>
            <a href="/detail/{{ spot.spot_id }}/?hybrid=true&x_push_page=true&x_page_title={{ spot.name|stackerize }}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{spot.name}}</div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
        <li>
            <a href="/?hybrid=true&x_push_page=true&x_page_title=Open+Now" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">More...</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endif %}

{% if coffee %}
<div class="content-block-title">Serves Coffee and Espresso</div>
<div class="list-block">
    <ul>
        {% for spot in coffee %}
        <li>
            <a href="/detail/{{ spot.spot_id }}/?hybrid=true&x_push_page=true&x_page_title={{ spot.name|stackerize }}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{spot.name}}</div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
        <li>
            <a href="/?food0=s_food_espresso&hybrid=true&x_push_page=true&x_page_title=Coffee+and+Espresso" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">More...</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endif %}


{% if breakfast %}
<div class="content-block-title">Open for breakfast</div>
<div class="list-block">
    <ul>
        {% for spot in breakfast %}
        <li>
            <a href="/detail/{{ spot.spot_id }}/?hybrid=true&x_push_page=true&x_page_title={{ spot.name|stackerize }}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{spot.name}}</div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
        <li>
            <a href="/?period0=breakfast&hybrid=true&x_push_page=true&x_page_title=Open+for+Breakfast" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">More...</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endif %}

{% if late_night %}
<div class="content-block-title">Open late night</div>
<div class="list-block">
    <ul>
        {% for spot in late_night %}
        <li>
            <a href="/detail/{{ spot.spot_id }}/?hybrid=true&x_push_page=true&x_page_title={{ spot.name|stackerize }}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{spot.name}}</div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
        <li>
            <a href="/?period0=late_night&hybrid=true&x_push_page=true&x_page_title=Open+late+night" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">More...</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endif %}

{# if coupon #}
<div class="content-block-title">Dine with discounts</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/detail/{{ spot.spot_id }}/?hybrid=true&x_push_page=true&x_page_title={{ spot.name|stackerize}}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{spot.name}}</div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="/?hybrid=true&x_push_page=true&x_page_title=Dine+with+discounts" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">More...</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
{# endif #}

<div class="content-block-title">Hybrid Testing Stuff</div>
<div class="list-block">
    <ul>
        <li>
            <a href="/components/?hybrid=true&x_push_page=true&x_page_title=Framework7+Forms" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Components Example</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
