{% extends "scout/base.html" %}

{% block title %}Favorites{% endblock %}

{% block web_content %}
<ul>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
</ul>
{% endblock %}

{% block secondary_content %}stuff on the side{% endblock %}
