{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}

{% block title %}| Favorites{% endblock %}

{% block web_content %}
<ul>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
    <li>
        <a href="/detail/56874/">Spot 1 - Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</a>
    </li>
</ul>
{% endblock %}

{% block secondary_content %}stuff on the side{% endblock %}

{% block hybrid_content %}

<div class="list-block media-list">

    <ul>
        <li>
            <a href="/detail/56874/?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media">
                    <img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80">
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874/?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media">
                    <img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80">
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874/?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media">
                    <img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80">
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874/?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media">
                    <img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80">
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
    </ul>

</div>

{% endblock %}
