{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}
{% load staticfiles %}

{% block title %}Filter{% endblock %}

{% block web_content %}

<div class="scout-filter-container">
    <h2 class="visually-hidden">Filter</h2>

    <div class="scout-filter-results-container">

        <div class="scout-filter-results">
            <div>Filtering by: <span id="filter_label_text">None</span></div>
            <div>Results: {{ spots|length }}</div>
        </div>



    </div>

    {% include "scout/include/filter.html" %}
</div>

{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}


{% block hybrid_content %}

<div class="content-block-title">Campus</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Seattle</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Bothell</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Tacoma</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">South Lake Union</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Hours / Open for:</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Breakfast</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Lunch</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Dinner</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Late Night</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Payment:</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cash</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Husky Card</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Dining Card</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Visa</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Mastercard</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Restaurant type</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cafes</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Restaurant</div>
				</div>
			</label>
		</li>
        <li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Fine Dining</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Food Court</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Food Truck</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Market</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Food served</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Pizza</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Burgers</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Salads</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Coffee/Espresso</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Sandwiches</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Cuisine</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">American</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">BBQ</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Chinese</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Hawaiian</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Itallian</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block">
	<div class="content-block-inner">
		<button class="link" id="reset_filter">Reset filters</button>
	</div>
</div>

{% endblock %}
