{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}
{% load staticfiles %}

{% block title %}Filter{% endblock %}

{% block web_content %}
<h2>Filter</h2>
<form>

    <fieldset>
    <legend>Campus:</legend>
        <select multiple>
            <option value="xx" selected="selected">Seattle</option>
            <option value="xx">Bothell</option>
            <option value="xx">Tacoma</option>
            <option value="xx">South Lake Union</option>
        </select>
    </fieldset>

    <!--
    <div style="margin:1em 0;">
        buiding (by campus):&nbsp;&nbsp;
        <select>
            <option value="terry">Terry Hall</option>
            <option value="kane">Kane Hall</option>
            <option value="hub">HUB</option>
            <option value="oug">Odegaard Library</option>
        </select>
    </div>
    -->

    <fieldset>
        <legend>Hours / Open for:</legend>
        <select multiple>
            <option value="xx" selected="selected">Breakfast</option>
            <option value="xx">Lunch</option>
            <option value="xx">Dinner</option>
            <option value="xx">Late Night</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Payment accepted:</legend>
        <select multiple>
            <option value="xx" selected="selected">Cash</option>
            <option value="xx">Husky Card</option>
            <option value="xx">Dining Card</option>
            <option value="xx">Visa/Mastercard</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Restaurant type</legend>
        <select multiple>
            <option value="xx" selected="selected">Cafes</option>
            <option value="xx">Restaurant</option>
            <option value="xx">Fine Dining</option>
            <option value="xx">Food Court</option>
            <option value="xx">Food Truck</option>
            <option value="xx">Market</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Food served</legend>
        <select multiple>
            <option value="xx" selected="selected">Appetizers</option>
            <option value="xx">Burgers</option>
            <option value="xx">Entrees</option>
            <option value="xx">Espresso</option>
            <option value="xx">Pasta</option>
            <option value="xx">Pizza</option>
            <option value="xx">Salads</option>
            <option value="xx">Sandwiches</option>
            <option value="xx">Smoothies</option>
            <option value="xx">Sushi</option>
            <option value="xx">Tacos</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Cuisine</legend>
        <select multiple>
            <option value="xx" selected="selected">American</option>
            <option value="xx">BBQ</option>
            <option value="xx">Chinese</option>
            <option value="xx">Hawaiian</option>
            <option value="xx">Indian</option>
            <option value="xx">Italian</option>
            <option value="xx">Japanese</option>
            <option value="xx">Korean</option>
            <option value="xx">Mexican</option>
            <option value="xx">Vietnamese</option>
            <option value="xx">Light Lunch</option>
        </select>
    </fieldset>

    <div style="margin-top:1em;">
        <input onclick="location.href='/?type=cafe&food=pizza';" type="button" value="View Results">
    </div>

</form>
{% endblock %}

{% block sidebar %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}


{% block hybrid_content %}

<div class="content-block-title">Restaurant type</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cafes</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Fine Dining</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cafeteria</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Food Trucks</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Markets</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Food types</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Pizza</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Burgers</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Salads</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Coffee/Espresso</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Sandwiches</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Cuisine</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">American</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">BBQ</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Chinese</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Hawaiian</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Itallian</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Open Hours</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx" checked="checked">
				<div class="item-inner">
					<div class="item-title">Now</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Breakfast <span>8am-11am</span></div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Lunch <span>8am-11am</span></div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Dinner <span>8am-11am</span></div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Late-night <span>8am-11am</span></div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Options</div>
<div class="list-block">
	<ul>
		<li>
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title label">Delivery</div>
					<div class="item-input">
						<label class="label-switch">
							<input type="checkbox">
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="content-block">
	<div class="content-block-inner">
		<button class="link" id="reset_filter">Reset filters</button>
	</div>
</div>

{% endblock %}
