{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}
{% load staticfiles %}

{% block title %}Filter{% endblock %}

{% block web_content %}
<h2>Filter</h2>
<form>

    <div>
        buiding (by campus):&nbsp;&nbsp;
        <select>
            <option value="terry">Terry Hall</option>
            <option value="kane">Kane Hall</option>
            <option value="hub">HUB</option>
            <option value="oug">Odegaard Library</option>
        </select>
    </div>

    <fieldset>
        <legend>Hours / Open for:</legend>
        <input name="xx" type="radio" value="xx">Breakfast
        <br>
        <input name="xx" type="radio" value="xx">Lunch
        <br>
        <input name="xx" type="radio" value="xx">Dinner
        <br>
        <input name="xx" type="radio" value="xx">Late-night
        <br>
    </fieldset>

    <fieldset>
        <legend>Misc. info</legend>
        <input name="xx" type="checkbox" value="xx">Accepts reservsations
        <br>
        <input name="xx" type="checkbox" value="xx">Has coupons
        <br>
    </fieldset>

    <fieldset>
        <legend>Payment accepted:</legend>
        <input name="xx" type="checkbox" value="xx">Cash
        <br>
        <input name="xx" type="checkbox" value="xx">Husky Card
        <br>
        <input name="xx" type="checkbox" value="xx">Dining Card
        <br>
        <input name="xx" type="checkbox" value="xx">Visa
        <br>
        <input name="xx" type="checkbox" value="xx">Mastercard
        <br>
    </fieldset>

    <fieldset>
        <legend>Restaurant type</legend>
        <input name="" type="checkbox" value="cafes">Cafes
        <br>
        <input name="" type="checkbox" value="restaurant">Restaurant
        <br>
        <input name="" type="checkbox" value="fine_dining">Fine Dining
        <br>
        <input name="" type="checkbox" value="food_court">Food Court
        <br>
        <input name="" type="checkbox" value="food_truck">Food Truck
        <br>
        <input name="" type="checkbox" value="market">Market
        <br>
    </fieldset>

    <fieldset>
        <legend>Food served</legend>
        <input name="xx" type="checkbox" value="xx">Pizza
        <br>
        <input name="xx" type="checkbox" value="xx">Burgers
        <br>
        <input name="xx" type="checkbox" value="xx">Salads
        <br>
        <input name="xx" type="checkbox" value="xx">Espresso
        <br>
        <input name="xx" type="checkbox" value="xx">Sandwiches
        <br>
    </fieldset>

    <fieldset>
        <legend>Cuisine</legend>
        <input name="xx" type="checkbox" value="xx">American
        <br>
        <input name="xx" type="checkbox" value="xx">BBQ
        <br>
        <input name="xx" type="checkbox" value="xx">Chinese
        <br>
        <input name="xx" type="checkbox" value="xx">Hawaiian
        <br>
        <input name="xx" type="checkbox" value="xx">Indian
        <br>
        <input name="xx" type="checkbox" value="xx">Italian
        <br>
        <input name="xx" type="checkbox" value="xx">Japanese
        <br>
        <input name="xx" type="checkbox" value="xx">Korean
        <br>
        <input name="xx" type="checkbox" value="xx">Mexian
        <br>
        <input name="xx" type="checkbox" value="xx">Vietnamese
        <br>
        <input name="xx" type="checkbox" value="xx">Light Lunch
        <br>
    </fieldset>

    <div style="margin-top:1em;">
        <input onclick="location.href='/?type=cafe&food=pizza';" type="button" value="View Results">
    </div>

</form>
{% endblock %}

{% block sidebar %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}


{% block hybrid_content %}

<div class="content-block-title">Restaurant type</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cafes</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Fine Dining</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Cafeteria</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Food Trucks</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Markets</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Food types</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Pizza</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Burgers</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Salads</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Coffee/Espresso</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Sandwiches</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Cuisine</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx" checked="checked">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">American</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">BBQ</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Chinese</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Hawaiian</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-checkbox item-content">
				<input type="checkbox" name="xx" value="xx">
				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
				<div class="item-inner">
					<div class="item-title">Itallian</div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Open Hours</div>
<div class="list-block">
	<ul>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx" checked="checked">
				<div class="item-inner">
					<div class="item-title">Now</div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Breakfast <span>8am-11am</span></div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Lunch <span>8am-11am</span></div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Dinner <span>8am-11am</span></div>
				</div>
			</label>
		</li>
		<li>
			<label class="label-radio item-content">
				<input type="radio" name="xx" value="xx">
				<div class="item-inner">
					<div class="item-title">Late-night <span>8am-11am</span></div>
				</div>
			</label>
		</li>
	</ul>
</div>

<div class="content-block-title">Options</div>
<div class="list-block">
	<ul>
		<li>
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title label">Delivery</div>
					<div class="item-input">
						<label class="label-switch">
							<input type="checkbox">
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="content-block">
	<div class="content-block-inner">
		<button class="link" id="reset_filter">Reset filters</button>
	</div>
</div>

{% endblock %}
