{% extends "scout/base.html, scout/base-pjax.html"|pjax:request %}

{% block title %}Food Scout{% endblock %}

{% block content %}

{% if is_webapp %}
<h3>Scout</h3>
{% endif %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna et lorem venenatis varius quis sit amet dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur a nisi odio.</p>

<h4>Campus</h4>
<div>
    <ul>
        <li><a data-pjax href="/list/{% if is_hybrid %}?hybrid=true{% endif %}">Seattle</a></li>
        <li>Bothell</li>
        <li>Tacoma</li>
    </ul>
</div>

<h4>Nearby</h4>
<div>
    <ul>
        <li><a data-pjax href="/list/{% if is_hybrid %}?hybrid=true{% endif %}">Food</a></li>
        <li>Spaces</li>
        <li>Items</li>
    </ul>
</div>

{% if is_hybrid %}
<p><a data-pjax href="/favorites/{% if is_hybrid %}?hybrid=true{% endif %}">Favorites</a></p>
<p><a data-pjax href="/filters/{% if is_hybrid %}?hybrid=true{% endif %}">Filters</a></p>
{% endif %}

{% endblock %}
