{% extends is_hybrid|yesno:"hybrid/base.html,scout/base.html" %}

{% block title %}Scout{% endblock %}

{% block content %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna et lorem venenatis varius quis sit amet dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur a nisi odio.</p>

<h4>Campus</h4>
<div>
    <ul>
        <li><a data-pjax href="/list/{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Seattle+List{% endif %}">Seattle</a></li>
        <li>Bothell</li>
        <li>Tacoma</li>
    </ul>
</div>

<h4>Nearby</h4>
<div>
    <ul>
        <li><a data-pjax href="/list/{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Food+List{% endif %}">Food</a></li>
        <li>Spaces</li>
        <li>Items</li>
    </ul>
</div>

{% if request.is_and %}
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<div class="demo-card-square mdl-card mdl-shadow--2dp" style="margin-top:2em;">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Update</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Updates
    </a>
  </div>
</div>
{% endif %}

{% endblock %}

{% block subcontent %}
akslfdj aslkd flaksdfj asklfdj asldkfj
{% endblock %}