{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}
{% load staticfiles %}

{% block title %}List{% endblock %}

{% block web_content %}

{% if request.is_mobile or request.is_tablet %}
<div style="text-align: right;"> <a id="map_link" href="/">List</a> | <a id="map_link" href="/map/">Map</a></div>
{% endif %}

<h2>All OPEN_NOW (centered at fountain)</h2>

<ul>
    {% for spot in spots %}
        <li id="{{ spot.spot_id }}">
            <a href="detail/{{ spot.spot_id }}" style="display:block;text-decoration:none;">
                <!--<img src="{{spot.images.0.url}}" style="width:80px;">-->
                <img src="{% static "scout/img/placeholder.png" %}" style="width:80px;">
                <strong>{{ spot.name }}</strong>
                <br/>{{ spot.building_name }}
                <br/>
                {% for foodtype in spot.foodtype_names %}
                    {{ foodtype }},
                {% endfor %}

                <br/>
                {% for period in spot.open_periods %}
                    {{ period }},
                {% endfor %}
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}

{% block sidebar %}

<!-- show a map on the list page -->
<div id="list_map" style="height:100%;"></div>

<!-- since turbolinks loads the full body... generate this function in the template. then, call the function in the map.js file -->
<script type="text/javascript">

function initializeListMap() {

	var mapExists = document.getElementById("list_map");
	var myLatlng, mapOptions;

	if(mapExists) {

		// center map on uw fountain
		mapCenter = new google.maps.LatLng(47.653811, -122.307815);
        mapOptions = {
	        center: mapCenter,
	        zoom: 16,
	    };

        var styles = [
            {
                "featureType": "poi.place_of_worship",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.business",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            }
        ]

		var map = new google.maps.Map(document.getElementById('list_map'), mapOptions);
        map.setOptions({styles: styles});

        // multiple pins on a single map
        var locations = [
            {% for spot in spots %}
            {
                "spot_name" : '{{ spot.name }}',
                "id" : '{{ spot.spot_id }}',
                "lat" : '{{ spot.latitude }}',
                "lng" : '{{ spot.longitude }}',
                "icon": 'fa-cutlery',
            },
            {% endfor %}

		]

        // create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        var markers = [];

		for (var i = 0; i < locations.length; i++) {

            var data = locations[i];

			var marker = new MarkerWithLabel({
		        position: new google.maps.LatLng(data.lat, data.lng),
		        map: map,
                animation: google.maps.Animation.DROP,
                labelContent: "<i class='fa " + data.icon +"'></i>",
                labelAnchor: new google.maps.Point(6, 6),
                labelClass: "map-label", // the CSS class for the label
                icon: {
            		path: google.maps.SymbolPath.CIRCLE,
            		fillColor: '#6562aa',
            		fillOpacity: 1,
            		strokeColor: '#53518e',
                    scale: 10,
            		strokeWeight: 0
            	},
		    });

            markers.push(marker);

            // attach click event to the marker
            (function (marker, data) {

                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;'>" + data.spot_name + "</div>");
                    infoWindow.open(map, marker);
                    $('li').css('background', 'none'); // clear any highlighted spots first
                    $('#' + data.id).css('background', '#6564A8');
                });

                google.maps.event.addListener(infoWindow,'closeclick',function(){
                    $('#' + data.id).css('background', 'none');
                });

            })(marker, data);

		}

        var markerCluster = new MarkerClusterer(map, markers);

	}

}
</script>

{% endblock %}

{% block hybrid_content %}

<div class="list-block media-list">
    <ul>

        {% for spot in spots %}
        <li>
            <a href="detail/{{ spot.spot_id }}?hybrid=true&x_push_page=true&x_page_title=Bobs+Burgers" class="item-link item-content">
                <div class="item-media">
                    <img src="{% static "scout/img/placeholder.png" %}" style="width:80px;">
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">{{ spot.name }}</div>
                    </div>
                    <div class="item-subtitle">{% for foodtype in spot.foodtype_names %} {{ foodtype }}, {% endfor %}</div>
                    <div class="item-text">{{ spot.building_description }}</div>
                </div>
            </a>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
