{% extends is_hybrid|yesno:"scout/base-hybrid.html,scout/base-web.html" %}

{% block title %}List{% endblock %}

{% block content %}
    
    <div class="scout-list">
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 1</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a>  
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 2</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 3</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 4</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 5</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 6</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 7</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 8</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 9</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 10</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 11</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 12</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 13</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 14</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 15</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 16</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
        <a data-pjax href="/detail/56874{% if is_hybrid %}?hybrid=true&x_push_page=true&x_page_title=Spot+Detail{% endif %}" class="list-group-item">
            <h4>Spot 17</h4>
            <p>Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</p>
        </a> 
    </div>
            
{% endblock %}


{% block subcontent %}
akslfdj aslkd flaksdfj asklfdj asldkfj sladjflk l asfdlkj lkjsadflk l;kjsaf dl;k lkajsfd lkj sadfkj lkasjdf
{% endblock %}