{% extends is_hybrid|yesno:"hybrid/base.html,scout/base.html" %}

{% block title %}List{% endblock %}

{% block web %}
<ul>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
    <li><a href="/detail/56874">Spot 1</a></li>
</ul>
{% endblock %}

{% block sidebar %}
<p>akslfdj aslkd flaksdfj asklfdj asldkfj sladjflk l asfdlkj lkjsadflk l;kjsaf dl;k lkajsfd lkj sadfkj lkasjdf</p>
{% endblock %}

{% block hybrid %}
<div class="list-block media-list">     
    <ul>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Bobs+Burgers" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Bob's Burgers</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Pagliacci" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Pagliacci</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=By+George" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">By George</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/detail/56874?hybrid=true&x_push_page=true&x_page_title=Spot+Detail" class="item-link item-content">
                <div class="item-media"><img src="//farm5.staticflickr.com/4030/4270568382_00a87abe91_s.jpg" width="80"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Spot 1</div>
                    </div>
                    <div class="item-subtitle">Pizza, Salad, Category3</div>
                    <div class="item-text">Phasellus lacinia justo augue, et fringilla felis dignissim sit amet. Nunc eu vulputate ligula. Pellentesque non cursus sem.</div>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

