{% extends is_hybrid|yesno:"hybridize/base.html,scout/app.html" %}

{% load staticfiles %}

{% block title %}Map{% endblock %}

{% block web_content %}

<div class="scout-filter-results-container">

    {% include "scout/include/user_geolocation.html" %}

    {% if request.is_mobile or request.is_tablet %}
    <div style="text-align:right;">
    <a id="list_link" href="/food/"><i class="fa fa-list"></i> list</a>
    </div>
    {% endif %}

    {% include "scout/include/filter_results_bar.html" %}

</div>

<h2 class="scout-list-header visually-hidden">Map of Food Places</h2>

<!-- show a map on the list page -->
<div class="scout-map" style="margin:0;">
    <div id="list_map">
        <div class="loader" style="position:absolute; top: 50%; left: 50%; margin-left:-10px; margin-top: -10px;">Loading...</div>
    </div>
</div>

<script type="text/javascript">
window.spot_locations = {
    {% for spot in spots %}
        '{{ spot.spot_id }}': {
            "spot_name": '{{ spot.name }}',
                "id": '{{ spot.spot_id }}',
                "building": '{{ spot.building_name }}',
                "lat": '{{ spot.latitude }}',
                "lng": '{{ spot.longitude }}',
                //"icon": 'fa-cutlery',
        },
    {% endfor %}
};

</script>

{% endblock %}


{% block hybrid_content %}

<div class="content-block" style="margin:5px 0;">
	<div class="buttons-row"><a href="/?hybrid=true&x_replace_page=true&x_page_title=Scout" class="button">List</a><a href="/map/?hybrid=true&x_replace_page=true&x_page_title=Scout" class="button active">Map</a></div>
</div>

<p>This is a map.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non urna et lorem venenatis varius quis sit amet dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur a nisi odio. Integer interdum tempor ante vitae dictum. Nullam volutpat diam id odio pulvinar, vel vehicula erat sodales. Maecenas magna ante, interdum id libero et, sodales volutpat orci. </p>

{% endblock %}
