{% extends "scout/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Places to Study{% endblock %}

{% block web_content %}

<div id="page_study" class="scout-content">

    {% if request.is_mobile or request.is_tablet %}{% include "scout/include/user_geolocation.html" %}{% endif %}

    <!-- food filter results -->
    <div class="scout-filter-results" aria-labelledby="filter_header">
        <div class="scout-filter-results-by" id="filter_text_holder">
            <h2 class="visually-hidden" id="filter_header">Filters</h2>
            <span class="filter-results-label">Filtering by:</span>
            <div id="filter_label_text" style="outline: solid 2px red; padding:5px;" class="scout-filter-results-text">
                <span class="visually-hidden">No filter selected</span>Loading...
            </div>
        </div>
        <div class="scout-filter-results-results clearfix">
            <span class="filter-results-label"><span class="visually-hidden">Number of </span>Spaces<span class="visually-hidden"> in list</span>:</span>

            <div id="scout_filter_results_count" class="scout-filter-results-count" style="outline: solid 2px red; line-height:30px;">{{ count }}Loading...</div>

            <div class="scout-filter-results-actions">
                <a id="reset_study_list" class="action-cancel visually-hidden" aria-hidden="true" role="button" title="Clear filters">
                    <i class="fa fa-refresh"></i>Reset<span class="visually-hidden"> filter</span>
                </a>
                <a href="/{{campus}}/study/filter/" id="study_link_filter" title="Filter list of study places on campus">
                    <i class="fa fa-sliders fa-inverse"></i>
                    <span class="scout-filter-results-action">Filter Spaces</span>
                </a>
            </div>
        </div>
    </div>

    <!-- study list -->
    <div class="scout-list-container" style="position:relative;" role="main" aria-labelledby="list_header">

        <h2 class="scout-list-header visually-hidden" id="list_header">List of study places (by distance)</h2>

        <div id="loading_performance" style="outline: solid 2px red; min-height:200px; margin:0 20px;">
            Loading...
        </div>

        <div style="padding:20px; font-size:13px;">Have a space to add? <a title="Suggest a space via email" href="mailto:help@uw.edu?subject=Scout:%20{{ app_type|title }}%20space%20suggestion">Suggest it</a></div>

    </div>

</div>

{% endblock %}

{% block secondary_content %}

<!-- show a map on the list page -->
<div id="study_list_map" class="scout-spot-list-map" style="height:100%; background: #ddd !important;" aria-hidden="true">
    <div class="scout-spot-list-map-loading" style="position:absolute; top: 50%; left: 50%; margin-left:-15px; margin-top: -110px; z-index:0;">
        <p class="visually-hidden">loading...</p>
        <div class="sk-fading-circle" aria-hidden="true">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</div>

{% endblock %}
