<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% if request.GET.h_title %}{{ request.GET.h_title }}{% else %}{% block title %}{% endblock %}{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="cleartype" content="on">

        {% load staticfiles %}
        {% load compress %}

        {% if request.is_and %}

            <!-- framework7 material -->
            <link rel="stylesheet" type="text/css" href="{% static "hybridize/css/framework7.material.min.css" %}">
            <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.6.3.min.css" %}">

            {% compress css %}
            <!-- local override files -->
            <link rel="stylesheet" href="{% static "hybridize/css/android-theme.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "hybridize/css/android.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "scout/css/slick.scss" %}" type="text/x-scss">
            {% endcompress %}

            {% compress js %}
            <!-- javascript -->
		    <script type="text/javascript" src="{% static "hybridize/js/jquery-2.1.4.min.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/turbolinks-5.0.0.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybridize/js/framework7.min.js" %}"></script>
            <script type="text/javascript" src="{% static "vendor/js/slick.min.js" %}"></script>
            <!-- local override files -->
		    <script type="text/javascript" src="{% static "hybridize/js/android.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/discover.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/filter.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/geolocation.js" %}"></script>
		    {% endcompress %}

        {% endif %}

        {% if request.is_ios %}

        	<!-- framework7 ios -->
            <link rel="stylesheet" type="text/css" href="{% static "hybridize/css/framework7.ios.min.css" %}">
            <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.6.3.min.css" %}">


            {% compress css %}
            <link rel="stylesheet" href="{% static "scout/css/slick.scss" %}" type="text/x-scss">
            <!-- local override files -->
            <link rel="stylesheet" href="{% static "hybridize/css/ios-theme.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "hybridize/css/ios.scss" %}" type="text/x-scss">
            {% endcompress %}

            {% compress js %}
            <!-- javascript -->
		    <script type="text/javascript" src="{% static "hybridize/js/jquery-2.1.4.min.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/turbolinks-5.0.0.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybridize/js/framework7.min.js" %}"></script>
            <script type="text/javascript" src="{% static "vendor/js/slick.min.js" %}"></script>
		    <!-- local override files -->
		    <script type="text/javascript" src="{% static "hybridize/js/ios.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/discover.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/filter.js" %}"></script>
            <script type="text/javascript" src="{% static "hybridize/js/geolocation.js" %}"></script>
		    {% endcompress %}

        {% endif %}

        <!-- googlme maps -->
        {% if google_maps %}
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3&amp;key={{ google_maps }}&amp;libraries=geometry"></script>
        {% else %}
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=geometry"></script>
        {% endif %}

    </head>

    <body class="theme-custom" {% if request.is_and %}data-device="android"{% else %}data-device="ios"{% endif %}>

        {% block hybrid_notification %}{% endblock %}

        <div class="views">
            <div class="view view-main">
                <div class="pages">
                    <div class="page">
                        <div class="page-content" style="position: relative;">
                        {% block hybrid_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>

</html>
