{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Discover{% endblock %}

{% block hybrid_content %}

<div class="content">

    {% if campus == 'seattle' %}
    <div style="background:url('{% static "scout/img/seattle/IMG_3973-M.jpg" %}') no-repeat center center; background-size:cover; height:270px;" valign="bottom" class="content-header">&nbsp;</div>
    {% elif campus == 'bothell' %}
    <div style="background:url('{% static "scout/img/bothell/mascot-w.jpg" %}') no-repeat center center; background-size:cover; height:270px;" valign="bottom" class="content-header">&nbsp;</div>
    {% elif campus == 'tacoma' %}
    <div style="background:url('{% static "scout/img/tacoma/sign-w.jpg" %}') no-repeat center center; background-size:cover; height:270px;" valign="bottom" class="content-header">&nbsp;</div>
    {% endif %}

    {% include "hybridize/includes/location.html" %}

    <div class="content-content"></div>

</div>

<div id="discover_loading" class="card" style="background:none !important;">
    <div class="card-header" style="color:#666; text-transform:uppercase; font-size:14px;">
        <span class="content-loading" style="width:200px;">&nbsp;</span>
    </div>
    <div class="card-content" style="background:#fff; padding: 10px 0;">
        <div class="list-block media-list">

            <ul aria-label="">

                <li>
                    <a href="javascript:void(0)" class="item-link item-content" title="">
                        <div class="item-media">
                            <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: cover !important; width:44px; height:44px">&nbsp;</div>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><span class="content-loading" style="width:140px;">&nbsp;</span></div>
                            </div>
                            <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                            <div style="font-size:12px;"><span class="content-loading" style="width:40px;">&nbsp;</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item-link item-content" title="">
                        <div class="item-media">
                            <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: cover !important; width:44px; height:44px">&nbsp;</div>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><span class="content-loading" style="width:140px;">&nbsp;</span></div>
                            </div>
                            <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                            <div style="font-size:12px;"><span class="content-loading" style="width:40px;">&nbsp;</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item-link item-content" title="">
                        <div class="item-media">
                            <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: cover !important; width:44px; height:44px">&nbsp;</div>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><span class="content-loading" style="width:140px;">&nbsp;</span></div>
                            </div>
                            <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                            <div style="font-size:12px;"><span class="content-loading" style="width:40px;">&nbsp;</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item-link item-content" title="">
                        <div class="item-media">
                            <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: cover !important; width:44px; height:44px">&nbsp;</div>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><span class="content-loading" style="width:140px;">&nbsp;</span></div>
                            </div>
                            <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                            <div style="font-size:12px;"><span class="content-loading" style="width:40px;">&nbsp;</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item-link item-content" title="">
                        <div class="item-media">
                            <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: cover !important; width:44px; height:44px">&nbsp;</div>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><span class="content-loading" style="width:140px;">&nbsp;</span></div>
                            </div>
                            <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                            <div style="font-size:12px;"><span class="content-loading" style="width:40px;">&nbsp;</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="item-link item-content" title="">
                        <div class="item-media">
                            <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: cover !important; width:44px; height:44px">&nbsp;</div>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"><span class="content-loading" style="width:140px;">&nbsp;</span></div>
                            </div>
                            <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                            <div style="font-size:12px;"><span class="content-loading" style="width:40px;">&nbsp;</span></div>
                        </div>
                    </a>
                </li>



            </ul>
        </div>
    </div>
</div>

{% if campus == 'seattle' %}
<div id="discover_cards" data-campus="{{campus}}" data-campus-latitude="{{ campus_locations.seattle.latitude }}" data-campus-longitude="{{ campus_locations.seattle.longitude }}">
{% elif campus == 'bothell' %}
<div id="discover_cards" data-campus="{{campus}}" data-campus-latitude="{{ campus_locations.bothell.latitude }}" data-campus-longitude="{{ campus_locations.bothell.longitude }}">
{% elif campus == 'tacoma' %}
<div id="discover_cards" data-campus="{{campus}}" data-campus-latitude="{{ campus_locations.tacoma.latitude }}" data-campus-longitude="{{ campus_locations.tacoma.longitude }}">
{% endif %}

    <!-- containers for displaying cards -->
    <div id="open" style="display:none"></div>
    <div id="morning" style="display:none"></div>
    <div id="studycomputerlab" style="display:none"></div>
    <div id="{{ random_cards|random }}" style="display:none"></div>
    <div id="TECH_STATIC" style="display:none">{% include "hybridize/discover_tech.html" %}</div>
    <div id="late" style="display:none"></div>
    <div id="studyoutdoors" style="display:none"></div>

</div>


{% endblock %}
