{% load staticfiles %}

<div class="card" style="background:none !important;">
    <div style="background: #e5e6e9 url('{% static "scout/img/seattle/IMG_1758-X3.jpg" %}') no-repeat center bottom; background-size: cover !important; height:100px; text-transform:uppercase; font-size:14px; color:#fff;" valign="bottom" class="card-header color-white no-border">Technology</div>
    <div class="card-content" style="background:#fff; padding: 10px 0;">
        <div class="card-content-inner">
            <p class="color-gray">Did you know?</p>
            <p>The <strong>Student Technology Fee</strong> funds many technology items around campus for you to checkout and use.</p>
        </div>
    </div>
    <div class="card-footer">
        <span>&nbsp;</span>
        <span><a href="/h/{{campus}}/tech/" style="text-transform:capitalize;float:right;">View Technology</a></span>
    </div>
</div>
