{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Discover{% endblock %}

{% block hybrid_content %}

<div class="content">

    {% if campus == 'seattle' %}
    <div style="background:url('{% static "scout/img/seattle/IMG_3973-M.jpg" %}') no-repeat center center; background-size:cover; height:270px;" valign="bottom" class="content-header">&nbsp;</div>
    {% elif campus == 'bothell' %}
    <div style="background:url('{% static "scout/img/bothell/mascot-w.jpg" %}') no-repeat center center; background-size:cover; height:270px;" valign="bottom" class="content-header">&nbsp;</div>
    {% elif campus == 'tacoma' %}
    <div style="background:url('{% static "scout/img/tacoma/sign-w.jpg" %}') no-repeat center center; background-size:cover; height:270px;" valign="bottom" class="content-header">&nbsp;</div>
    {% endif %}

    <div class="content-content"></div>

</div>

<div id="user_location">Geting your location...</div>

<div id="discover_cards" data-campus="{{campus}}">

    <!-- containers for displaying cards -->
    <div id="open"></div>
    <div id="morning"></div>
    <div id="late"></div>
    <div id="studyoutdoors"></div>
    <div id="studycomputerlab"></div>

</div>


{% endblock %}
