{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js">
    <head>

        {% block head %}
        {% endblock %}

    </head>
    <body>

        <div class="scout-primary">

            <div id="header" class="scout-header">

                <h1 style="background: transparent url('{% static "scout/img/scout.png" %}') no-repeat center left; background-size:8%;">{% block header %}{% endblock %}</h1>

                <div class="scout-navigation">
                    {% block top-nav%}{% endblock %}
                </div>

            </div>

            {% block content %}{% endblock %}

            <div id="footer" class="scout-footer">
                <div style="padding-left:20px;">Courtesy of UW-IT ACA and HFS</div>
            </div>

        </div>

        {% if not request.is_mobile and not request.is_tablet %}
        <!-- desktop only extra container -->
        <div class="scout-secondary">
            {% block secondary_content %}{% endblock %}
        </div>
        {% endif %}

    </body>
</html>
