{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js">
    <head>

        {% block head %}
        {% endblock %}

    </head>
    <body>

        <div class="scout-wrapper">

            <div id="header" class="scout-header">

                <h1 style="background: transparent url('{% static "scout/img/scout.png" %}') no-repeat center center; background-size:contain;">{% block header %}{% endblock %}</h1>

                <div class="scout-navigation">
                    {% block top-nav%}{% endblock %}
                </div>

            </div>

            {% block content %}{% endblock %}

            <div id="footer" class="scout-footer">
                <p class="text-muted credit">Courtesy of UW-IT ACA and HFS</p>
            </div>

        </div>

        {% if not request.is_mobile and not request.is_tablet %}
        <!-- desktop only extra container -->
        <div class="scout-map" style="position: fixed; top:0; right:0; bottom:0; left:450px; z-index:0;">
            {% block map %}{% endblock %}
        </div>
        {% endif %}

    </body>
</html>
