
/*** framework7 overrides ***/

.item-media {

    img { border-radius: 100%; }
}

.button .ripple-wave {
    //background-color: #ffcc33; //gold
}


/*** scout android styles  ***/

body { font-family: 'Roboto', sans-serif; }

.scout-list {

    a { color: blue !important; }

}
