/*** framework 7 overrides ***/

.views { overflow: hidden !important; overflow-x: hidden !important; overflow-y: auto !important; }

.pages { position: relative; background: none !important;
    .page {
        .page-content { overflow-x: hidden !important; }
    }
}

.list-block { margin: 0;

	ul:before { height: 0; }

	ul {
		li { }
	}

    .list-block-label { clear: both; word-wrap: break-word; color: #696969;

        i { color:#333; margin-right: 8px; }
    }

    .item-inner { overflow: hidden;

        .item-title-row { /*background-image: none !important;*/ }

        .item-title {
            span { color: #666; font-size: 80%; display: block; overflow: hidden; text-overflow: ellipsis; }
        }

        .item-after {
            .fa-desktop { line-height: 23px; }
        }

    }

    // group lists styling
    .list-group {
        .list-group-title {

            text-transform: uppercase;;
            font-size: 13px;
            color: #555;
            line-height: 28px;
            padding-left: 15px;

        }
    }

    // radio button group override
    .label-radio {
        .item-inner:after { left: 37px; }
    }


}

label.label-radio input[type=checkbox]~.item-inner, label.label-radio input[type=radio]~.item-inner {
    padding-right: 10px;
    padding-left: 38px;
}

label.label-radio input[type=checkbox]:checked~.item-inner, label.label-radio input[type=radio]:checked~.item-inner {
    background-position: calc(2%) center;
    padding-left: 38px;
}

.item-input { text-align: right;
	input, select { text-align: right; }

	/*select { width: auto; margin-right: 0; display: inline-block; }*/
}

/** cards not really in ios.. flat and full width **/
.card {  margin: 0 !important; border-radius: 0; box-shadow: none;
    .card-header { border-radius: 0; color: #fff; }
    .card-content {
        h4 {  }
    }
}

/*** ios hybrid reset ***/

body { background: #efeff4 !important; padding: 0 !important; margin: 0 !important; overflow-x: hidden; }

.scout-list {

    a {
        .scout-spot-image {
            background-color: #e5e6e9;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover !important;
            width:80px;
            height:80px;
        }
    }

}

.scout-filter-toggle {
    label { display: inline-block;
        &:last-child { margin-left: 10px; }
    }
}

.scout-filter-toggle-options {
    line-height: 25px;
    span, select { display:inline-block; }
}


.scout-detail-image {
    background-color: #e5e6e9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

// webkit sticky header on scroll
.stuck {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

// helpers

.visually-hidden {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden;
}

// colors

.scout-green { color: #408325; }
.scout-red { color:#a94441; }
