{% extends "scout/base.html, scout/base-pjax.html"|pjax:request %}

{% load staticfiles %}

{% block extra_css %}

    <!-- mobile -->   
    <link rel="stylesheet" href="{% static "food/css/mobile.less" %}" type="text/less">
    
    {% if request.is_tablet %}
    <!-- mobile + table -->
    <link rel="stylesheet" href="{% static "food/css/tablet.less" %}" type="text/less">
    {% endif %}
    
    {% if not request.is_mobile and not request.is_tablet %}
    <!-- mobile + tablet + desktop -->
    <link rel="stylesheet" href="{% static "food/css/tablet.less" %}" type="text/less">
    <link rel="stylesheet" href="{% static "food/css/desktop.less" %}" type="text/less">
    {% endif %}
            
{% endblock %}

{% block extra_js %}
    <script src="{% static "food/js/main.js" %}"></script>
{% endblock %}