
{% if request.GET.h_lat and request.GET.h_lng %}
<div class="scout-location">
  <div class="scout-location-sort"><small>Sort (distance)</small></div>
  <div class="scout-location-display"><i class="fas fa-map-marker-alt"></i> Current Location</div>
</div>
{% endif %}

<div class="scout-location">
  <div class="scout-location-sort"><small>Sort (distance)</small></div>
  <div class="scout-location-display"><i class="fas fa-map-marker-alt"></i> <span id="geodemo">Getting location...</span></div>
</div>
