{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}{{spot.name}}{% endblock %}

{% block hybrid_notification %}
<div class="notifications list-block media-list" style="display: block; transform: translate3d(0px, 0px, 0px);">
    <ul>
        <li class="notification-item" style="margin-top: 0px;">
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">has_alert {{spot.has_alert}}</div>
                        <div class="item-after">
                            <a href="#" class="close-notification" data-turbolinks="false"><span></span></a>
                        </div>
                    </div>
                    <div class="item-text">{{ spot.alert_notes }}</div>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block hybrid_content %}
<div class="card">

    {% if spot.images %}
    <div style="background:url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}/?width=500') center center no-repeat; background-size:cover; height:270px;" valign="bottom" class="card-header">&nbsp;</div>
    {% else %}
    <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-1000.png" %}') no-repeat center center; background-size: cover; height:270px;" valign="bottom" class="card-header">&nbsp;</div>
    {% endif %}

    <div class="card-content">
        <div class="card-content-inner">

            <h2>{{spot.name}}</h2>
            <p>type: {% for type in spot.spot_types %}
                {{ type.name|remove_underscores }}
               {% endfor %}
            </p>

            <p>{% if spot.is_open %}Open now{% else %}Currently closed{% endif %}</p>

        </div>
    </div>
</div>

<div class="list-block">
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Location</div>
                <div class="item-after" style="max-width:70%; max-height:initial;white-space:normal;">{{ spot.location_description }}</dvi>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Seats</div>
                <div class="item-after">{{ spot.capacity }}</dvi>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Computers</div>
                <div class="item-after">
                    {% if spot.labstats_id %}
                        {% if spot.auto_labstats_total != 0 %}
                            {% if spot.auto_labstats_available != 0 %}
                                <i class="fa fa-desktop" aria-hidden="true"></i> <span style="color:#2ecc71;">{{ spot.auto_labstats_available }}</span> / {{ spot.auto_labstats_total }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
    <div class="list-block-label" style="margin-bottom:1em;">
        <i class="fa fa-bookmark" aria-hidden="true"></i> reservaable: {{ spot.reservable }}, {{ spot.reservation_notes }}
    </div>
    <div class="list-block-label" style="margin-bottom:1em;">
        <i class="fa fa-sign-in" aria-hidden="true"></i> access notes: {{ spot.display_access_restrictions }}, {{spot.access_notes}}
    </div>
</div>

<div class="content-block-title">Open Hours</div>
<div class="list-block">
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Monday</div>
                <div class="item-after">{% for hours in spot.hours.monday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Tuesday</div>
                <div class="item-after">{% for hours in spot.hours.tuesday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Wednesday</div>
                <div class="item-after"> {% for hours in spot.hours.wednesday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Thursday</div>
                <div class="item-after">{% for hours in spot.hours.thursday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Friday</div>
                <div class="item-after">{% for hours in spot.hours.friday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Saturday</div>
                <div class="item-after">{% for hours in spot.hours.saturday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Sunday</div>
                <div class="item-after">{% for hours in spot.hours.sunday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
    </ul>
    <div class="list-block-label" style="margin-bottom:1em;">
        <i class="fa fa-clock-o" aria-hidden="true"></i> {{spot.hours_notes}}
    </div>
</div>


<div class="content-block-title">Environment</div>
<div class="list-block">
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Resources</div>
                <div class="item-after">{% for spot_resource in spot.spot_resources %}{{ spot_resource }}, {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Food/Coffee</div>
                <div class="item-after">{{ spot.food_nearby }}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Noise level</div>
                <div class="item-after"> {{ spot.spot_noise }}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Lighting</div>
                <div class="item-after">{{ spot.natural_light }}</div>
            </div>
        </li>
    </ul>
</div>

<div class="content-block-title">Getting Here</div>

<div class="list-block">
    <ul>
        <li>
            <a href="maps://maps.apple.com/maps?q={{ spot.latitude }},{{ spot.longitude }}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Get directions to building in Maps</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
