{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Filter{% endblock %}

{% block hybrid_content %}

<form id="scout_filter">

    <div class="content-block-title">Type:</div>
    <div class="list-block">
    	<ul id="type_select">
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="study_room">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Study room</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="study_area">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Study area</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="computer_lab">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Computer lab</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="studio">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Production studio</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="conference">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Conference/Classroom</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="open">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Open space</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="lounge">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Lounge</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="cafe">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Café</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="outdoor">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Outdoor area</div>
    				</div>
    			</label>
    		</li>
    	</ul>
    </div>

    <div class="content-block-title">Resources:</div>
    <div class="list-block">
    	<ul id="resources_select">
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="has_whiteboards">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Whiteboard</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="has_outlets">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Outlets</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="has_computers">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Computer</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="has_scanning">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Scanning</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="has_displays">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Large displays (for laptop)</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="has_projector">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Projector</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="has_printing">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Printing</div>
    				</div>
    			</label>
    		</li>
    	</ul>
    </div>

    <div class="content-block-title">Noise Level</div>
    <div class="list-block">
    	<ul id="noise_select">
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="silent">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Silent</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="quiet">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Low hum</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="moderate">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Chatter</div>
    				</div>
    			</label>
    		</li>
    	</ul>
    </div>

    <div class="content-block-title">Food/Coffee</div>
    <div class="list-block">
    	<ul id="food_select">
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="space">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">In space</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="building">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">In building</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="neighboring">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">In neighboring building</div>
    				</div>
    			</label>
    		</li>
    	</ul>
    </div>

    {% if request.is_and %}
    <div class="content-block">
        <div class="content-block-inner">
            <p class="buttons-row">
                <a href="javascript:void(0)" id="filter_submit" class="button button-fill button-raised">Submit</a>
                <a href="javascript:void(0)" id="filter_clear" class="button button-fill button-raised">Clear</a>
            </p>
        </div>
    </div>
    {% endif %}

    {% if request.is_ios %}
    <div class="content-block" style="display:none;">
        <div class="row">
            <div class="col-50"><a href="javascript:void(0)" id="filter_submit" class="button button-big button-fill">Submit</a></div>
            <div class="col-50"><a href="javascript:void(0)" id="filter_clear" class="button button-big button-fill">Clear</a></div>
        </div>
    </div>
    {% endif %}

</form>

{% endblock %}
