{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Study{% endblock %}

{% block hybrid_content %}

<div class="card">
    <div class="card-content">
        <div class="card-content-inner">

            <div class="row no-gutter">
                <!-- study always has some sort of filter applied to it, so doesnt need to be visually hidden -->
                <div class="col-66" id="filter_text_holder">
                    <span id="filter_text_holder" class="visually-hidden">
                        Filtering by: <span id="filter_label_text"></span>
                    </span>
                </div>
                <div class="col-33" style="text-align:right;" id="spot_count">
                    <span class="content-loading" style="width:80px;">&nbsp;</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="list-block media-list scout-list">

    <div class="list-group">
        <ul aria-label="content placeholder" id="content_placeholder">
            <!-- content placeholder -->
            {% include "hybridize/list_content_placeholder.html" %}
        </ul>

        <ul id="scout_study_list">
            <!-- main list content goes here -->
        </ul>
    </div>

    <!-- stylize this -->
    <!-- MVP
    <div class="row no-gutter">
        <div class="col-100" style="text-align:center; display:none;" id="load_more_spot_list">
            Load more...
        </div>
    </div> -->
    <div style="margin: 15px;">
        <a href="javascript:void(0)" class="button button-big active" style="display:none" id="load_more_spot_list">Load more...</a>
    </div>

</div>

<script> var LIST_PAGE = true; </script>

{% endblock %}
