{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Filter{% endblock %}

{% block hybrid_content %}

<form id="scout_filter">

    <div class="content-block-title">Type</div>
    <div class="list-block">
    	<ul id="subcategory_select">
            <li class="item-divider">Computers</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Laptop Computer" {% if laptop_computer %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Laptop Computer</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Tablet Computer" {% if tablet_computer %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Tablet Computer</div>
    				</div>
    			</label>
    		</li>
            <li class="item-divider">Cameras</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Digital Camera" {% if digital_camera %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Digital Camera</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Digital Video Camera" {% if digital_video_camera %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Digital Video Camera</div>
    				</div>
    			</label>
    		</li>
            <li class="item-divider">DSLR Accessories</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="DSLR Accessories - Light Kit" {% if DSLR_Accessories___Light_Kit %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Light Kit</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="DSLR Accessories - Macro Lens" {% if DSLR_Accessories___Macro_Lens %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Macro Lens</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="DSLR Accessories - Macro Ring Lite Flash" {% if DSLR_Accessories___Macro_Ring_Lite_Flash %} checked {% endif %} >
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Macro Ring Lite Flash</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="DSLR Accessories - Shoe Mount Flash" {% if DSLR_Accessories___Shoe_Mount_Flash %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Shoe Mount Flash</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="DSLR Accessories - SLR Remote" {% if DSLR_Accessories___SLR_Remote %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">SLR Remote</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="DSLR Accessories - Telephoto Lens" {% if DSLR_Accessories___Telephoto_Lens %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Telephoto Lens</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="DSLR Accessories - Wide Angle Lens" {% if DSLR_Accessories___Wide_Angle_Lens %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Wide Angle Lens</div>
    				</div>
    			</label>
    		</li>
            <li class="item-divider">Other types</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Blu-ray Burner" {% if Blu_ray_Burner %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Blu-ray Burner</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Calculator" {% if Calculator %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Calculator</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Data Projector" {% if Data_Projector %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Data Projector</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Digital Pen Tablet" {% if Digital_Pen_Tablet %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Digital Pen Tablet</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="External Hard Drive" {% if External_Hard_Drive %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">External Hard Drive</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Microphone Stands" {% if Microphone_Stands %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Microphone Stands</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Portable Audio System" {% if Portable_Audio_System %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Portable Audio System</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Power Point Remote" {% if Power_Point_Remote %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Power Point Remote</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Projection Screen" {% if Projection_Screen %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Projection Screen</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Shotgun Microphone"{% if Shotgun_Microphone %} checked {% endif %} >
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Shotgun Microphone</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Tripod" {% if Tripod %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Tripod</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Voice Recorder/MP3 player" {% if Voice_Recorder_MP3_player %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Voice Recorder/MP3 player</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Wireless Microphone System" {% if Wireless_Microphone_System %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Wireless Microphone System</div>
    				</div>
    			</label>
    		</li>

    	</ul>

    </div>

    <div class="content-block-title">Brand</div>
    <div class="list-block">
    	<ul id="brand_select">
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Anchor" {% if Anchor %} checked {% endif %} >
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Anchor</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Apple" {% if Apple %} checked {% endif %} >
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Apple</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Azden" {% if Azden %} checked {% endif %} >
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Azden</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="BenQ" {% if BenQ %} checked {% endif %} >
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">BenQ</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Canon" {% if Canon %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Canon</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Dell" {% if Dell %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Dell</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Fender" {% if Fender %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Fender</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="GoPro" {% if GoPro %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">GoPro</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Hitachi" {% if Hitachi %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Hitachi</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="HP" {% if HP %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">HP</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Interlink" {% if Interlink %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Interlink</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Joby" {% if Joby %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Joby</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Lacie" {% if Lacie %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Lacie</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="LG" {% if LG %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">LG</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Manfrotto" {% if Manfrotto %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Manfrotto</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Olympus" {% if Olympus %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Olympus</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Panasonic" {% if Panasonic %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Panasonic</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Peavey" {% if Peavey %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Peavey</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="QuikLok" {% if QuikLok %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">QuikLok</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Seagate" {% if Seagate %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Seagate</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Sennheiser" {% if Sennheiser %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Sennheiser</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Sony" {% if Sony %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Sony</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Sunpak" {% if Sunpak %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Sunpak</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="TI" {% if TI %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Texas Instruments</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="UK Pro" {% if UK_Pro %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">UK Pro</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Vello" {% if Vello %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Vello</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="Wacom" {% if Wacom %} checked {% endif %}>
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Wacom</div>
    				</div>
    			</label>
    		</li>
    	</ul>
    </div>

    {% if request.is_and %}
    <div class="content-block" style="display:none;">
    	<div class="content-block-inner">
            <p class="buttons-row">
                <a href="javascript:void(0)" id="filter_submit" class="button button-fill button-raised">Submit</a>
                <a href="javascript:void(0)" id="filter_clear" class="button button-fill button-raised">Clear</a>
            </p>
    	</div>
    </div>
    {% endif %}

    {% if request.is_ios %}
    <div class="content-block" style="display:none;">
        <div class="row">
            <div class="col-50"><a href="javascript:void(0)" id="filter_submit" class="button button-big button-fill">Submit</a></div>
            <div class="col-50"><a href="javascript:void(0)" id="filter_clear" class="button button-big button-fill">Clear</a></div>
        </div>
    </div>
    {% endif %}

</form>

{% endblock %}
