{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Filter{% endblock %}

{% block hybrid_content %}

<form id="scout_filter">

	<div class="content-block-title">Type</div>
	<div class="list-block">
		<ul id="subcategory_select">
            {% for category, subcategories in filters.categories.items %}
            <li class="item-divider">{{ subcategories.name|default:category }}</li>
            {% for subcategory, name in subcategories.sub.items %}
            <li>
                <label class="label-checkbox item-content">
                    <input type="checkbox" value="{{ subcategory }}">
                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                    <div class="item-inner">
                        <div class="item-title">{% if subcategory|first in 'DSLR Accessories - ' %}{{ name.name|default:subcategory|cut:'DSLR Accessories - ' }}{% else %}{{ name.name|default:subcategory }}{% endif %}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>

    <!-- 1px top padding is a temp fix for cutoff of "Brand" -->
	<div class="content-block-title" style="padding-top:1px">Brand</div>
	<div class="list-block">
		<ul id="brand_select">
            {% for brand in filters.brands %}
            <li>
                <label class="label-checkbox item-content">
                    <input type="checkbox" value="{{brand}}">
                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                    <div class="item-inner">
                        <div class="item-title">{{brand}}</div>
                    </div>
                </label>
            </li>
            {% endfor %}
		</ul>
	</div>

	{% if request.user_agent.os.family == 'Android' %}
	<div class="content-block" style="display:none;">
		<div class="content-block-inner">
			<p class="buttons-row">
				<a href="javascript:void(0)" id="filter_submit" class="button button-fill button-raised">Submit</a>
				<a href="javascript:void(0)" id="filter_clear" class="button button-fill button-raised">Clear</a>
			</p>
		</div>
	</div>
	{% endif %}

	{% if request.user_agent.os.family == 'iOS' %}
	<div class="content-block" style="display:none;">
		<div class="row">
			<div class="col-50"><a href="javascript:void(0)" id="filter_submit"
					class="button button-big button-fill">Submit</a></div>
			<div class="col-50"><a href="javascript:void(0)" id="filter_clear" class="button button-big button-fill">Clear</a>
			</div>
		</div>
	</div>
	{% endif %}

</form>

{% endblock %}
