{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Tech{% endblock %}

{% block hybrid_content %}

{% if campus != "seattle" %}

<div style="padding:20px; line-height:20px;">

  <p>This feature is currently not available for the <strong style="text-transform:capitalize;">{{ campus }}
      campus</strong>. We are working hard to make this data available for you in the near future.</p>

  {% if campus == "bothell" %}
  <p>In the meantime, please visit the Information Technologies <a
      href="http://www.uwb.edu/it/services/articles/equipment-checkout" target="_blank">Equipment Checkout</a> service
    to see what is available for you.</p>
  {% endif %}

  {% if campus == "tacoma" %}
  <p>In the meantime, please visit the <a
      href="https://www.tacoma.uw.edu/learning-research-commons/learning-research-commons" target="_blank">Learning and
      Resource Commons (LARC)</a>, to see what is available for you.</p>
  {% endif %}

  <hr>

  <p style="font-size:14px; color:#666;">If you'd like to visit the <strong>Seattle Campus</strong>, here is a list of
    popular technology items available for you to checkout.</p>

  <ul style="list-style:none; padding:0; margin:0; line-height:20px; font-size:14px;">
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Digital+Camera">Digital Camera</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Digital+Video+Camera">Digital Video Camera</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Laptop+Computer">Laptop Computer</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Tablet+Computer">Tablet Computer</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Data+Projector">Data Projector</a></li>
  </ul>

</div>
{% else %}
{% if not scout_show_alt_tech %}

{% include "hybridize/includes/location.html" %}

<div style="padding:20px; line-height:20px;">
  <p style="font-size:14px; color:#666;">Commonly requested types:</p>
  <ul style="list-style:none; padding:0; margin:0; line-height:20px; font-size:14px;">
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Digital+Camera">Digital Camera</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Digital+Video+Camera">Digital Video Camera</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Laptop+Computer">Laptop Computer</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Tablet+Computer">Tablet Computer</a></li>
    <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Data+Projector">Data Projector</a></li>
  </ul>
</div>

<div id="tech_placeholder">

  <div class="card">
    <div class="card-content">
      <div class="card-content-inner">
        <div class="row no-gutter">
          <div class="col-66">
            <span id="filter_text_holder">&nbsp;</span>
          </div>
          <div class="col-33" style="text-align:right;">
            <span class="content-loading" style="width:60px;">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-block media-list scout-list">
    <div class="list-group">
      <!-- temp loading placeholder -->
      <ul>
        <li class="list-group-title">Spaces</li>
        <li>
          <a href="javascript:void(0)" class="item-link item-content" title="">
            <div class="item-media">
              <div class="scout-spot-image"
                style="background-image: url('{% static "scout/img/placeholder-200.png" %}'); width:80px; height:80px;">
                &nbsp;</div>
            </div>
            <div class="item-inner">
              <div class="item-title-row" style="margin-bottom:3px; background:none;">
                <div class="item-title"><span class="content-loading" style="width:150px;">&nbsp;</span></div>
              </div>
              <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
              <div class="item-text">
                <span class="content-loading" style="width:100px;">&nbsp;</span>
                <div style="font-size:12px;color:#000;">
                  <span class="scout-spot-distance"><span class="content-loading"
                      style="width:40px;">&nbsp;</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="item-link item-content" title="">
            <div class="item-media">
              <div class="scout-spot-image"
                style="background-image: url('{% static "scout/img/placeholder-200.png" %}'); width:80px; height:80px;">
                &nbsp;</div>
            </div>
            <div class="item-inner">
              <div class="item-title-row" style="margin-bottom:3px; background:none;">
                <div class="item-title"><span class="content-loading" style="width:150px;">&nbsp;</span></div>
              </div>
              <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
              <div class="item-text">
                <span class="content-loading" style="width:100px;">&nbsp;</span>
                <div style="font-size:12px;color:#000;">
                  <span class="scout-spot-distance"><span class="content-loading"
                      style="width:40px;">&nbsp;</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="item-link item-content" title="">
            <div class="item-media">
              <div class="scout-spot-image"
                style="background-image: url('{% static "scout/img/placeholder-200.png" %}'); width:80px; height:80px;">
                &nbsp;</div>
            </div>
            <div class="item-inner">
              <div class="item-title-row" style="margin-bottom:3px; background:none;">
                <div class="item-title"><span class="content-loading" style="width:150px;">&nbsp;</span></div>
              </div>
              <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
              <div class="item-text">
                <span class="content-loading" style="width:100px;">&nbsp;</span>
                <div style="font-size:12px;color:#000;">
                  <span class="scout-spot-distance"><span class="content-loading"
                      style="width:40px;">&nbsp;</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="item-link item-content" title="">
            <div class="item-media">
              <div class="scout-spot-image"
                style="background-image: url('{% static "scout/img/placeholder-200.png" %}'); width:80px; height:80px;">
                &nbsp;</div>
            </div>
            <div class="item-inner">
              <div class="item-title-row" style="margin-bottom:3px; background:none;">
                <div class="item-title"><span class="content-loading" style="width:150px;">&nbsp;</span></div>
              </div>
              <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
              <div class="item-text">
                <span class="content-loading" style="width:100px;">&nbsp;</span>
                <div style="font-size:12px;color:#000;">
                  <span class="scout-spot-distance"><span class="content-loading"
                      style="width:40px;">&nbsp;</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="item-link item-content" title="">
            <div class="item-media">
              <div class="scout-spot-image"
                style="background-image: url('{% static "scout/img/placeholder-200.png" %}'); width:80px; height:80px;">
                &nbsp;</div>
            </div>
            <div class="item-inner">
              <div class="item-title-row" style="margin-bottom:3px; background:none;">
                <div class="item-title"><span class="content-loading" style="width:150px;">&nbsp;</span></div>
              </div>
              <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
              <div class="item-text">
                <span class="content-loading" style="width:100px;">&nbsp;</span>
                <div style="font-size:12px;color:#000;">
                  <span class="scout-spot-distance"><span class="content-loading"
                      style="width:40px;">&nbsp;</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="item-link item-content" title="">
            <div class="item-media">
              <div class="scout-spot-image"
                style="background-image: url('{% static "scout/img/placeholder-200.png" %}'); width:80px; height:80px;">
                &nbsp;</div>
            </div>
            <div class="item-inner">
              <div class="item-title-row" style="margin-bottom:3px; background:none;">
                <div class="item-title"><span class="content-loading" style="width:150px;">&nbsp;</span></div>
              </div>
              <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
              <div class="item-text">
                <span class="content-loading" style="width:100px;">&nbsp;</span>
                <div style="font-size:12px;color:#000;">
                  <span class="scout-spot-distance"><span class="content-loading"
                      style="width:40px;">&nbsp;</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="item-link item-content" title="">
            <div class="item-media">
              <div class="scout-spot-image"
                style="background-image: url('{% static "scout/img/placeholder-200.png" %}'); width:80px; height:80px;">
                &nbsp;</div>
            </div>
            <div class="item-inner">
              <div class="item-title-row" style="margin-bottom:3px; background:none;">
                <div class="item-title"><span class="content-loading" style="width:150px;">&nbsp;</span></div>
              </div>
              <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
              <div class="item-text">
                <span class="content-loading" style="width:100px;">&nbsp;</span>
                <div style="font-size:12px;color:#000;">
                  <span class="scout-spot-distance"><span class="content-loading"
                      style="width:40px;">&nbsp;</span></span>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- tech spot loading location -->
<div id="tech_list" class="visually-hidden"></div>

{% else %}
<div class="scout-card scout-discover-content">
  <div class="card-content" style="background:#fff; padding: 10px 0;">
    <div class="card-content-inner">
      <p>
        The UW Student Technology Loan Program (UW STLP) is run by students for students, allowing currently-registered
        students to borrow laptops, projectors, cameras, and more for free.
        <a href="https://stlp.uw.edu" target="_blank">Visit the STLP site to see what's available and check out equipment.</a>
      </p>
    </div>
  </div>
</div>

{% endif %}
{% endif %}

{% endblock %}
