{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Tech{% endblock %}

{% block hybrid_content %}

{% if campus != "seattle" %}

<div style="padding:20px; line-height:20px;">

    <p>This feature is currently not available for the <strong style="text-transform:capitalize;">{{ campus }} campus</strong>. We are working hard to make this data available for you in the near future.</p>

    {% if campus == "bothell" %}
    <p>In the meantime, please visit the Information Technologies <a href="http://www.uwb.edu/it/services/articles/equipment-checkout" target="_blank">Equipment Checkout</a> service to see what is available for you.</p>
    {% endif %}

    {% if campus == "tacoma" %}
    <p>In the meantime, please visit the <a href="https://www.tacoma.uw.edu/learning-research-commons/learning-research-commons" target="_blank">Learning and Resource Commons (LARC)</a>, to see what is available for you.</p>
    {% endif %}

    <hr>

    <p style="font-size:14px; color:#666;">If you'd like to visit the <strong>Seattle Campus</strong>, here is a list of popular technology items available for you to checkout.</p>

    <ul style="list-style:none; padding:0; margin:0; line-height:20px; font-size:14px;">
        <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Digital+Camera">Digital Camera</a></li>
        <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Digital+Video+Camera">Digital Video Camera</a></li>
        <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Laptop+Computer">Laptop Computer</a></li>
        <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Tablet+Computer">Tablet Computer</a></li>
        <li><a href="/h/seattle/tech/?h_title=Seattle Tech&subcategory0=Data+Projector">Data Projector</a></li>
    </ul>

</div>
{% else %}

<div class="card">
    <div class="card-content">
        <div class="card-content-inner">

            <div class="row no-gutter">
                <div class="col-66">
                    <span id="filter_text_holder" class="visually-hidden">
                        Filtering by: <span id="filter_label_text"></span>
                    </span>
                </div>
                <div class="col-33" style="text-align:right;" id="spot_count">
                    <span class="content-loading" style="width:80px;">&nbsp;</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="list-block media-list scout-list">

    <div class="list-group">
        <ul aria-label="content placeholder" id="content_placeholder">
            <!-- content placeholder -->
            {% include "hybridize/list_content_placeholder.html" %}
        </ul>

        <ul id="scout_tech_list">
            <!-- main list content goes here -->
        </ul>
    </div>

    <ul id="load_more_content_placeholder" style="display: none;">
        <li>
            <a href="javascript:void(0)" class="item-link item-content" title="">
                <div class="item-media">
                    <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: cover !important; width:80px; height:80px">&nbsp;</div>
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title"><span class="content-loading" style="width:140px;">&nbsp;</span></div>
                    </div>
                    <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                    <div class="item-subtitle"><span class="content-loading" style="width:200px;">&nbsp;</span></div>
                    <div style="font-size:12px;"><span class="content-loading" style="width:80px;">&nbsp;</span></div>
                </div>
            </a>
        </li>
    </ul>
    <div style="display:none" id="load_more_spot_list">
        <div style="padding: 15px;">
            <a href="javascript:void(0)" class="button button-big button-fill" id="load_more_spot_button">Load more...</a>
        </div>
    </div>

</div>

<script> var LIST_PAGE = true; </script>

{% endif %}

{% endblock %}
