ingress:
  enabled: true
  tls:
    scout:
      secretName: test.scout.uw.edu-ingress-cert
      hosts:
        - test.scout.uw.edu
  hosts:
    scout:
      host: test.scout.uw.edu
      paths:
        - "/"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/ssl-ciphers: "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256"
    nginx.ingress.kubernetes.io/client-body-buffer-size: "16K"
lifecycle:
  enabled: true
  preStop:
    enabled: true
affinity:
   podsSpanNodes: true
readiness:
  enabled: true
securityPolicy:
  enabled: true
externalService:
  enabled: true
  name: scout-db-service
  type: ClusterIP
  serviceAddress: 172.18.0.196
  servicePort: 3306
database:
  engine: mysql
  name: scout_test
  hostname: scout-db-service
  secretName: test.scout.uw.edu-sql-secrets
repo: scout
instance: test
image:
  repository: gcr.io/uwit-mci-axdd/scout
  tag: IMAGE_TAG
memcached:
  enabled: false
cronjob:
  enabled: false
environmentVariables:
  - name: CLUSTER_CNAME
    value: test.scout.uw.edu
  - name: ENV
    value: test
  - name: RESTCLIENTS_SPOTSEEKER_DAO_CLASS
    value: Live
  - name: RESTCLIENTS_SPOTSEEKER_HOST
    value: https://test.api.scout.uw.edu
  - name: SCOUT_SHOW_NEWSSPLASH
    value: 'False'
  - name: WEBSERVER
    value: nginx
externalSecrets:
  enabled: true
  secrets:
    - name: test.scout.uw.edu-secrets
      externalKey: axdd/kv/data/scout/test/secrets
      data:
        - name: django-secret
          property: django-secret
        - name: google-analytics-key
          property: google-analytics-key
        - name: spotseeker-oauth-key
          property: spotseeker-oauth-key
        - name: spotseeker-oauth-secret
          property: spotseeker-oauth-secret
    - name: test.scout.uw.edu-sql-secrets
      externalKey: axdd/kv/data/scout/common/sql-secrets
      data:
        - name: username
          property: username
        - name: password
          property: password
    # may completely delete later if not needed
    # - name: test.scout.uw.edu-ic-certs
    #   externalKey: axdd/kv/data/scout/test/ic-certs
    #   data:
    #     - name: test.scout.uw.edu-ic.cert
    #       property: test.scout.uw.edu-ic.cert
environmentVariablesSecrets:
  djangoSecret:
    name: DJANGO_SECRET
    secretName: test.scout.uw.edu-secrets
    secretKey: django-secret
  googleAnalyticsKey:
    name: GOOGLE_ANALYTICS_KEY
    secretName: test.scout.uw.edu-secrets
    secretKey: google-analytics-key
  spotseekerOauthKey:
    name: SPOTSEEKER_OAUTH_KEY
    secretName: test.scout.uw.edu-secrets
    secretKey: spotseeker-oauth-key
  spotseekerOauthSecret:
    name: SPOTSEEKER_OAUTH_SECRET
    secretName: test.scout.uw.edu-secrets
    secretKey: spotseeker-oauth-secret
