{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}{{spot.name}}{% endblock %}

{% block hybrid_notification %}
<div class="notifications list-block media-list" style="display: block; transform: translate3d(0px, 0px, 0px);">
    <ul>
        <li class="notification-item" style="margin-top: 0px;">
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">has_alert: {{spot.has_alert}}</div>
                        <div class="item-after">
                            <a href="#" class="close-notification" data-turbolinks="false"><span></span></a>
                        </div>
                    </div>
                    <div class="item-text">{{ spot.alert_notes }}</div>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block hybrid_content %}

<div class="card">

    {% if spot.images %}
    <div style="background:url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}/?width=500') center center no-repeat; background-size:cover; height:270px;" valign="bottom" class="card-header">&nbsp;</div>
    {% else %}
    <div style="background: #e5e6e9 url('{% static "scout/img/placeholder-1000.png" %}') no-repeat center center; background-size: cover; height:270px;" valign="bottom" class="card-header">&nbsp;</div>
    {% endif %}

    <div class="card-content">
        <div class="card-content-inner">
            <h2>{{ spot.name }}</h2>
            <p>type: {% for type in spot.spot_types %}
                {{ type.name|remove_underscores }}
               {% endfor %}
            </p>

            <p>{% if spot.is_open %}Open now{% else %}Currently closed{% endif %}</p>

        </div>
    </div>

</div>

<div class="list-block">
    <div class="list-block-label" style="margin-bottom:1em;">
        {{ spot.location_description }}
    </div>
    <ul>
        <!--<li>
            <a href="#" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Location <span>{{ spot.building_name }}</span></div>
                    </div>
                </div>
            </a>
        </li>-->
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title">Location <span>{{ spot.building_name }}</span></div>
                </div>
            </div>
        </li>
        {% if spot.phone %}
        <li>
            <a href="tel:+1{{ spot.phone }}" class="item-link" data-turbolinks="false">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Phone <span>{{ spot.phone | format_phone }}</span></div>
                    </div>
                </div>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{{spot.website_url}}" class="item-link" data-turbolinks="false">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Website <span>{{ spot.website_url }}</span></div>
                    </div>
                </div>
            </a>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Menu</div>
                <div class="item-after" style="max-width:70%; max-height:initial;white-space:normal;">{{spot.menu_url}}</dvi>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Coupon</div>
                <div class="item-after" style="max-width:70%; max-height:initial;white-space:normal;">{{ spot.coupon_expiration }}, {{ spot.coupon_url }}</dvi>
            </div>
        </li>
    </ul>
    <div class="list-block-label" style="margin-bottom:1em;">
        <i class="fa fa-bookmark" aria-hidden="true"></i> reservation notes: {{ spot.has_reservation }}, {{ spot.reservation_notes }}
    </div>
    <div class="list-block-label" style="margin-bottom:1em;">
        <i class="fa fa-sign-in" aria-hidden="true"></i> access notes: {{ spot.display_access_restrictions }}, {{spot.access_notes}}
    </div>
</div>

<div class="content-block-title">Open periods</div>
<div class="list-block">
    <ul>
        {% for period in spot.open_periods %}
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title" style="text-transform: capitalize;">{{ period|remove_underscores }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="content-block-title">Open Hours</div>
<div class="list-block">
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Monday</div>
                <div class="item-after">{% for hours in spot.hours.monday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Tuesday</div>
                <div class="item-after">{% for hours in spot.hours.tuesday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Wednesday</div>
                <div class="item-after"> {% for hours in spot.hours.wednesday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Thursday</div>
                <div class="item-after">{% for hours in spot.hours.thursday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Friday</div>
                <div class="item-after">{% for hours in spot.hours.friday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Saturday</div>
                <div class="item-after">{% for hours in spot.hours.saturday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">Sunday</div>
                <div class="item-after">{% for hours in spot.hours.sunday %} {{ hours.0|time:"gA"}} - {{ hours.1|time:"gA"}} {% empty %} Closed {% endfor %}</div>
            </div>
        </li>
    </ul>
    <div class="list-block-label" style="margin-bottom:1em;">
        <i class="fa fa-clock-o" aria-hidden="true"></i> hours_notes: {{spot.hours_notes}}
    </div>
</div>

<!--
<div class="content-block-title">Cuisine:</div>
<div class="list-block">
    <ul>
        {% for cuisinetype in spot.cuisinetype_names %}
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">{{ cuisinetype }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="content-block-title">Food Served:</div>
<div class="list-block">
    <ul>
        {% for foodtype in spot.foodtype_names %}
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">{{ foodtype }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
-->

<div class="content-block-title">Payment Accepted</div>
<div class="list-block">
    <ul>
        {% for payment in spot.payment_names %}
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">{{ payment }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="content-block-title">Getting Here</div>
<div class="list-block">
    <ul>
        <li>
            <a href="maps://maps.apple.com/maps?q={{ spot.latitude }},{{ spot.longitude }}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Open in Google Maps</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
