{% extends "hybridize/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Filter{% endblock %}

{% block hybrid_content %}

<form id="scout_filter">

    <div class="content-block-title">Open Period</div>
    <div class="list-block">
    	<ul>
            <li id="open_now">
    			<label class="label-checkbox item-content">
    				<input type="checkbox" name="open_now" value="open_now" >
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Open Now</div>
    				</div>
    			</label>
    		</li>
        	<div id="period_select">
        		<li>
        			<label class="label-checkbox item-content">
        				<input type="checkbox" name="morning" value="morning">
        				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
        				<div class="item-inner">
        					<div class="item-title">Morning</div>
        				</div>
        			</label>
        		</li>
        		<li>
        			<label class="label-checkbox item-content">
        				<input type="checkbox" name="afternoon" value="afternoon">
        				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
        				<div class="item-inner">
        					<div class="item-title">Afternoon</div>
        				</div>
        			</label>
        		</li>
        		<li>
        			<label class="label-checkbox item-content">
        				<input type="checkbox" name="evening" value="evening">
        				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
        				<div class="item-inner">
        					<div class="item-title">Evening</div>
        				</div>
        			</label>
        		</li>
        		<li>
        			<label class="label-checkbox item-content">
        				<input type="checkbox" name="late_night" value="late_night">
        				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
        				<div class="item-inner">
        					<div class="item-title">Late Night</div>
        				</div>
        			</label>
        		</li>
            </div>
    	</ul>
    </div>

    <div class="content-block-title">Type</div>
    <div class="list-block">
    	<ul id="type_select">
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="cafe">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Cafes</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="food_court">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Food Court</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="food_truck">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Food Truck</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="market">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Market</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="restaurant">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Restaurant</div>
    				</div>
    			</label>
    		</li>
    	</ul>
    </div>

    <div class="content-block-title">Payment Accepted</div>
    <div class="list-block">
    	<ul id="payment_select">
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="s_pay_cash">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Cash</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="s_pay_husky">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Husky Card</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="s_pay_dining">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Dining Card</div>
    				</div>
    			</label>
    		</li>
    		<li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="s_pay_visa">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Visa</div>
    				</div>
    			</label>
    		</li>
            <li>
    			<label class="label-checkbox item-content">
    				<input type="checkbox" value="s_pay_mastercard">
    				<div class="item-media"><i class="icon icon-form-checkbox"></i></div>
    				<div class="item-inner">
    					<div class="item-title">Mastercard</div>
    				</div>
    			</label>
    		</li>
    	</ul>
    </div>

    {% if request.is_and %}
    <div class="content-block" style="display:none;">
    	<div class="content-block-inner">
            <p class="buttons-row">
                <a href="javascript:void(0)" id="filter_submit" class="button button-fill button-raised">Submit</a>
                <a href="javascript:void(0)" id="filter_clear" class="button button-fill button-raised">Clear</a>
            </p>
    	</div>
    </div>
    {% endif %}

    {% if request.is_ios %}
    <div class="content-block" style="display:none;">
        <div class="row">
            <div class="col-50"><a href="javascript:void(0)" id="filter_submit" class="button button-big button-fill">Submit</a></div>
            <div class="col-50"><a href="javascript:void(0)" id="filter_clear" class="button button-big button-fill">Clear</a></div>
        </div>
    </div>
    {% endif %}

</form>

{% endblock %}
