/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #E5E5E5;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  color: #111;
  font-family:'Raleway',sans-serif; 
  margin-left: 50px;
  padding-top: 8px;
  display: block; 
}

h2 {
  padding-bottom: 10px;
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.2s ease;
  transition: text-shadow 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -webkit-transition: text-shadow 0.2s ease;
  -moz-transition: color 0.2s ease;
  -moz-transition: text-shadow 0.2s ease;
  -o-transition: color 0.2s ease;
  -o-transition: text-shadow 0.2s ease;
  -ms-transition: color 0.2s ease;
  -ms-transition: text-shadow 0.2s ease;
}

#main_content a:hover {
  color: #0069ba;
  
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;



}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

img {
  width: 100%;
  max-width: 100%;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


#header_wrap .inner {
  padding: 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  background: none;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #E5E5E5;
  padding-top: 90px;

}

#main_content {
  padding-top: 90px;
  background: #E5E5E5;
}
.wrapper {
    min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -96px;
}

.images img {
    width: auto;
    display: block;
}

.indent {
    margin-left: 5%;
}

.underline {
    text-decoration: underline;
}

#main_content ol li {
    list-style-position: outside;
    margin: 20px 40px;
    
}

#main_content form label {
    display:block;
    padding-bottom: 20px;
    font-weight: bold;
    font-size:.9em;
}

#main_content form label textarea {
    display:block;
    padding:5px 2px;
    width: 350px;
    height: 40px;
}

#main_content form label input {
    display:block;
    padding:5px 2px;
    width: 200px;
}

.submit_button {
    background-color: #1A9CFF;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.submit_button:hover {
    background-color: #5BA1D7;
    cursor: pointer;
    text-decoration: underline;
}

.reset_button {
    background: none;
    border: none;
    color:#1A9CFF;
    margin-left:10px;
}

.reset_button:hover {
   cursor: pointer;
   color: #0069BA;
}



/*
#footer_wrap {
  background: #212121;
}
*/
/* Stuff added by Lauren */ 


.container {
  width: 960px;
  margin: 0 auto;
}

.pull-left { float: left; }
.pull-right { float: right; }
.push, footer {clear: both; height: 70px}
footer {
clear: both;
border-top: 1px solid rgba(255,255,255,0.3);
box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
color: #fff;
background-color: #343434;
font-size: 11px;
margin-top: 30px;
padding-top: 25px;
position: relative;
width: 100%;
bottom:0;
}


footer a { color: #1a9cff;}
footer a:hover { color: #43adff; }
footer .w-logo { margin: 2px 0 0 0; padding-right: 30px;  background: url(../images/w.png) no-repeat; float: left; width:36px; height: 24px;}
footer .copyright { margin-bottom: 10px; float: left; width: 310px;  }
footer .partners {float: right; }
.footer-nav { width: 300px; float: left; margin: 0 auto;}
footer .footer-nav h4 { color: white; font-size: 14px; margin-top: -5px;}
footer .footer-nav ul li { list-style: none; padding: 0;}

.visuallyhidden { border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;}
    
.logo  { 
    background-image: url("../images/spacescout_new.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 75px;
    width: 40px;
    float: left;
    margin-right: 110px;
  }

  /* jared */
  header {
    box-shadow:rgba(0,0,0,0.3) 0 1px 9px,rgba(255,255,255,0.2) 0 -1px 0 inset;
    position:absolute;
    left:0;right:0;
    border-bottom:1px solid #000;
    border-bottom:1px solid rgba(0,0,0,0.2);
    background:#a3a3a3;
    background:rgba(0,0,0,0.22);
    overflow: auto;
    width: 100%;
  }
  nav {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width:510px;
    margin: 0 25%;
  }
  nav ul { list-style: none;margin-bottom: 0; float: left;}
  nav li {
    text-shadow: rgba(0,0,0,0.75) 0 1px 1px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  nav li a {

    display: block;
    color: #fff;
    text-shadow: rgba(0,0,0,.55) 0 1px 1px;
    padding: 28px 15px;
   }
   nav li a:hover {
  color: #007edf;
  text-shadow: none;
  transition: none;
   }

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }
  .container { width: 100%;}
  #downloads {
    display: none;
  }
  #main_content {
    padding-top: 255px;
    max-width: 480px;
    padding: 255px 20px 0 20px;

  }
  header {
    box-shadow: none;
  }
  nav {
    width: 100%;
    margin-top: 10px; 
    border-top:1px solid rgba(255,255,255,0.35);
    box-shadow: rgba(0,0,0,.4) 0 1px 9px inset, rgba(0,0,0,0.1) 0 1px 0 inset;
    }
  nav ul {float: none;    background: rgba(0,0,0,.4);}
  nav li {
    padding: 0;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.35);

  }
  nav li:last-child {
    border-bottom: none;
  }
  nav li a {
    padding: 10px 15px;
    display: block;
  }
  nav li a:hover {
    color: #1a9cff;
  }
  footer { height: auto; }
  footer .copyright, footer .partners { display: block; padding: 0; margin: 0 auto; float: none;  }
  footer .partners { margin-top: 15px; padding-bottom: 20px;}
  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
    color: #343434;
    font-family:'Raleway',sans-serif; 
    font-weight:900;
    margin-left: 50px;
    padding-top: 8px;
    display: block; }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}



