{% extends "scout/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Places to Study{% endblock %}

{% block web_content %}

<div id="page_study" class="scout-content">

    {% include "scout/include/user_geolocation.html" %}

    <!-- food filter results -->
    <div class="scout-filter-results">
        <div class="scout-filter-results-by">
            <label>Filtering by:</label>
            <div id="filter_label_text" class="scout-filter-results-text">---</div>
        </div>
        <div class="scout-filter-results-results clearfix">
            <label>Spaces:</label>
            <div class="scout-filter-results-count">{{ count }}</div>
            <div class="scout-filter-results-actions">
                <a href="/study/filter/" id="study_link_filter" title="Filter list of food places on campus">
                    <i class="fa fa-sliders fa-inverse"></i>
                    <span class="scout-filter-results-action">Filter Study</span>
                </a>
            </div>
        </div>
    </div>

    <!-- study list -->
    <div class="scout-list-container" style="position:relative;" role="main">

        <h2 class="scout-list-header visually-hidden">List of study places (by distance)</h2>

        <ol id="scout_study_list" class="scout-card scout-list">
            {% for group in grouped_spots %}

            <li style="background:#aaa; padding: 5px 20px; color: #fff; font-size:14px;">
                <div>{% if group.name %}{{ group.name }}{% else %}<span style="color:red;">missing building_name</span>{% endif %}</div>
            </li>

                {% for spot in group.spots %}
                <li class="scout-list-item" id="{{ spot.spot_id }}">
                    <a class="clearfix" href="/study/{{ spot.spot_id }}/">

                        {% if spot.images %}
                        <div class="scout-spot-image" style="background-image: url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}/?width=200'); background-size:cover;">&nbsp;</div>
                        {% else %}
                        <div class="scout-spot-image" style="background: #e5e6e9 url('{% static "scout/img/placeholder-200.png" %}') no-repeat center center; background-size: contain;">&nbsp;</div>
                        {% endif %}

                        <div class="scout-spot-content">

                            <div style="padding-left: 10px;">
                                <h3 class="scout-spot-name">{{ spot.name }}</h3>
                                <div class="scout-spot-location">

                                    <span class="scout-spot-distance"><span class="visually-hidden">Distance from you:</span><span class="distance-number">--</span>&nbsp;ft.</span>&nbsp;&nbsp;
                                    {% if spot.building_name %}{{ spot.building_name }}{% else %}<span style="color:red;">missing building_name</span>{% endif %}

                                    <p style="display:none;">floor: {{spot.floor}}</p>
                                    <p>{{spot.location_description}}</p>

                                </div>


                                {% if is_desktop %}
                                <span class="scout-spot-type">{% if spot.spot_types %}{% for type in spot.spot_types %}<span>{{ type.name|remove_underscores }}</span>{% endfor %}{% else %} <span style="color:red;">SPOT_TYPE</span> {% endif %}</span>
                                {% endif %}

                                <div class="scout-spot-xxxx">
                                    <p>Seats {% if spot.capacity %}<span>{{ spot.capacity }}</span>{% else %}<span style="color:red;">xx</span> {% endif %}</p>
                                    <p class="scope">Lab Stats: <i class="fa fa-desktop" aria-hidden="true"></i> {{spot.labstats}} <span>{{ spot.auto_labstats_available }} / {{ spot.auto_labstats_total }}</span></p>
                                </div>

                                <span class="scout-spot-status">{% if spot.is_open %}<span class="open visually-hidden">Open now</span>{% else %}<span class="closed">Currently closed</span>{% endif %}</span>

                            </div>

                        </div>
                    </a>
                </li>
                {% endfor %}
            {% endfor %}

        </ol>

    </div>

    <script type="text/javascript">

        window.spot_locations = {
            {% for spot in spots %}
                '{{ spot.spot_id }}': {
                    "spot_name": '{{ spot.name }}',
                        "id": '{{ spot.spot_id }}',
                        "building": '{{ spot.building_name }}',
                        "lat": '{{ spot.latitude }}',
                        "lng": '{{ spot.longitude }}',
                },
            {% endfor %}
        };

        var study_geojson = [
            {% for spot in spots %}
            {
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": [{{ spot.longitude }}, {{ spot.latitude }}]
                },
                "properties": {
                    "marker-color": "#6564a8",
                    "marker-size": "small",
                    "marker-symbol": "circle-stroked",
                    "title": "{{ spot.name }}",
                    "description": "{{ spot.building_name }}",
                    "id": "{{ spot.spot_id }}"
                },
            },
            {% endfor %}
        ];

    </script>

</div>

{% endblock %}

{% block secondary_content %}

<!-- show a map on the list page -->
<div id="study_list_map" class="scout-spot-list-map" style="height:100%; background: #ddd !important;">
    <div class="scout-spot-list-map-loading" style="position:absolute; top: 50%; left: 50%; margin-left:-15px; margin-top: -110px; z-index:0;">
        <p class="visually-hidden">loading...</p>
        <div class="sk-fading-circle" aria-hidden="true">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</div>

{% endblock %}
