<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Scout{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="cleartype" content="on">
        
        {% load staticfiles %}
        {% load compress %}

        {% if request.is_and %}
            
            <!-- material design lite -->
            <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
            <script src="//storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
            <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

            <!-- android -->  
            {% compress css inline %}
            <link rel="stylesheet" href="{% static "hybrid/css/android.scss" %}" type="text/x-scss">
            {% endcompress %}
            
        {% endif %}
        
        {% if request.is_ios %}
            <!-- ios -->   
            {% compress css inline %}
            <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
            <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
            <link rel="stylesheet" href="{% static "hybrid/css/ios.scss" %}" type="text/x-scss">
            {% endcompress %}
        {% endif %}
        
        {% if request.is_win %}
            <!-- windows -->   
            {% compress css inline %}
            <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
            <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.0.3.min.css" %}">
            <link rel="stylesheet" href="{% static "hybrid/css/windows.scss" %}" type="text/x-scss">
            {% endcompress %}
        {% endif %}
    
    </head>
    <body>
                       
        <div id="content">
            {% block content %}{% endblock %}
        </div>
                       
    </body>
</html>
