<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Scout{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="cleartype" content="on">
        
        {% load staticfiles %}
        {% load compress %}

        {% if request.is_and %}
            <!-- framework7 material -->
            <link rel="stylesheet" media="only foo" type="text/css" href="{% static "vendor/css/framework7.material.min.css" %}">
            <!-- android -->  
            {% compress css %}
            <link rel="stylesheet" href="{% static "hybrid/css/android.scss" %}" type="text/x-scss">
            {% endcompress %}
        {% endif %}
        
        {% if request.is_ios %}
            <!-- framework7 ios -->
            <link rel="stylesheet" media="only foo" type="text/css" href="{% static "vendor/css/framework7.ios.min.css" %}">
            <!-- ios -->   
            {% compress css %}
            <link rel="stylesheet" href="{% static "hybrid/css/ios.scss" %}" type="text/x-scss">
            {% endcompress %}
        {% endif %}
        
    </head>
    <body>
    
    <div class="views">
    <div class="view view-main">
            
          <div class="pages">
            <div class="page">
              <div class="page-content">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
    
    {% compress js inline %}
    <script>
        var links = document.getElementsByTagName('link');
        for(var i = 0; i < links.length; i++){
            var link = links[i];
            if(link.getAttribute('media') === 'only foo')
                link.setAttribute('media', 'all');
                //link.removeAttribute("media");
        }
    </script>
    {% endcompress %}
         
    <!-- javascript -->
    {% compress js %}
    {% endcompress %}
                       
    </body>
</html>
