<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Scout{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="cleartype" content="on">
        
        {% load staticfiles %}
        {% load compress %}

        {% if request.is_and %}
            
            <!-- framework7 material -->
            <link rel="stylesheet" media="only foo" type="text/css" href="{% static "vendor/css/framework7.material.css" %}">
            
            <!-- android css -->  
            {% compress css %}
            <link rel="stylesheet" href="{% static "hybrid/css/android-theme.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "hybrid/css/android.scss" %}" type="text/x-scss">
            {% endcompress %}
            
            {% compress js %}
            <!-- javascript -->
		    <script type="text/javascript" src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "vendor/js/framework7.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybrid/js/android.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybrid/js/hybrid.js" %}"></script>
		    {% endcompress %}
		    
        {% endif %}
        
        {% if request.is_ios %}
        
            <!-- framework7 ios -->
            <link rel="stylesheet" media="only foo" type="text/css" href="{% static "vendor/css/framework7.ios.css" %}">
            
            <!-- ios -->   
            {% compress css %}
            <link rel="stylesheet" href="{% static "hybrid/css/ios-theme.scss" %}" type="text/x-scss">
            <link rel="stylesheet" href="{% static "hybrid/css/ios.scss" %}" type="text/x-scss">
            {% endcompress %}
            
            {% compress js %}
            <!-- javascript -->
		    <script type="text/javascript" src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "vendor/js/framework7.min.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybrid/js/ios.js" %}"></script>
		    <script type="text/javascript" src="{% static "hybrid/js/hybrid.js" %}"></script>
		    {% endcompress %}  
    
        {% endif %}
        
    </head>
    <body>

    <div class="views">
        <div class="view view-main">
            <div class="pages">
                <div class="page">
                    <div class="page-content" style="position: relative;">
                    {% block hybrid_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% compress js inline %}
    <script>
    var links = document.getElementsByTagName('link');
    for(var i = 0; i < links.length; i++){
        var link = links[i];
        if(link.getAttribute('media') === 'only foo')
            link.setAttribute('media', 'all');
    }
    </script>
         
    </body>
    
</html>
