{% extends "scout/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}{{spot.item.name}}{% endblock %}

{% block web_content %}

<div id="page_{{spot.item.item_id}}" class="scout-content">

    <div class="scout-details-container" role="main">

        <h2 class="visually-hidden">{{spot.item.name}}</h2>

        <div class="scout-card scout-details-card" data-latitude="{{ spot.latitude }}" data-longitude="{{ spot.longitude }}" data-spotname="{{ spot.name }}" data-building="{{ spot.building_name }}">

            <h3 class="visually-hidden">Overview</h3>

            {% if spot.images %}
            <div class="scout-spot-image spot-detail-main-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}/?width=500');">
            {% else %}
            <div class="scout-spot-image spot-detail-main-image" style="background: #e5e6e9 url('{% static "scout/img/placeholder-1000.png" %}') no-repeat center center; background-size: contain;">
            {% endif %}

            </div>

            <h4 class="visually-hidden">Study stuff</h4>

            <div class="sticky">
                <div class="scout-spot-meta clearfix">

                    <div class="scout-spot-name">{% if spot.item.name %}{{ spot.item.name }}{% else %}item name missing{% endif %}</div>
                    <div class="scout-spot-type">
                        {{ spot.item.subcategory }}
                    </div>

                    <div class="scout-spot-resources">
                        <label>Brand</label>
                        <span>{{spot.item.brand}}</span>
                    </div>

                    <div class="scout-spot-extra">
                        {% if spot.item.quantity %}<span>Available {{ spot.item.quantity }}</span>{% endif %}
                    </div>


                </div>
            </div>

            <div class="scout-spot-info">

                <h4 class="visually-hidden">Item Information</h4>


                <div class="scout-spot-info-item">
                    {% if spot.item.reserve_url %}
                    <a href="{{ spot.item.reserve_url }}" target="_blank">
                        <span class="visually-hidden">Reserve equipment:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">
                            {{ spot.item.reserve_url }}
                        </span>
                    </a>
                    {% else %}
                    <a href="https://www.cte.uw.edu/stfequip/request" target="_blank">
                        <span class="visually-hidden">Reserve equipment:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">
                            https://www.cte.uw.edu/stfequip/request
                        </span>
                    </a>
                    {% endif%}
                </div>

                <div class="scout-spot-info-item">
                    <div>
                        <span class="visually-hidden">Checkout period:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">{{ spot.item.checkout_period|floatformat:"0" }} day checkout</span>
                    </div>
                </div>

                {% if spot.item.access_limit_role %}
                <div class="scout-spot-info-item">
                    <div style="overflow:visible; line-height:20px; white-space:normal;">
                        <span class="visually-hidden">Role limitations:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">
                            {% if spot.item.access_role_students %}
                            Available only for students.
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% endif %}

            </div>


        </div>

        <div class="scout-spot-content">

            <div class="scout-card">
                <h3>Details</h3>
                <h4 class="visually-hidden">Description</h4>
                <div class="scout-spot-description">
                    {% if spot.item.description %}
                    {{ spot.item.description }}
                    {% else %}
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate.
                    {% endif %}
                </div>

                {% if spot.item.manual_url %}
                <div class="scout-spot-map-link">
                    <a href="{{ spot.item.manual_url }}" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-map-action-text">Download user manual</span>
                    </a>
                </div>
                {% else %}
                <div class="scout-spot-notes">No user manual available for download.</div>
                {% endif %}

            </div>

            <div class="scout-card">

                <div class="scout-spot-location">
                    <h3>Location</h3>
                    <h4 class="visually-hidden">Building information</h4>
                    <div class="scout-spot-building-info">
                        <ul>
                            <li><strong>{% if spot.name %}{{spot.name}}</strong>{% endif %}</li>
                            <li>{% if spot.building_name %}{{ spot.building_name }}{% endif %}</li>
                            <li>Floor: {% if spot.floor %}{{ spot.floor }}{% else %}---{% endif %}</li>
                            <li>Room: {% if spot.room_number %}{{ spot.room_number }}{% else %}---{% endif %}</li>
                        </ul>
                    </div>
                </div>

                {% if request.is_mobile %}
                <h4 class="visually-hidden">Map</h4>
                <div class="scout-spot-map">
                    <div id="tech_detail_map" data-mobile="true" style="height:100%;"></div>
                </div>
                {% endif %}

                <div class="scout-spot-map-link">
                    {% if request.is_ios %}
                    <a href="maps://maps.apple.com/maps?q={{ spot.latitude }},{{ spot.longitude }}" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-map-action-text">Get directions via Apple Maps</span>
                    </a>
                    {% else %}
                    <a href="//maps.google.com/maps?q={{ spot.latitude }},{{ spot.longitude }}" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-map-action-text">Get directions via Google Maps</span>
                    </a>
                    {% endif %}
                </div>

            </div>

            <div class="scout-card visually-hidden">
                <h3>Extended Info List</h3>

                <ul style="margin-bottom:2em;">
                    <li>item_id: {{ spot.item.item_id }}</li>
                    <li>name: {{ spot.item.name }}</li>
                    <li>category: {{ spot.item.category }}</li>
                    <li>subcategory: {{ spot.item.subcategory }}</li>
                    <li style="margin:20px 0;">... EXTENDED INFO... </li>
                    <li>description: {{ spot.item.description }}</li>
                    <li>quantity: {{ spot.item.quantity }}</li>
                    <li>brand: {{ spot.item.brand }}</li>
                    <li>model: {{ spot.item.model }}</li>
                    <li>manual_url: {{ spot.item.manual_url }}</li>
                    <li>checkout_period: {{ spot.item.checkout_period }}</li>
                    <li>access_limit_role: {{ spot.item.access_limit_role }}</li>
                    <li>access_role_students: {{ spot.item.access_role_students }}</li>
                    <li>reservation_required: {{ spot.item.reservation_required }}</li>
                    <li>reserve_url: {{ spot.item.reserve_url }}</li>
                    <li>is_active: {{ spot.item.is_active }}</li>
                </ui>

            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block secondary_content %}
<!-- show a map on the list page -->
<div id="tech_detail_map" class="scout-spot-detail-map" style="height:100%;"></div>
{% endblock %}
