{% extends "scout/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}{{spot.item.name}}{% endblock %}

{% block web_content %}

<div id="page_{{spot.item.item_id}}" class="scout-content">

    <div class="scout-details-container" role="main">

        <h2 class="visually-hidden">{{spot.item.name}}</h2>

        <div class="scout-card scout-details-card" data-latitude="{{ spot.latitude }}" data-longitude="{{ spot.longitude }}" data-spotname="{{ spot.name }}" data-building="{{ spot.building_name }}">

            <h3 class="visually-hidden">Overview</h3>

            {% if spot.images %}
            <div class="scout-spot-image spot-detail-main-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('/images/{{ spot.spot_id }}/image/{{ spot.images.0.image_id }}/?width=500');">
            {% else %}
            <div class="scout-spot-image spot-detail-main-image" style="background: #e5e6e9 url('{% static "scout/img/placeholder-1000.png" %}') no-repeat center center; background-size: contain;">
            {% endif %}

            </div>

            <h4 class="visually-hidden">Study stuff</h4>

            <div class="sticky">
                <div class="scout-spot-meta clearfix">

                    <div class="scout-spot-name">{% if spot.item.name %}{{ spot.item.name }}{% else %}item name missing{% endif %}</div>
                    <div class="scout-spot-type">
                        {{ spot.item.subcategory }}
                    </div>

                    <div class="scout-spot-resources">
                        <label>Brand / Model</label>
                        <span>{{spot.item.brand}} / {{spot.item.model}}</span>
                    </div>

                    <div class="scout-spot-extra">
                        {% if spot.item.quantity %}<span>Availble {{ spot.item.quantity }}</span>{% endif %}
                    </div>


                </div>
            </div>

            <div class="scout-spot-info">

                <h4 class="visually-hidden">Item Information</h4>

                <div class="scout-spot-info-item">
                    <div>
                        <span class="visually-hidden">asdfasf:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-meh-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text scope">
                            reserve_url: https://www.cte.uw.edu/stfequip/request
                        </span>
                    </div>
                </div>

                <div class="scout-spot-info-item">
                    <div>
                        <span class="visually-hidden">asdfas:</span>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-meh-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text">checkout_period: {{ spot.item.checkout_period }} days</span>
                    </div>
                </div>

                <div class="scout-spot-info-item">
                    <div style="overflow:visible; line-height:20px; white-space:normal;">
                        <span class="visually-hidden">sdfdafs:</span>
                        <span class="fa-stack fa-lg" style="float:left; width: 28px; margin-right:3px;">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-meh-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-spot-action-text scope" style="white-space:normal;float:left; width: 80%; ">
                            Students only!!!
                        </span>
                    </div>
                </div>

            </div>


        </div>

        <div class="scout-spot-content">

            <div class="scout-card">
                <h3>Details</h3>

                <p>full list of item attributes...</p>
                <ul style="margin-bottom:2em;">
                    <li>item_id: {{ spot.item.item_id }}</li>
                    <li>name: {{ spot.item.name }}</li>
                    <li>category: {{ spot.item.category }}</li>
                    <li>subcategory: {{ spot.item.subcategory }}</li>
                    <li>quantity: {{ spot.item.quantity }}</li>
                    <li>brand: {{ spot.item.brand }}</li>
                    <li>model: {{ spot.item.model }}</li>
                    <li>checkout_period: {{ spot.item.checkout_period }}</li>
                    <li>has_access_restrictions: {{ spot.item.has_access_restrictions }}</li>
                    <li>access_limit_role: {{ spot.item.access_limit_role }}</li>
                    <li>access_role_students: {{ spot.item.access_role_students }}</li>
                    <li>reservation_required: {{ spot.item.reservation_required }}</li>
                    <li>is_active: {{ spot.item.is_active }}</li>
                    <li style="margin:20px 0;">... NEW FIELDS... </li>
                    <li class="scope">reserve_url: {{ spot.item.reserve_url }}</li>
                    <li class="scope">manual_url: {{ spot.item.manual_url }}</li>
                    <li class="scope">description: {{ spot.item.description }}</li>
                </ui>

                <h4 class="visually-hidden">Description</h4>
                <div class="scout-spot-description visually-hidden">{{ spot.item.description }}</div>

            </div>

            <div class="scout-card">

                <div class="scout-spot-location">
                    <h3>Location</h3>
                    <h4 class="visually-hidden">Building information</h4>
                    <div class="scout-spot-building-info">
                        <ul>
                            <li>spot name: {% if spot.name %}{{spot.name}}</li>{% endif %}
                            <li>building_name: {% if spot.building_name %}{{ spot.building_name }}</li>{% endif %}
                            <li>floor: {% if spot.floor %}{{ spot.floor }}</li>{% endif %}
                            <li>room_number: {% if spot.room_number %}{{ spot.room_number }}</li>{% endif %}
                        </ul>
                    </div>
                </div>

                {% if request.is_mobile %}
                <h4 class="visually-hidden">Map</h4>
                <div class="scout-spot-map">
                    <div id="tech_detail_map" data-mobile="true" style="height:100%;"></div>
                </div>
                {% endif %}

                <div class="scout-spot-map-link">
                    {% if request.is_ios %}
                    <a href="maps://maps.apple.com/maps?q={{ spot.latitude }},{{ spot.longitude }}" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-map-action-text">Launch Apple Maps</span>
                    </a>
                    {% else %}
                    <a href="//maps.google.com/maps?q={{ spot.latitude }},{{ spot.longitude }}" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="scout-map-action-text">Launch Google Maps</span>
                    </a>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block secondary_content %}
<!-- show a map on the list page -->
<div id="tech_detail_map" class="scout-spot-detail-map" style="height:100%;"></div>
{% endblock %}
