{% extends "scout/base.html" %}
{% load staticfiles %}

{% block title %}Filter Technology{% endblock %}

{% block web_content %}
<div id="page_filter" class="scout-content">

    <h2 class="visually-hidden">Filter</h2>

    <div class="scout-filter-container">

        <form>

            <div class="scout-card clearfix">
                <fieldset class="scout-filter-split">
                    <legend>Brand</legend>
                    <div id="brand_select">
                        <!--The value needs to be cleaned so search works!-->
                        <label><input type="checkbox" value="anchor">Anchor</label>
                        <label><input type="checkbox" value="apple">Apple</label>
                        <label><input type="checkbox" value="azden">Azden</label>
                        <label><input type="checkbox" value="benq">BenQ</label>
                        <label><input type="checkbox" value="canon">Canon</label>
                        <!--<label><input type="checkbox" value="da-lite">Da-Lite</label>-->
                        <label><input type="checkbox" value="dell">Dell</label>
                        <label><input type="checkbox" value="fender">Fender</label>
                        <label><input type="checkbox" value="gopro">GoPro</label>
                        <label><input type="checkbox" value="hitachi">Hitachi</label>
                        <label><input type="checkbox" value="hp">HP</label>
                        <label><input type="checkbox" value="interlink">Interlink</label>
                        <label><input type="checkbox" value="joby">Joby</label>
                        <label><input type="checkbox" value="lacie">Lacie</label>
                        <label><input type="checkbox" value="lg">LG</label>
                        <label><input type="checkbox" value="manfrotto">Manfrotto</label>
                        <label><input type="checkbox" value="olympus">Olympus</label>
                        <label><input type="checkbox" value="panasonic">Panasonic</label>
                        <label><input type="checkbox" value="peavey">Peavey</label>
                        <label><input type="checkbox" value="quiklok">QuikLok</label>
                        <label><input type="checkbox" value="seagate">Seagate</label>
                        <label><input type="checkbox" value="sennheiser">Sennheiser</label>
                        <label><input type="checkbox" value="sony">Sony</label>
                        <label><input type="checkbox" value="sunpak">Sunpak</label>
                        <label><input type="checkbox" value="ti">Texas Instruments</label>
                        <label><input type="checkbox" value="uk_pro">UK Pro</label>
                        <label><input type="checkbox" value="vello">Vello</label>
                        <label><input type="checkbox" value="wacom">Wacom</label>

                    </div>
                </fieldset>
            </div>

            <div class="scout-card clearfix">
                <fieldset class="scout-filter-split">
                    <legend>Type (sub_category)</legend>
                    <div id="subcategory_select">
                        <label><input type="checkbox" value="laptop_computer">Laptop</label>
                        <label><input type="checkbox" value="data_projector">Data Projector</label>
                        <label><input type="checkbox" value="digital_camera">Digital Camera</label>
                        <label><input type="checkbox" value="digital_video_camera">Digital Video Camera</label>
                        <label><input type="checkbox" value="flatbed_scanner">Flatbed Scanner</label>
                        <label><input type="checkbox" value="tablet_pc">Tablet PC</label>
                        <label><input type="checkbox" value="projection_screen">Projection Screen</label>
                        <label><input type="checkbox" value="portable_audio_system">Portable Audio System</label>
                        <label><input type="checkbox" value="cd_recorder">CD Recorder</label>
                        <label><input type="checkbox" value="external_harddrive">External HDD</label>
                        <label><input type="checkbox" value="voice_recorder_mp3_player">Voice Recorder/MP3 Player</label>
                        <label><input type="checkbox" value="harddrive_recorder">HardDrive Recorder</label>
                        <label><input type="checkbox" value="wireless_microphone_system">Wireless Microphone System</label>
                        <label><input type="checkbox" value="powerpoint_remote">PowerPoint Remote</label>
                        <label><input type="checkbox" value="shotgun_microphone">Shotgun Microphone</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                        <label><input type="checkbox" value="value">subcategory</label>
                    </div>
                </fieldset>
            </div>

            <div class="scout-filter-actions">
                <button id="reset_tech_button" type="button" class="action-cancel"><i class="fa fa-refresh"></i>Reset</button>&nbsp;&nbsp;
                <button id="run_tech_search" type="button"><i class="fa fa-list fa-inverse"></i>View Results</button>
            </div>

        </form>

    </div>

</div>
{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/huskygrind.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}
