{% extends "scout/base.html" %}
{% load staticfiles %}

{% block title %}Filter Technology{% endblock %}

{% block web_content %}
<div id="page_filter" class="scout-content">

    <h2 class="visually-hidden" id="filter_header">Tech List Filter</h2>

    <div class="scout-filter-container" role="main" aria-labelledby="filter_header">

        <form>

            <div class="scout-card clearfix">
                <fieldset class="scout-filter-split">
                    <legend>Type</legend>
                    <div id="subcategory_select">
                        {% for category, subcategories in filters.categories.items %}
                            <h3>{{ subcategories.name|default:category }}</h3>
                            <ul>
                            {% for subcategory, name in subcategories.sub.items %}
                            <label><input type="checkbox" value={{ subcategory }}>{{ name.name|default:subcategory }}</label>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>

             <div class="scout-card clearfix">
                <fieldset class="scout-filter-split">
                    <legend>Brand</legend>
                    <div id="brand_select">
                        <ul>
                        {% for brand in filters.brands %}
                        <label><input type="checkbox" value={{brand}}>{{brand}}</label>
                        {% endfor %}
                        </ul>
                    </div>
                </fieldset>
            </div>

            <div class="scout-filter-actions">
                <button id="reset_tech_button" type="button" class="action-cancel"><i class="fa fa-refresh"></i>Reset <span class="visually-hidden">filter</span></button>&nbsp;&nbsp;
                <button id="run_tech_search" type="button"><i class="fa fa-list fa-inverse"></i>View Results</button>
            </div>

        </form>

    </div>

</div>
{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/seattle/IMG_1758-X3.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}
