{% extends "scout/base.html" %}
{% load staticfiles %}

{% block title %}Filter Technology{% endblock %}

{% block web_content %}
<div id="page_filter" class="scout-content">

    <h2 class="visually-hidden">Filter</h2>

    <div class="scout-filter-container">

        <form>

            <div class="scout-card clearfix">
                <fieldset class="scout-filter-split">
                    <legend>Brand</legend>
                    <div id="brand_select">
                        <!--The value needs to be cleaned so search works!-->
                        <label><input type="checkbox" value="Anchor">Anchor</label>
                        <label><input type="checkbox" value="Apple">Apple</label>
                        <label><input type="checkbox" value="Azden">Azden</label>
                        <label><input type="checkbox" value="BenQ">BenQ</label>
                        <label><input type="checkbox" value="Canon">Canon</label>
                        <!--<label><input type="checkbox" value="da-lite">Da-Lite</label>-->
                        <label><input type="checkbox" value="Dell">Dell</label>
                        <label><input type="checkbox" value="Fender">Fender</label>
                        <label><input type="checkbox" value="GoPro">GoPro</label>
                        <label><input type="checkbox" value="Hitachi">Hitachi</label>
                        <label><input type="checkbox" value="HP">HP</label>
                        <!--We have two makes Interlink and InterLink-->
                        <label><input type="checkbox" value="Interlink">Interlink</label>
                        <label><input type="checkbox" value="Joby">Joby</label>
                        <label><input type="checkbox" value="Lacie">Lacie</label>
                        <label><input type="checkbox" value="LG">LG</label>
                        <label><input type="checkbox" value="Manfrotto">Manfrotto</label>
                        <!--We have Olympus and Olympus Digital Voice Recorder-->
                        <label><input type="checkbox" value="Olympus">Olympus</label>
                        <label><input type="checkbox" value="Panasonic">Panasonic</label>
                        <label><input type="checkbox" value="Peavey">Peavey</label>
                        <label><input type="checkbox" value="QuikLok">QuikLok</label>
                        <label><input type="checkbox" value="Seagate">Seagate</label>
                        <label><input type="checkbox" value="Sennheiser">Sennheiser</label>
                        <label><input type="checkbox" value="Sony">Sony</label>
                        <label><input type="checkbox" value="Sunpak">Sunpak</label>
                        <label><input type="checkbox" value="TI">Texas Instruments</label>
                        <label><input type="checkbox" value="UK Pro">UK Pro</label>
                        <label><input type="checkbox" value="Vello">Vello</label>
                        <label><input type="checkbox" value="Wacom">Wacom</label>

                    </div>
                </fieldset>
            </div>

            <div class="scout-card clearfix">
                <fieldset class="scout-filter-split">
                    <legend>Type (sub_category)</legend>
                    <div id="subcategory_select">
                        <label><input type="checkbox" value="Blu-ray Burner">Blu-ray Burner</label>
                        <label><input type="checkbox" value="Calculator">Calculator</label>
                        <label><input type="checkbox" value="Data Projector">Data Projector</label>
                        <label><input type="checkbox" value="Digital Camera">Digital Camera</label>
                        <label><input type="checkbox" value="Digital Pen Tablet">Digital Pen Tablet</label>
                        <label><input type="checkbox" value="Digital Video Camera">Digital Video Camera</label>
                        <label><input type="checkbox" value="DSLR Accessories - Macro Lens">DSLR Accessories - Macro Lens</label>
                        <label><input type="checkbox" value="DSLR Accessories - Macro Ring Lite Flash">DSLR Accessories - Macro Ring Lite Flash</label>
                        <label><input type="checkbox" value="DSLR Accessories - Shoe Mount Flash">DSLR Accessories - Shoe Mount Flash</label>
                        <label><input type="checkbox" value="DSLR Accessories - SLR Remote">DSLR Accessories - SLR Remote</label>
                        <label><input type="checkbox" value="DSLR Accessories - Telephoto Lens">DSLR Accessories - Telephoto Lens</label>
                        <label><input type="checkbox" value="DSLR Accessories - Wide Angle Lens">DSLR Accessories - Wide Angle Lens</label>
                        <label><input type="checkbox" value="External Hard Drive">External Hard Drive</label>
                        <label><input type="checkbox" value="Laptop Computer">Laptop Computer</label>
                        <label><input type="checkbox" value="Laptop Computer (short term)">Laptop Computer (short term)</label>
                        <label><input type="checkbox" value="Microphone Stands">Microphone Stands</label>
                        <label><input type="checkbox" value="Portable Audio System">Portable Audio System</label>
                        <label><input type="checkbox" value="Power Point Remote">Power Point Remote</label>
                        <label><input type="checkbox" value="Projection Screen">Projection Screen</label>
                        <label><input type="checkbox" value="Shotgun Microphone">Shotgun Microphone</label>
                        <label><input type="checkbox" value="Tablet Computer">Tablet Computer</label>
                        <label><input type="checkbox" value="Tripod">Tripod</label>
                        <label><input type="checkbox" value="Voice Recorder/MP3 player">Voice Recorder/MP3 player</label>
                        <label><input type="checkbox" value="Wireless Microphone System">Wireless Microphone System</label>
                    </div>
                </fieldset>
            </div>

            <div class="scout-filter-actions">
                <button id="reset_tech_button" type="button" class="action-cancel"><i class="fa fa-refresh"></i>Reset</button>&nbsp;&nbsp;
                <button id="run_tech_search" type="button"><i class="fa fa-list fa-inverse"></i>View Results</button>
            </div>

        </form>

    </div>

</div>
{% endblock %}

{% block secondary_content %}
<div style="background:url('{% static "scout/img/seattle/IMG_1758-X3.jpg" %}') no-repeat; background-size:cover; background-position:center center; position:absolute; top:0; bottom:0; width: 100%;">&nbsp;</div>
{% endblock %}
