{% extends "scout/base.html" %}
{% load staticfiles %}
{% load scout_filters %}

{% block title %}Places to Technology{% endblock %}

{% block web_content %}

<div id="page_study" class="scout-content">

    {% include "scout/include/user_geolocation.html" %}

    <div style="padding:20px;">
        categories...
    </div>

    <div class="scout-list-container" style="position:relative;" role="main">

        <h2 class="scout-list-header visually-hidden">List of tech (by distance)</h2>

        <ol id="scout_list" class="scout-card scout-list">

            <li class="scout-list-item" id="">
                <a class="clearfix" href="">
                    <div class="scout-spot-image" style="background-image: url('{% static "scout/img/solidoodle.jpg" %}')">&nbsp;</div>
                    <div class="scout-spot-content">
                        <div style="padding-left: 10px;">
                            Duis eget tellus aliquam, feugiat velit nec, cursus mauris. Fusce tristique in risus non scelerisque. Cras nec ultrices eros. Pellentesque nec erat quam. Morbi erat est, faucibus quis nulla vel, feugiat tristique risus.
                        </div>
                    </div>
                </a>
            </li>
            <li class="scout-list-item" id="">
                <a class="clearfix" href="">
                    <div class="scout-spot-image" style="background-image: url('{% static "scout/img/nikon.jpg" %}')">&nbsp;</div>
                    <div class="scout-spot-content">
                        <div style="padding-left: 10px;">
                            Duis eget tellus aliquam, feugiat velit nec, cursus mauris. Fusce tristique in risus non scelerisque. Cras nec ultrices eros. Pellentesque nec erat quam. Morbi erat est, faucibus quis nulla vel, feugiat tristique risus.
                        </div>
                    </div>
                </a>
            </li>
            <li class="scout-list-item" id="">
                <a class="clearfix" href="">
                    <div class="scout-spot-image" style="background-image: url('{% static "scout/img/macbook-pro.jpg" %}')">&nbsp;</div>
                    <div class="scout-spot-content">
                        <div style="padding-left: 10px;">
                            Duis eget tellus aliquam, feugiat velit nec, cursus mauris. Fusce tristique in risus non scelerisque. Cras nec ultrices eros. Pellentesque nec erat quam. Morbi erat est, faucibus quis nulla vel, feugiat tristique risus.
                        </div>
                    </div>
                </a>
            </li>

        </ol>

        <div id="tech_list_loading" style="display:none;">
            <p class="visually-hidden">loading...</p>
            <div class="sk-fading-circle" aria-hidden="true">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        window.spot_locations = {
            {% for spot in spots %}
                '{{ spot.spot_id }}': {
                    "spot_name": '{{ spot.name }}',
                        "id": '{{ spot.spot_id }}',
                        "building": '{{ spot.building_name }}',
                        "lat": '{{ spot.latitude }}',
                        "lng": '{{ spot.longitude }}',
                },
            {% endfor %}
        };
    </script>

</div>

{% endblock %}

{% block secondary_content %}

<!-- show a map on the list page -->
<div id="study_list_map" class="scout-spot-list-map" style="height:100%; background: #ddd !important;">
    <div class="scout-spot-list-map-loading" style="position:absolute; top: 50%; left: 50%; margin-left:-15px; margin-top: -110px; z-index:9999;">
        <p class="visually-hidden">loading...</p>
        <div class="sk-fading-circle" aria-hidden="true">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</div>

{% endblock %}
