/***
Critical styles needed for first load. Check the app on a mobile device.
Anything that visually appears above the fold should be taken care of in this
file.
***/

// sass variables

$scout-purple: #6564A8;
$scout-button: #2ecc71;
$scout-link: #3498db;

// geolocation bar

.scout-geolocation {


    .scout-geolocation-position { font-size:14px; line-height: 45px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;

        a { text-decoration: none; display: block; padding: 0 20px 0 13px;

            .fa-stack { font-size: 12px; }
            .fa-circle { color: $scout-button; }

            .scout-geolocation-location { color:$scout-link;; text-decoration: underline; display: inline-block; }
            .scout-geolocation-action { color:#bbb; margin-left: 5px; font-size: 12px;}

        }


    }

}

// filter results bar

.scout-filter-results { border-top: solid 1px #ddd;

    a { text-decoration: none; color: $scout-purple; font-size: 14px;}
    label { display: block; font-size: 10px; text-transform: uppercase; color: #aaa; }

    .scout-filter-results-by { padding: 15px 20px 5px 20px; font-size: 14px;
        .scout-filter-results-text { color: #333; font-size: 13px; }
    }
    .scout-filter-results-results { padding: 10px 20px;

        .scout-filter-results-count { color: #000; font-size: 25px; font-weight: bold; display:inline-block; line-height: 30px; }

        .scout-filter-results-actions { float:right; display:inline-block; line-height: 30px;

            a { display: inline-block; margin-left: 10px;

                .fa-stack { font-size: 12px; }
                .fa-circle { color: $scout-button; }

                .scout-filter-results-action { color: $scout-link; text-decoration: underline; }

            }
        }
    }
}

// header

.scout-header { background: #fafafa; border-bottom: solid 1px #d0d1d5; position: relative;

    h1 {
        margin: 0;
        line-height: 60px;
        height: 60px;
        color: $scout-purple;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 30px;
        text-align: left;
        a {
            color: #111;
            text-decoration: none;
            line-height: 60px;
            display: inline-block;
            padding-left: 55px;
        }
    }


    // navigation menu
    .scout-navigation { position: relative; background: #fafafa; line-height: 41px; color: #fff;  margin: 0; padding: 0;

        .scout-navigation-items {
            line-height:37px;
            font-size:14px;
            text-transform:uppercase;
            margin: 0;
            list-style: none;
            padding: 0;

            display: flex;
            flex-flow: row wrap;

            li { margin: 0; padding: 0; flex: 1 0;
                a { display: block;  color: #666; text-decoration: none; text-align: center; border-bottom:solid 4px #fafafa;
                    &:hover { color: $scout-purple; }
                }
                a[disabled="disabled"] { cursor: default;}
            }

            //li:nth-child(2) { margin: 0 10px; }
        }
    }

    .scout-filter { position: absolute; top: 0; right:20px; line-height: 60px;
        a { display: inline-block; text-decoration: none; color: #bbb;
            .fa { color: $scout-purple; }
        }
    }

}

// scrolling body

.scout-scroll { background: #f1f1f1; padding-bottom: 1px;

    // generic card
    .scout-card { margin: 0 0 10px 0; background: #fff; padding: 20px;
        /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
        //border-top: solid 1px #e5e6e9;
        //border-bottom: solid 1px #d0d1d5;

        // general list styles

        ul { list-style: none; margin: 0; padding: 0;
            li { }
        }
    }

    // content
    .scout-content {

        /*** list page ***/

        // list
        .scout-list-container {

            .scout-list-header { }
            .scout-list { padding:0; margin: 0;

                .scout-list-item { list-style:none; border-top:solid 1px #ddd; position: relative;

                    &:first-child{ border-top: none; }

                    a { display:block; text-decoration:none; padding:10px 20px; color:#000; min-height: 100px; overflow: hidden;

                        .scout-spot-image { background-size:cover; background-position: center center; background-repeat: no-repeat; width:30%; height:100px; float:left; position: relative; }
                        .scout-spot-content { display:inline-block; float:left; width:70%; margin:0;

                            // spot details
                            .scout-spot-name { margin: 0; font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 16px; margin-bottom: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

                            .scout-spot-distance { font-family: sans-serif; font-size: 12px; font-weight: normal; color: #bbb; }

                            .scout-spot-type { }

                            .scout-spot-location { font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #666;
                                .fa { color: $scout-purple; }
                            }

                            .scout-spot-food-served { margin: 15px 0 10px; color: #333; text-transform: uppercase; font-size: 11px; line-height: 16px;
                                span { margin-right: 5px; }
                            }

                            .scout-spot-open-period { margin-bottom: 10px; color: #666; text-transform: uppercase; font-size: 14px;
                                span { margin-right: 10px; }
                            }

                            .scout-spot-status { font-size: 12px; white-space: nowrap;
                                .open { color:#D6E9C5; display: block; }
                                .closed { color: #A94441; }
                            }

                        }
                    }
                }
            }
        }

        /*** details page ***/

        // details
        .scout-details-container {

            .scout-spot-image { background-color: #e5e6e9; background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 150px; position: relative;

                //border-top-left-radius: 2px;
                //border-top-right-radius: 2px;

                .scout-spot-status { position: absolute; top: 10px; right: 20px; font-size: 10px; text-transform: uppercase;
                    span {  padding: 0 5px; line-height: 20px; display: inline-block; border-radius: 2px; }
                    .open { background: #D6E9C5; color: #3c763d; }
                    .closed { background: #ebccd1; color: #a94442; }
                }
                .scout-spot-open-period {
                    width: 100px;
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 10px;

                    span { padding: 0 5px; line-height: 20px; display: inline-block; border-radius: 2px; margin-right: 4px; margin-bottom: 4px; background: #444; }
                }
            }

            .scout-spot-alert { margin: 0; padding: 15px 20px; background: #fcf8e3; color: #8a6d3b; font-size: 14px; line-height: 16px;}

            .scout-spot-meta { background: $scout-purple; color: #fff; padding: 10px 20px; position: relative;

                .scout-spot-name { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 18px; margin: 0; line-height: 30px; }
                .scout-spot-type { text-transform: uppercase; font-weight: normal; font-size: 12px; margin: 0; position: absolute; top: 15px; right:20px; color: #ccc;
                    span { margin-left: 10px; }
                }

                .scout-spot-cuisine { margin: 10px 0 5px 0; font-size: 12px; float: left; width: 25%;
                    label { display: block; text-transform: uppercase; font-size: 10px; margin-bottom: 2px; color: #aaa; }
                    span { margin-right: 5px; }
                }

                .scout-spot-food-served { margin: 10px 0 5px 0; font-size: 12px; float: left; width: 75%;
                    label {  display: block; text-transform: uppercase; font-size: 10px; margin-bottom: 2px; color: #aaa; }
                    span { margin-right: 5px; }
                }
            }

            .scout-spot-contact-info { padding:15px 0;

                // details actions
                .scout-spot-phone { padding: 0 20px; }
                .scout-spot-menu { padding: 0 20px; }
                .scout-spot-website { padding: 0 20px; }

                a { text-decoration: none; color:$scout-link; font-size: 14px; display: inline-block; width: 100%; text-overflow: ellipsis; overflow: hidden; line-height: 30px; white-space: nowrap;

                    .fa { margin-right: 10px; }

                    .fa-stack { font-size: 12px; }
                    .fa-circle { color: $scout-button; }

                    .scout-spot-action-text { text-decoration: underline; }
                }

            }

            .scout-spot-content {

                h3 { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 13px; color: #bbb; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px; }

                h4 { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 10px; color: #666; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px;
                    .fa { color: $scout-purple; }
                }

            }
        }

        /*** discover page ***/

        // discover

        .scout-discover-container {

            .scout-discover-content {

                h3 { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 12px; color: #bbb; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px; }

                ol, ul { list-style: none; margin: 0; padding: 0;
                    a { color: #222; text-decoration: none; display: block; font-size: 14px;
                        &:hover { color: $scout-purple; }
                        .fa { color: $scout-purple; margin-right: 3px; }
                        .closed { color: #A94441; font-size: 11px; }

                        .scout-spot-image { background-size:cover; background-repeat: no-repeat; display: inline-block; width: 55px; height: 55px; float:left; margin-right: 10px; }
                        .scout-spot-name { display:block; float:left; width: 75%; line-height: 25px; font-size: 16px;}
                        .scout-spot-location { display:block; float:left; width: 75%; white-space: nowrap; font-size: 12px; color: #666; overflow: hidden; text-overflow: ellipsis; }

                    }

                    .scout-spot-action-text { color: $scout-link; text-decoration: underline; }
                }
            }

        }

        /*** filter page ***/

        // filter

        .scout-filter-container {

            fieldset { border: none; padding: 0; margin:0;  margin-bottom: 20px; float: left; width: 50%;
                legend { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 12px; text-transform: uppercase; margin-bottom: 8px; color: #bbb; padding: 5px 0; letter-spacing: 1px; }
            }
            label { display: block; line-height: 25px; font-size: 14px; white-space: nowrap;
                span { color: #aaa; }
                input[type="checkbox"]  { margin-right: 5px; }
            }

            input[type="button"] { background: $scout-purple; color: #fff; border: none; text-transform: uppercase; padding: 10px 20px; font-size: 13px; border-radius: 2px; }

            .scout-filter-split { width: 100%;

                label { display: inline-block; width: 50%; }

            }

        }

    }

}

// accessibility & helper classes

hr { border: 0; height: 0; border-bottom: 1px solid #ddd; margin: 0 -20px 20px -20px; }

.clearfix:after { // aka clearfix hack
  content: "";
  display: table;
  clear: both;
}

.hidden {
    display:none;
    visibility:hidden;
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
