/***
Critical styles needed for first load. Check the app on a mobile device.
Anything that visually appears above the fold should be taken care of in this
file.
***/

// sass variables

$scout-purple: #6564A8;

// header

.scout-header { background: #fff; border-bottom: solid 1px #d0d1d5;

h1 {
    margin: 0;
    line-height: 60px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    a {
        color: #111;
        text-decoration: none;
        line-height: 60px;
        display: inline-block;
        padding-left: 55px;
    }
}

// spacescout purple #6564A8;

    // navigation menu
    .scout-navigation { position: relative; background: #fff; line-height: 40px; color: #fff;  margin: 0; padding: 0;

        .scout-navigation-items {
            line-height:37px;
            font-size:14px;
            text-transform:uppercase;
            margin: 0;
            list-style: none;
            padding: 0;

            display: flex;
            flex-flow: row wrap;

            li { margin: 0; padding: 0; /*width: 105px;*/ flex: 1 auto;
                a { display: block;  color: #666; text-decoration: none; text-align: center; border-bottom:solid 3px #fff;}
            }

            //li:nth-child(2) { margin: 0 10px; }
        }
    }

}

// scrolling body

.scout-scroll { background: #f1f1f1; padding-bottom: 1px;

    // generic card
    .scout-card { margin: 0 0 10px 0; background: #fff; padding: 20px;
        /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
        //border-top: solid 1px #e5e6e9;
        border-bottom: solid 1px #d0d1d5;

        // general list styles

        ul { list-style: none; margin: 0; padding: 0;
            li { }
        }
    }

    // content
    .scout-content {

        /*** list page ***/

        // filter
        .scout-filter-results-container { padding: 10px 20px; color: #444; font-size: 14px;
            .scout-filter-results { display: inline-block; width: 80%; }
            .scout-filter-display { display: inline-block; width: 20%; vertical-align: top;
                a { display: block; line-height: 35px; text-decoration: none; color: #444; }
            }
        }

        // list
        .scout-list-container {

            .scout-list-header { }
            .scout-list { padding:0; margin: 0;

                .scout-list-item { list-style:none; border-top:solid 1px #ddd; position: relative;

                    &:first-child{ border-top: none; }

                    a { display:block; text-decoration:none; padding:10px 20px; color:#000; height: 100px; overflow: hidden;

                        .scout-spot-image { background-size:cover; width:33%; height:100px; float:left; position: relative; }
                        .scout-spot-content { display:inline-block; float:left; width:67%; margin:0;

                            // spot details
                            .scout-spot-name { margin: 0; font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

                            .scout-spot-type { }

                            .scout-spot-status { font-size: 12px; white-space: nowrap;
                                .open { color:#666; }
                                .closed { color: #A94441; }
                            }

                            .scout-spot-location { font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #666;
                                .fa { color: $scout-purple; }
                            }

                            .scout-spot-food-served { margin: 15px 0; color: #333; text-transform: uppercase; font-size: 11px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                                span { margin-right: 5px; }
                            }

                            .scout-spot-open-period { margin-bottom: 10px; color: #666; text-transform: uppercase; font-size: 14px;
                                span { margin-right: 10px; }
                            }
                        }
                    }
                }
            }
        }

        /*** details page ***/

        // details
        .scout-details-container {

            .scout-spot-alert { margin: 0; padding: 10px 20px; background: #d9edf7; color: #31708f; font-size: 14px; }

            .scout-spot-image { background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 100px; position: relative;

                //border-top-left-radius: 2px;
                //border-top-right-radius: 2px;

                .scout-spot-status { position: absolute; top: 10px; right: 20px; font-size: 10px;
                    span {  padding: 0 5px; line-height: 20px; display: inline-block; border-radius: 2px; }
                    .open { background: #D6E9C5; color: #3c763d; }
                    .closed { background: #ebccd1; color: #a94442; }
                }
                .scout-spot-open-period {
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 10px;
                    span { padding: 0 5px; line-height: 20px; display: inline-block; border-radius: 2px; margin-right: 4px; background: #444; }
                }
            }

            .scout-spot-meta { background: #6564A8; color: #fff; padding: 10px 20px; position: relative;

                .scout-spot-name { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 18px; margin: 0; }
                .scout-spot-type { text-transform: uppercase; font-weight: normal; font-size: 12px; margin: 0; position: absolute; top: 15px; right:20px; color: #ccc;
                    span { margin-left: 10px; }
                }
                .scout-spot-food-served { margin: 15px 0; text-transform: uppercase; font-size: 12px;
                    span { margin-right: 10px; }
                }
            }

            a { text-decoration: none; color: #666; font-size: 14px; display: inline-block; width: 100%; text-overflow: ellipsis; overflow: hidden; line-height: 30px; white-space: nowrap;
                .fa { color: #6564A8; margin-right: 10px; font-size: 20px; }
            }

            .scout-spot-content {

                h3 { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 13px; color: #bbb; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px; }

                h4 { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 10px; color: #666; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px;
                    .fa { color: $scout-purple; }
                }

            }
        }

        /*** discover page ***/

        // discover

        .scout-discover-container {

            .scout-discover-content {

                h3 { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 12px; color: #bbb; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px; }

                ul { list-style: none; margin: 0; padding: 0;
                    a { color: #222; text-decoration: none; line-height: 30px; display: block; font-size: 14px;
                        &:hover { color: $scout-purple; }
                        .fa { color: $scout-purple; margin-right: 3px; }

                        .closed { color: #A94441; font-size: 11px; margin-left: 10px; }
                    }
                }
            }

        }


        /*** filter page ***/

        // filter

        .scout-filter-container {

            fieldset { border: none; padding: 0; margin:0;  margin-bottom: 20px; float: left; width: 50%;
                legend { font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 12px; text-transform: uppercase; margin-bottom: 8px; color: #bbb; padding: 5px 0; letter-spacing: 1px; }
            }
            label { display: block; line-height: 25px; font-size: 14px;
                input[type="checkbox"]  { margin-right: 5px; }

            }

            input[type="button"] { background: $scout-purple; color: #fff; border: none; text-transform: uppercase; padding: 10px 20px; font-size: 13px; border-radius: 2px; }

            .scout-filter-split { width: 100%;

                label { display: inline-block; width: 50%; }

            }

        }

    }

}
