/***
Critical styles needed for first load. Check the app on a mobile device.
Anything that visually appears above the fold should be taken care of in this
file.
***/

// sass variables

$scout-purple: #6564A8;
$scout-button: #2ecc71;
$scout-link: #3498db;
$geolocation-height: 45px;
$footer-height: 40px;

// webfonts

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway.bold-webfont.eot');
    src: url('../fonts/raleway.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway.bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway.bold-webfont.woff') format('woff'),
         url('../fonts/raleway.bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway.bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayheavy';
    src: url('../fonts/raleway.heavy-webfont.eot');
    src: url('../fonts/raleway.heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway.heavy-webfont.woff2') format('woff2'),
         url('../fonts/raleway.heavy-webfont.woff') format('woff'),
         url('../fonts/raleway.heavy-webfont.ttf') format('truetype'),
         url('../fonts/raleway.heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

// global

body { background: #f1f1f1; }

// geolocation bar

.scout-geolocation { height: $geolocation-height; background: #999; position: relative;
    .scout-geolocation-position { font-size:14px; line-height: $geolocation-height; white-space: nowrap; padding: 0 20px 0 13px;
        .fa-stack { font-size: 12px; }
        .fa-circle { color: $scout-button; }
            .scout-geolocation-location { color:#fff; display: inline-block;
                span { color:#ccc; }
            }
            .scout-geolocation-action {  margin-left: 5px; float: right; font-size: 25px;
                button { position: absolute; top: 0; left:0; right:0; text-align: right; border: none; width: 100%; background: transparent; padding: 0;
                    .fa-toggle-on { color: $scout-purple; }
                    .fa-flip-horizontal { color: #777 !important; }
                }
            }
        .scout-geolocation-user { display:none; position:absolute; left:40px; right:20px; background:#999; }
        .scout-geolocation-loading { position:absolute; color:#fff; z-index:0; left:40px; right:20px; }
    }
}

// filter results bar

.scout-filter-results { /*border-top: solid 1px #ddd;*/

    label { display: block; font-size: 10px; text-transform: uppercase; color: #aaa; }

    .scout-filter-results-by { padding: 15px 20px 5px 20px; font-size: 14px;
        label { margin-bottom: 5px; }
        .scout-filter-results-text { color: #333; font-size: 13px; line-height: 15px; }
    }
    .scout-filter-results-results { padding: 10px 20px 15px;

        .scout-filter-results-count { color: #000; font-size: 25px; font-weight: bold; display:inline-block; line-height: 30px; }

        .scout-filter-results-actions { float:right; display:inline-block; line-height: 28px;

            a { display: inline-block; text-decoration: none; font-size: 14px; white-space: nowrap; background: $scout-purple; border: none; padding: 0 10px; border-radius: 2px;
                .scout-filter-results-action { color: #ddd; text-transform: uppercase; text-decoration: none; font-size: 11px; margin-left: 5px;}
            }
        }
    }
}


.scout-primary { padding-top: 102px; }
// header

.scout-header { background: #fff; /*border-bottom: solid 1px #999;*/ position: fixed; top:0; left:0; right:0; z-index: 9999; box-shadow: 0 0 5px rgba(57,70,78,.2);

    h1 {
        margin: 0;
        line-height: 60px;
        height: 60px;
        color: $scout-purple;
        text-transform: uppercase;
        font-family: 'ralewayheavy';
        font-size: 30px;
        text-align: left;
        a {
            color: #111;
            text-decoration: none;
            line-height: 60px;
            display: block;
            padding-left: 55px;
        }
    }


    // navigation menu
    .scout-navigation { position: relative; background: #fff; line-height: 40px; color: #fff;  margin: 0; padding: 0;

        .scout-navigation-items {
            line-height:38px;
            font-size:14px;
            text-transform:uppercase;
            margin: 0;
            list-style: none;
            padding: 0;

            display: flex;
            flex-flow: row wrap;

            li { margin: 0; padding: 0; flex: 1 0;
                a { display: block;  color: #666; text-decoration: none; text-align: center; border-bottom:solid 4px #fff;
                    &:hover { color: $scout-purple; }
                }
                a[disabled="disabled"] { cursor: default;}
            }

            //li:nth-child(2) { margin: 0 10px; }
        }
    }

    .scout-filter { position: absolute; top: 0; right:20px; line-height: 60px;
        a { display: inline-block; text-decoration: none; color: #bbb;
            .fa { color: $scout-purple; }
        }
    }

}

// scrolling body

.scout-scroll { background: #f1f1f1; padding-bottom: 1px;

    // generic card
    .scout-card { margin: 0 0 10px 0; background: #fff; padding: 20px; min-height: 100px;

        // general list styles

        ul { list-style: none; margin: 0; padding: 0;
            li { }
        }
    }

    // content
    .scout-content {

        /*** list page ***/

        // list
        .scout-list-container {

            .scout-list-header { }
            .scout-list { padding:0; margin: 0;

                .scout-list-item { list-style:none; border-top:solid 1px #ddd; position: relative;

                    &:first-child{ border-top: none; }

                    a { display:block; text-decoration:none; padding:10px 20px; color:#000; min-height: 100px; overflow: hidden;

                        .scout-spot-image {  background-color: #fff; background-size:contain; background-position: center center; background-repeat: no-repeat; width:30%; height:100px; float:left; position: relative; }
                        .scout-spot-content { display:inline-block; float:left; width:70%; margin:0;

                            // spot details
                            .scout-spot-name { margin: 0; font-family: 'ralewaybold'; font-size: 16px; margin-bottom: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

                            .scout-spot-distance { font-family: sans-serif; font-size: 12px; font-weight: bold; color: #000; }

                            .scout-spot-type { }

                            .scout-spot-location { font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #666;
                                .fa { color: $scout-purple; }
                            }

                            .scout-spot-food-served { margin: 15px 0 10px; color: #333;  font-size: 11px; line-height: 16px;
                                label { display: block; color: #bbb; }
                                span { margin-right: 5px; text-transform: capitalize; }
                            }

                            .scout-spot-open-period { margin-bottom: 10px; color: #666; text-transform: uppercase; font-size: 14px;
                                span { margin-right: 10px; }
                            }

                            .scout-spot-status { font-size: 12px; white-space: nowrap;
                                .open { color:#D6E9C5; display: block; }
                                .closed { color: #A94441; }
                            }

                        }
                    }
                }
            }
        }

        /*** details page ***/

        // details
        .scout-details-container {

            .scout-details-card { padding: 0; margin-top: 10px; }

            .scout-spot-image { background-color: #fff; background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 200px; position: relative;

                .scout-spot-status { position: absolute; top: 10px; right: 20px; font-size: 10px; text-transform: uppercase;
                    span {  padding: 0 5px; line-height: 20px; display: inline-block; }
                    .open { background: #D6E9C5; color: #3c763d; }
                    .closed { background: #ebccd1; color: #a94442; }
                }
                .scout-spot-open-period {
                    width: 100px;
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 10px;

                    span { padding: 0 5px; line-height: 20px; display: inline-block; margin-bottom: 4px; background: #444; }
                }
            }

            .scout-spot-alert { margin: 0; padding: 15px 20px; background: #fcf8e3; color: #8a6d3b; font-size: 14px; line-height: 16px;}

            .scout-spot-meta { background: $scout-purple; color: #fff; padding: 10px 20px; position: relative;

                .scout-spot-name { font-family: 'ralewaybold'; font-size: 18px; margin: 0; line-height: 30px; }
                .scout-spot-type { text-transform: uppercase; font-weight: normal; font-size: 12px; margin: 0; position: absolute; top: 15px; right:20px; color: #ccc;
                    span { margin-left: 10px; }
                }

                .scout-spot-cuisine { margin: 10px 0 5px 0; font-size: 12px; float: left; width: 25%;
                    label { display: block; text-transform: uppercase; font-size: 10px; margin-bottom: 2px; color: #aaa; }
                    span { margin-right: 5px; }
                }

                .scout-spot-food-served { margin: 10px 0 5px 0; font-size: 12px; float: left; width: 75%;
                    label {  display: block; text-transform: uppercase; font-size: 10px; margin-bottom: 2px; color: #aaa; }
                    span { margin-right: 5px; white-space: nowrap; }
                }
            }

            .scout-spot-contact-info { padding:15px 0;

                // details actions
                .scout-spot-phone { padding: 0 20px; }
                .scout-spot-menu { padding: 0 20px; }
                .scout-spot-website { padding: 0 20px; }

                a { text-decoration: none; color:$scout-link; font-size: 14px; display: inline-block; width: 100%; text-overflow: ellipsis; overflow: hidden; line-height: 30px; white-space: nowrap;

                    .fa { margin-right: 10px; }

                    .fa-stack { font-size: 12px; }
                    .fa-circle { color: $scout-button; }

                    .scout-spot-action-text { text-decoration: underline; }
                }

            }

            .scout-spot-content {

                h3 { font-family: 'ralewaybold'; font-size: 13px; color: #bbb; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px; }

                h4 { font-family: 'ralewaybold'; font-size: 10px; color: #666; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px;
                    .fa { color: $scout-purple; }
                }

            }
        }

        /*** discover page ***/

        // discover

        .scout-discover-container { min-height: 380px;

            .scout-discover-loading { position:absolute; top:50%; left:50%; margin-top: -110px; margin-left: -15px; }
            .scout-discover-content {

                h3 { font-family: 'ralewaybold'; font-size: 12px; color: #bbb; text-transform: uppercase; letter-spacing: 1px; margin: 0; line-height: 35px; }

                ol, ul { list-style: none; margin: 0; padding: 0;

                    li { margin-top: 8px; }
                    li:last-child { text-align: right; margin-top: 15px; }

                    a { color: #222; text-decoration: none; display: block; font-size: 14px;
                        &:hover { color: $scout-purple; }
                        .closed { color: #A94441; font-size: 11px; }

                        .scout-spot-image { background-color: #fff; background-size:contain; background-repeat: no-repeat; background-position: center center; display: inline-block; width: 50px; height: 55px; float:left; margin-right: 10px; }
                        .scout-spot-name { display:block; line-height: 25px; font-size: 15px;}
                        .scout-spot-distance { font-family: sans-serif; font-size: 12px; color: #000; }
                        .scout-spot-location { display:block; float:left; width: 75%; white-space: nowrap; font-size: 12px; color: #666; overflow: hidden; text-overflow: ellipsis; }

                    }

                    .scout-spot-discover-action { display: inline-block; line-height: 30px;
                        .fa-stack { font-size: 12px; }
                        .fa-circle { color: $scout-button; }
                        .scout-spot-action-text {  color: $scout-link; text-decoration: underline; }
                    }
                }
            }

        }

        /*** filter page ***/

        // filter

        .scout-filter-container {

            fieldset { border: none; padding: 0; margin:0;  margin-bottom: 20px; float: left; width: 50%;
                legend { font-family: 'ralewaybold'; font-size: 12px; text-transform: uppercase; margin-bottom: 8px; color: #bbb; padding: 5px 0; letter-spacing: 1px; }
            }
            label { display: block; line-height: 25px; font-size: 14px; white-space: nowrap;
                span { color: #aaa; }
                input[type="checkbox"]  { margin-right: 5px; }
            }

            .scout-filter-split { width: 100%;
                label { display: inline-block; width: 50%; }
            }

            .scout-card:first-child { margin-top:10px; }

            .scout-filter-actions { margin-top:-5px; padding: 20px; text-align: right;

                button { background: $scout-purple; color: #ddd; border: none; text-transform: uppercase; padding: 10px 20px; font-size: 12px; border-radius: 2px;
                    .fa { margin-right: 8px; }

                    &:disabled { background: #999; color: #888;
                        .fa { color: #777; }
                    }

                    &.action-cancel { background: #ddd; color:#666; }
                }

            }

        }

    }

}

// footer
.scout-footer { background: #fafafa; color:#555; width: 100%; font-size: 75%; text-align:center; line-height: $footer-height; border-top: solid 1px #ddd; white-space: nowrap;
    a { color: $scout-link; display: inline-block;  }
    a:first-child { margin-left: 10px; }
}

.scout-error {
    .scout-error-msg { color: red; }
    .scout-error-body { font-size: 14px; color: #222;
        ul { list-style: circle !important; padding-left: 30px !important;
            li { margin-bottom: 5px; color: #777; }
        }
        a { color: $scout-link; }
    }
}

// accessibility & helper classes

hr { border: 0; height: 0; border-bottom: 1px solid #ddd; margin: 0 -20px 20px -20px; }

.clearfix:after { // aka clearfix hack
  content: "";
  display: table;
  clear: both;
}

.hidden {
    display:none;
    visibility:hidden;
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

// loading spinner

.sk-fading-circle {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $scout-purple;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
