// sass variables

$view-panel-width: 430px;
$header-height: 102px;
$footer-height: 40px;
$image-height: 278px;

// desktop styles

body { overflow: hidden; }

// global overrides for action links

.scout-geolocation-action a, .scout-spot-action-text, .scout-coupon-action-text, .scout-footer a, .scout-error a {
    text-decoration: none !important;
    &:hover { text-decoration: underline !important; }
}

// main container
.scout-primary { position:absolute; width: $view-panel-width; top:0; bottom:0;
    //-webkit-box-shadow: 5px 0 20px 0 rgba(0,0,0,0.3); box-shadow: 5px 0 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(57,70,78,.2);

    z-index: 1;

    // header
    .scout-header { width: $view-panel-width;
        h1 {
            a { padding-left: 58px;}
        }
    }

    // scrolling body
    .scout-scroll { position: fixed; top: $header-height; bottom: $footer-height; width: $view-panel-width; left:0; overflow-y: scroll; overflow-x: hidden;margin-top: 0; z-index: -1;

        // content
        .scout-content {

            // filter results
            .scout-filter-results-container {
                .scout-filter-results { display: block; width: 100%; }
                .scout-filter-display {
                    a {  }
                }
            }

            /*** list page ***/

            // list

            .scout-list-container {

                .scout-list {

                    .scout-list-item {

                        a {

                            .scout-spot-image { width:23%; }
                            .scout-spot-content { width:77%; position: relative;
                                .scout-spot-name { }
                                .scout-spot-status { }
                                .scout-spot-location { width: 83%;  }
                                .scout-spot-distance { right: 0; }
                            }
                        }

                    }

                }
            }

            /*** details page ***/
            .scout-details-container {

                .scout-spot-image {
                    height: $image-height;
                    .scout-spot-status {  }
                    .scout-spot-open-period {
                        width: 350px;
                        span { margin-bottom: 0; }
                    }
                }
            }

            .scout-spot-gallery {
                overflow-x: hidden !important;
            }

            /*** filter page ***/
            .scout-filter-container {

                select[multiple] { height: 200px; }
            }

            /*** discover page ***/
            .scout-discover-container {

            }

        }

    }

    // footer
    .scout-footer { width: $view-panel-width; position: absolute; bottom: 0; text-align: left; }

}

// native browser sticky headers (safari/ios and firefox only)

.sticky-header { top: 0; }

// map sidebar container
.scout-secondary { position: fixed; top:0; right:0; bottom:0; left:$view-panel-width; z-index:0; }

// google map & font awesome icons
.scout-spot-list-map {
    .gmnoprint { cursor: pointer !important; }
}

// gmap tooltip styles
.gm-style-iw { line-height: 17px !important;
    a { color: #427fed; text-decoration: none;
        &:hover { text-decoration: underline; }
    }
}

// loading spinner
.sk-fading-circle {
    margin: 90px auto;
}
