// sass variables

$view-panel-width: 450px;
$header-height: 101px;
$footer-height: 30px;

// desktop styles

body { overflow: hidden; }

// main container
.scout-primary { position:absolute; width: $view-panel-width; top:0; bottom:0; -webkit-box-shadow: 5px 0 20px 0 rgba(0,0,0,0.3); box-shadow: 5px 0 20px 0 rgba(0,0,0,0.3); z-index: 1;

    .scout-geolocation-default { }
    .scout-geolocation-shared {  }

    .scout-geolocation-user { font-size: 13px; }
    .scout-geolocation-position { width: 63%; }
    .scout-geolocation-action { }


    // header
    .scout-header { width: $view-panel-width;
        h1 {
            a { padding-left: 58px;}
        }
    }

    // scrolling body
    .scout-scroll { position: fixed; top: $header-height; bottom: $footer-height; width: $view-panel-width; left:0; overflow: scroll; margin-top: 0;

        // content
        .scout-content {

            // filter
            .scout-filter-results-container {
                .scout-filter-results { display: block; width: 100%; }
                .scout-filter-display {
                    a {  }
                }
            }

            .scout-list-container {

                .scout-list {

                    .scout-list-item {

                        a {

                            .scout-spot-image { width:23%; }
                            .scout-spot-content { width:77%; position: relative;

                                .scout-spot-type { font-size: 10px; font-weight: normal; color: #bbb; margin-top: 5px;
                                    position: absolute; top: 0; right: 0;
                                    span { text-transform: uppercase; margin-left: 5px; }
                                }

                                .scout-spot-status { }
                            }
                        }

                    }

                }
            }
        }

    }

    // footer
    .scout-footer { width: $view-panel-width; position: absolute; bottom: 0; text-align: left; }

}

// map sidebar container
.scout-secondary { position: fixed; top:0; right:0; bottom:0; left:450px; z-index:0; }
