/***
Mobile styles not needed in the critical loading. These are mostly the below the
fold styles and general helpers.
***/

// sass variables

$scout-purple: #6564A8;
$scout-button: #2ecc71;
$scout-link: #3498db;
$footer-height: 40px;

// scrolling body

.scout-scroll {

    .scout-content {

        // details
        .scout-details-container {

            .scout-spot-meta { }

            .scout-spot-notes { color: #aaa; font-size: 14px; line-height: 20px; }

            .scout-spot-contact-info { }

            .scout-spot-content {

                // spot details
                .scout-spot-location { margin-bottom: 20px; }

                .scout-spot-description { margin-bottom: 20px; color: #333; font-size: 14px; line-height: 20px; }

                .scout-spot-gallery { overflow-x: scroll; -webkit-overflow-scrolling: touch; overflow-y: hidden; white-space: nowrap; height: 100px; margin-bottom: 15px;
                    ul {
                        li { display: inline-block; margin-right: 8px;
                            img { cursor: pointer; }
                        }
                    }
                }

                .scout-spot-hours { margin-bottom: 20px; color: #333; font-size: 14px; line-height: 16px;

                    ul { margin: 0; padding: 0;
                        li { list-style: none; white-space: nowrap; color: #666;

                            span { display: inline-block;
                                &.day { width: 110px;  text-transform: capitalize; color: #222; }
                                &.closed { color: #a94442; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
                            }
                        }
                    }
                    span { display: inline-block; margin-top: 10px; }
                }

                .scout-spot-building-info { color: #333; font-size: 14px; line-height: 20px; }

                .scout-spot-map { height:200px; margin-bottom: 10px; }
                .scout-spot-map-link { margin-bottom: 15px; font-size: 14px;

                    a { display: block; text-decoration: none; line-height: 30px;

                        .fa-stack { font-size: 12px; }
                        .fa-circle { color: $scout-button; }

                        .scout-map-action-text { color: $scout-link; text-decoration: underline; }

                    }

                }

                .scout-spot-reservation { margin-bottom: 20px; color: #333; font-size: 14px; line-height: 16px; }

                .scout-spot-payment { margin-bottom: 20px; color: #333; font-size: 14px; line-height: 16px;

                    ul { margin: 0; padding: 0;
                        li { list-style: none; }
                    }
                    span { margin-right: 10px; }
                }

                .scout-spot-coupon { color: #333; font-size: 14px; line-height: 16px;

                    .scout-spot-coupon-expire { margin: 10px 0;
                        span { color: #bbb; }
                    }
                    a { display: block; text-decoration: none; line-height: 30px;

                        .fa-stack { font-size: 12px; }
                        .fa-circle { color: $scout-button; }

                        .scout-coupon-action-text { color: $scout-link; text-decoration: underline; }

                    }

                }

            }
        }

    }

}

// sticky header

.sticky { background: #fff; }

.fixed {
  position: fixed;
  top: 102px;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 0;
  // border-bottom: solid 1px #dde4e6;
  box-shadow: 0 0 5px rgba(57,70,78,.2);
}

// google maps

.map-label { background: none; color: #f9f9f9; /*cursor: default !important;*/
    .marker-text { color: #000; margin-left: 8px; text-shadow: 0 0 2px #fff, 0 0 2px #fff; font-weight: bold; display: inline-block; white-space: nowrap;}
    .fa-cutlery:before { margin-left: 1.8px; }
}
