
<form>

    <fieldset>
    <legend>Campus:</legend>
        <div id="campus_select">
            <input type="checkbox" name="seattle" value="seattle" />Seattle <br />
            <input type="checkbox" name="bothell" value="bothell" />Bothell <br />
            <input type="checkbox" name="tacoma" value="tacoma" />Tacoma <br />
            <input type="checkbox" name="south_lake_union" value="south_lake_union" />South Lake Union <br />
        </div>
    </fieldset>

    <fieldset>
        <legend>Hours / Open for: [NOT IMPLEMENTED]</legend>
        <div id="period_select">
            <input type="checkbox" name="breakfast" value="breakfast" />Breakfast <br />
            <input type="checkbox" name="lunch" value="lunch" />Lunch <br />
            <input type="checkbox" name="dinner" value="dinner" />Dinner <br />
            <input type="checkbox" name="late_night" value="late_night" />Late Night <br />
        </div>

    </fieldset>

    <fieldset>
        <legend>Payment accepted:</legend>
        <div id="payment_select">
            <input type="checkbox" value="s_pay_cash">Cash <br />
            <input type="checkbox" value="s_pay_husky">Husky Card <br />
            <input type="checkbox" value="s_pay_dining">Dining Card <br />
            <input type="checkbox" value="s_pay_visa">Visa <br />
            <input type="checkbox" value="s_pay_mastercard">Mastercard <br />
        </div>
    </fieldset>

    <fieldset>
        <legend>Type</legend>
        <div id="type_select">
            <input type="checkbox" value="cafe">Cafes <br />
            <input type="checkbox" value="fine_dining">Fine Dining <br />
            <input type="checkbox" value="food_court">Food Court <br />
            <input type="checkbox" value="food_truck">Food Truck <br />
            <input type="checkbox" value="market">Market <br />
        </div>
    </fieldset>

    <fieldset>
        <legend>Food served</legend>
        <div id="food_select">
            <input type="checkbox" value="s_food_appetizers">Appetizers <br />
            <input type="checkbox" value="s_food_burgers">Burgers <br />
            <input type="checkbox" value="s_food_entrees">Entrees <br />
            <input type="checkbox" value="s_food_espresso">Espresso <br />
            <input type="checkbox" value="s_food_pasta">Pasta <br />
            <input type="checkbox" value="s_food_pizza">Pizza <br />
            <input type="checkbox" value="s_food_salads">Salads <br />
            <input type="checkbox" value="s_food_sandwiches">Sandwiches <br />
            <input type="checkbox" value="s_food_smoothies">Smoothies <br />
            <input type="checkbox" value="s_food_sushi">Sushi <br />
            <input type="checkbox" value="s_food_tacos">Tacos <br />
        </div>
    </fieldset>

    <fieldset>
        <legend>Cuisine</legend>
        <div id="cuisine_select">
            <input type="checkbox" value="s_cuisine_american">American <br />
            <input type="checkbox" value="s_cuisine_bbq">BBQ <br />
            <input type="checkbox" value="s_cuisine_chinese">Chinese <br />
            <input type="checkbox" value="s_cuisine_indian">Indian <br />
            <input type="checkbox" value="s_cuisine_italian">Italian <br />
            <input type="checkbox" value="s_cuisine_japanese">Japanese <br />
            <input type="checkbox" value="s_cuisine_korean">Korean <br />
            <input type="checkbox" value="s_cuisine_mexican">Mexican <br />
            <input type="checkbox" value="s_cuisine_vietnamese">Vietnamese <br />
            <input type="checkbox" value="s_cuisine_light_lunch">Light Lunch <br />
        </div>
    </fieldset>

    <div style="margin-top:1em;">
        <input id="run_search" type="button" value="View Results">&nbsp;&nbsp;
        <input onclick="location.href='/';" type="button" value="Reset">
    </div>

</form>
