
<form>

    <fieldset>
    <legend>Campus:</legend>
        <select multiple>
            <option value="xx" selected="selected">Seattle</option>
            <option value="xx">Bothell</option>
            <option value="xx">Tacoma</option>
            <option value="xx">South Lake Union</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Hours / Open for:</legend>
        <select multiple>
            <option value="xx" selected="selected">Breakfast</option>
            <option value="xx">Lunch</option>
            <option value="xx">Dinner</option>
            <option value="xx">Late Night</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Payment accepted:</legend>
        <select multiple>
            <option value="xx" selected="selected">Cash</option>
            <option value="xx">Husky Card</option>
            <option value="xx">Dining Card</option>
            <option value="xx">Visa/Mastercard</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Restaurant type</legend>
        <select multiple>
            <option value="xx" selected="selected">Cafes</option>
            <option value="xx">Restaurant</option>
            <option value="xx">Fine Dining</option>
            <option value="xx">Food Court</option>
            <option value="xx">Food Truck</option>
            <option value="xx">Market</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Food served</legend>
        <select multiple>
            <option value="xx" selected="selected">Appetizers</option>
            <option value="xx">Burgers</option>
            <option value="xx">Entrees</option>
            <option value="xx">Espresso</option>
            <option value="xx">Pasta</option>
            <option value="xx">Pizza</option>
            <option value="xx">Salads</option>
            <option value="xx">Sandwiches</option>
            <option value="xx">Smoothies</option>
            <option value="xx">Sushi</option>
            <option value="xx">Tacos</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Cuisine</legend>
        <select multiple>
            <option value="xx" selected="selected">American</option>
            <option value="xx">BBQ</option>
            <option value="xx">Chinese</option>
            <option value="xx">Hawaiian</option>
            <option value="xx">Indian</option>
            <option value="xx">Italian</option>
            <option value="xx">Japanese</option>
            <option value="xx">Korean</option>
            <option value="xx">Mexican</option>
            <option value="xx">Vietnamese</option>
            <option value="xx">Light Lunch</option>
        </select>
    </fieldset>

    <div style="margin-top:1em;">
        <input onclick="location.href='/';" type="button" value="View Results">
    </div>

</form>
