
<form>

    <fieldset>
    <legend>Campus:</legend>
        <select multiple id="campus_select">
            <option value="seattle">Seattle</option>
            <option value="bothell">Bothell</option>
            <option value="tacoma">Tacoma</option>
            <option value="south_lake_union">South Lake Union</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Hours / Open for: [NOT IMPLEMENTED]</legend>
        <select multiple>
            <option value="xx">Breakfast</option>
            <option value="xx">Lunch</option>
            <option value="xx">Dinner</option>
            <option value="xx">Late Night</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Payment accepted:</legend>
        <select multiple id="payment_select">
            <option value="s_pay_cash">Cash</option>
            <option value="s_pay_husky">Husky Card</option>
            <option value="s_pay_dining">Dining Card</option>
            <option value="s_pay_visa">Visa</option>
            <option value="s_pay_mastercard">Mastercard</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Restaurant type</legend>
        <select multiple id="type_select">
            <option value="cafe">Cafes</option>
{#            <option value="xx">Restaurant</option>#}
            <option value="fine_dining">Fine Dining</option>
            <option value="food_court">Food Court</option>
            <option value="food_truck">Food Truck</option>
            <option value="market">Market</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Food served</legend>
        <select multiple id="food_select">
{#            <option value="xx">Appetizers</option>#}
{#            <option value="xx">Burgers</option>#}
            <option value="s_food_entrees">Entrees</option>
            <option value="s_food_espresso">Espresso</option>
{#            <option value="xx">Pasta</option>#}
            <option value="s_food_pizza">Pizza</option>
            <option value="s_food_salads">Salads</option>
            <option value="s_food_sandwiches">Sandwiches</option>
            <option value="s_food_smoothies">Smoothies</option>
            <option value="s_food_sushi">Sushi</option>
            <option value="s_food_tacos">Tacos</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Cuisine</legend>
        <select multiple id="cuisine_select">
            <option value="s_cuisine_american">American</option>
            <option value="s_cuisine_bbq">BBQ</option>
            <option value="s_cuisine_chinese">Chinese</option>
{#            <option value="xx">Hawaiian</option>#}
            <option value="s_cuisine_indian">Indian</option>
{#            <option value="xx">Italian</option>#}
{#            <option value="xx">Japanese</option>#}
{#            <option value="xx">Korean</option>#}
{#            <option value="xx">Mexican</option>#}
            <option value="s_cuisine_vietnamese">Vietnamese</option>
            <option value="s_cuisine_light_lunch">Light Lunch</option>
        </select>
    </fieldset>

    <div style="margin-top:1em;">
        <input id="run_search" type="button" value="View Results">&nbsp;&nbsp;
        <input onclick="location.href='/';" type="button" value="Reset">
    </div>

</form>
