{% load staticfiles %}
{% load compress %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="cleartype" content="on">

<!-- http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static "scout/ico/apple-touch-icon-57x57.png" %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static "scout/ico/apple-touch-icon-60x60.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "scout/ico/apple-touch-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "scout/ico/apple-touch-icon-76x76.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "scout/ico/apple-touch-icon-114x114.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "scout/ico/apple-touch-icon-120x120.png" %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static "scout/ico/apple-touch-icon-144x144.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "scout/ico/apple-touch-icon-152x152.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "scout/ico/apple-touch-icon-180x180.png" %}">
<link rel="icon" type="image/png" href="{% static "scout/ico/favicon-32x32.png" %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static "scout/ico/favicon-194x194.png" %}" sizes="194x194">
<link rel="icon" type="image/png" href="{% static "scout/ico/favicon-96x96.png" %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static "scout/ico/android-chrome-192x192.png" %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static "scout/ico/favicon-16x16.png" %}" sizes="16x16">
<link rel="manifest" href="{% static "scout/ico/manifest.json" %}">
<link rel="mask-icon" href="{% static "scout/ico/safari-pinned-tab.svg" %}" color="#6564a8">
<meta name="apple-mobile-web-app-title" content="Scout">
<meta name="application-name" content="Scout">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="{% static "scout/ico/mstile-144x144.png" %}">
<meta name="theme-color" content="#ffffff">

{% if request.is_mobile %}
    <!-- critical (above the fold styles) -->
    {% compress css inline %}
    <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.6.3.min.css" %}">
    <link rel="stylesheet" href="{% static "scout/css/slick.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
    {% endcompress %}
    <!-- async (mobile) -->
    {% compress css %}
    {% endcompress %}
    
{% endif %}

{% if request.is_tablet %}
    <!-- critical (above the fold styles) -->
    {% compress css inline %}
    <!-- inline -->
    <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.6.3.min.css" %}">
    <link rel="stylesheet" href="{% static "scout/css/slick.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/tablet.scss" %}" type="text/x-scss">
    {% endcompress %}
    <!-- async (mobile + tablet) -->
    {% compress css %}
    {% endcompress %}
{% endif %}

{% if is_desktop %}
    <!-- critical (above the fold styles) -->
    {% compress css inline %}
    <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.6.3.min.css" %}">
    <link rel="stylesheet" href="{% static "scout/css/slick.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/critical.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/mobile.scss" %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static "scout/css/desktop.scss" %}" type="text/x-scss">
    {% endcompress %}
    <!-- async (mobile + desktop) -->
    {% compress css %}
    {% endcompress %}

{% endif %}

<!-- javascript -->
{% compress js %}
<script async="async" src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
<script async="async" src="{% static "vendor/js/js.cookie-2.1.0.min.js" %}"></script>
<script async="async" src="{% static "vendor/js/slick.min.js" %}"></script>
<script async="async" src="{% static "scout/js/web.js" %}"></script>
<script async="async" src="{% static "scout/js/layout.js" %}"></script>
<script async="async" src="{% static "scout/js/map.js" %}"></script>
<script async="async" src="{% static "scout/js/filter.js" %}"></script>
<script async="async" src="{% static "scout/js/food-filter.js" %}"></script>
<script async="async" src="{% static "scout/js/study-filter.js" %}"></script>
<script async="async" src="{% static "scout/js/tech-filter.js" %}"></script>
<script async="async" src="{% static "scout/js/navigation.js" %}"></script>
<script async="async" src="{% static "scout/js/list.js" %}"></script>
<script async="async" src="{% static "scout/js/discover.js" %}"></script>
<script async="async" src="{% static "scout/js/geolocation.js" %}"></script>
{% endcompress %}

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:700,900" rel="stylesheet">

<!-- googlme maps -->
{% if google_maps %}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3&amp;key={{ google_maps }}&amp;libraries=geometry"></script>
{% else %}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=geometry"></script>
{% endif %}
<script src="{% static 'vendor/js/markerwithlabel.js' %}"></script>
<script src="{% static 'vendor/js/markerclusterer.js' %}"></script>
<script src="{% static 'vendor/js/OverlappingMarkerSpiderfier.js' %}"></script>
<script type="text/javascript">
    window.staticPath="{% static "" %}"
</script>
{% if google_analytics %}
<!-- google analytics -->
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics }}', {% if devtools_bar %}{'cookieDomain': 'none'}{% else %}'auto'{% endif %});
    ga('send', 'pageview');
</script>
{% endif %}
